Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Enabling warning for no-unsafe-call, no-unsafe-return and restrict-template-expressions rules
  .eslintrc
  packages/react-components/src/components/Alert/Alert.spec.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

removing clsx package from root project
  package-lock.json
  package.json
Due: none

#697 - ActionMenu - Fix for the issue with opening/hiding the menu (#707)
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

UI changes for border
  packages/react-components/src/components/Tab/Tab.module.scss
Due: stylelint --fix, prettier --write

#706 - Tab - UI changes for border (#708)
  packages/react-components/src/components/Tab/Tab.module.scss
Due: stylelint --fix, prettier --write

test deploy
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-refresh-ui.0
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

test
  package.json
Due: none

fix for missing background color
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

#710 - Popover - Fix for missing token value used as background color (#711)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

ui fixes
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: stylelint --fix, prettier --write

change chevron icon size
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

#696 - Avatar - Changes in avatar sizes (#705)
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#713 - Picker - UI fixes (#715)
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

add *.mdx for prettier ignore
  .prettierignore
Due: none

v1.0.0-beta.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fixes after merging
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

new promo banner version
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/assets/promo-img.png
  packages/react-components/src/components/PromoBannerV2/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

export component type, export component in main index file
  packages/react-components/src/components/PromoBannerV2/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

updating prettier, stylelint and lint-staged versions with corresponding plugins
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/src/components/FieldGroup/FieldGroup.module.scss
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Typography/Typography.module.scss
Due: stylelint --fix, prettier --write

updating husky version
  package-lock.json
  package.json
Due: none

style improvements in codebase
  .eslintignore
  .stylelintignore
  .stylelintrc.json
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/stories/components/ColorTokens.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding new lines
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

Linters update (#717)
  .eslintignore
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/src/components/FieldGroup/FieldGroup.module.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/stories/components/ColorTokens.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

temp version for tests
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

ui fixes for refresh
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Info.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

temp version
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix for modal header
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

container queries + docs instructions how to use it
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/assets/Illustration.svg
  packages/react-components/src/components/PromoBannerV2/assets/image2.png
  packages/react-components/src/components/PromoBannerV2/assets/star.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for test, defined font color for banner
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

informaction in the old banner about deprecation
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/constants.ts
Due: eslint --cache --fix, prettier --write

#709 - PromoBannerV2 - New component (#716)
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/assets/Illustration.svg
  packages/react-components/src/components/PromoBannerV2/assets/image2.png
  packages/react-components/src/components/PromoBannerV2/assets/promo-img.png
  packages/react-components/src/components/PromoBannerV2/assets/star.png
  packages/react-components/src/components/PromoBannerV2/constants.ts
  packages/react-components/src/components/PromoBannerV2/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

new styles for buttons, new button variant
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in button styles
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

change native buttons in components to Button component from lib
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
