Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

story fixes
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

Icon component story
  packages/react-components/src/components/Icon/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

story fix
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

[Avatar] Make dynamic background color generator publicly available
  packages/react-components/src/components/Avatar/index.ts
Due: eslint --cache --fix, prettier --write

[Avatar] Make dynamic background color generator publicly available (#805)
  packages/react-components/src/components/Avatar/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.11
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

Explicitly bonding icons library version in the components library
  package-lock.json
  packages/react-components/package.json
Due: none

fixes
  package-lock.json
  packages/example-react/src/App.tsx
  packages/icons/index.html
  packages/icons/src/App.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/stories/components/IconsShowcase.tsx
  packages/react-components/src/stories/components/TablerIconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.icons.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

removing material icon set stories from storybook
  packages/icons/generate-icons-list.js
  packages/icons/lib/icon/icons.ts
  packages/icons/lib/icon/index.ts
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/components/IconsShowcase.tsx
  packages/react-components/src/stories/components/TablerIconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.icons.2
  lerna.json
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

enabling preserve Modules and moving react to dev dependencies
  package-lock.json
  packages/icons/package.json
  packages/icons/vite.config.ts
Due: eslint --cache --fix, prettier --write

Switch - fix for controlled component mode
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

Switch - adding test case
  packages/react-components/src/components/Switch/Switch.spec.tsx
Due: eslint --cache --fix, prettier --write

fixes for spacings
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

fix for icon story
  packages/react-components/src/components/Icon/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.icons.3
  lerna.json
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

spacing fix
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

remove leftover
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#757 - Tag - New size and spacing fixes (#803)
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Switch - fix for controlled component mode (#809)
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.12
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

action menu fixes
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes to small size
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

remove unused logic
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#808 - Badge - Changes to small size (#813)
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

details card component basic features
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in the keyboard navigation logic
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

removed id prop
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

tree-shakable icons
  .eslintignore
  packages/icons/.eslintignore
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/scripts/createEntryConfig.js
  packages/icons/scripts/updateExports.js
  packages/icons/vite.config.ts
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

fix for file path
  packages/icons/package.json
  packages/icons/scripts/updateExports.js
Due: eslint --cache --fix, prettier --write

improving lerna cache
  nx.json
Due: none

improving lerna build deps
  package.json
  packages/icons/package.json
Due: none

include types declaration for icons in package exports
  packages/icons/package.json
  packages/icons/scripts/updateExports.js
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

improvements for exports creating script
  packages/icons/package.json
  packages/icons/scripts/updateExports.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
