Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Toast stories + unit tests
  packages/react-components/src/components/Toast.spec.tsx
  packages/react-components/src/components/Toast.tsx
  packages/react-components/src/stories/Toast.stories.tsx
Due: eslint --cache --fix, prettier --write

ToastWrapper unit tests and some improvements
  packages/react-components/src/components/ToastWrapper.spec.tsx
  packages/react-components/src/components/ToastWrapper.tsx
  packages/react-components/src/stories/Toast.stories.tsx
  packages/react-components/src/stories/ToastWrapper.stories.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  .stylelintrc.json
  package.json
  packages/react-components/package.json
  packages/react-components/src/components/Toast.spec.tsx
  packages/react-components/src/components/Toast.tsx
Due: eslint --cache --fix, prettier --write

update package-locks
  package-lock.json
  packages/react-components/package-lock.json
Due: none

changes in designs after review
  packages/styles/src/components/_banner.scss
  packages/styles/src/components/_promo.scss
Due: stylelint --fix, prettier --write

change lint params for fixing styles
  .stylelintrc.json
  packages/styles/package.json
Due: none

components rename
  packages/react-components/src/components/Alert.spec.tsx
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/AlertIcon.tsx
  packages/react-components/src/components/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/stories/Alert.stories.tsx
  packages/react-components/src/stories/PromoBanner.stories.tsx
  packages/styles/src/components/_alert.scss
  packages/styles/src/components/_promo-banner.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Alert.spec.tsx
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/components/Toast.spec.tsx
  packages/react-components/src/components/Toast.tsx
  packages/react-components/src/components/ToastWrapper.spec.tsx
  packages/react-components/src/components/ToastWrapper.tsx
  packages/react-components/src/stories/Alert.stories.tsx
  packages/styles/package.json
  packages/styles/src/components/_alert.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

stories with templates
  packages/react-components/src/stories/Alert.stories.tsx
  packages/react-components/src/stories/PromoBanner.stories.tsx
  packages/react-components/src/stories/Toast.stories.tsx
Due: eslint --cache --fix, prettier --write

Upgrade microbundle package
  .gitignore
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Change description in typo-docs + minor adjustment for css value
  packages/react-components/src/stories/foundations/Typography.stories.mdx
  packages/styles/src/typography/_mixins.scss
Due: stylelint --fix, prettier --write

Added global styles to storybook (proper display font outside the components)
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

Remove unnecessary global storybook css rule
  packages/react-components/.storybook/global.css
  packages/styles/src/components/_badge.scss
Due: stylelint --fix, prettier --write

Adjustments after review/QnA
  packages/react-components/src/components/Heading.tsx
  packages/react-components/src/components/Text.tsx
  packages/react-components/src/stories/foundations/Typography.stories.mdx
  packages/styles/src/typography/_classTokens.scss
  packages/styles/src/typography/_mixins.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added description in typo docs
  packages/react-components/src/stories/foundations/Typography.stories.mdx
Due: none

Added Foundation/Typography doc page
  packages/react-components/.storybook/global.css
  packages/react-components/src/components/Heading.tsx
  packages/react-components/src/components/Text.tsx
  packages/react-components/src/stories/foundations/Typography.stories.mdx
  packages/styles/src/styles.scss
  packages/styles/src/typography/_classTokens.scss
  packages/styles/src/typography/_mixins.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added style-lint-config-prettier
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/.storybook/global.css
Due: stylelint --fix, prettier --write

Change default heading size to md
  packages/react-components/src/components/Heading.tsx
Due: eslint --cache --fix, prettier --write

DS-148 Typography tokens (#268)
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/.storybook/global.css
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Heading.tsx
  packages/react-components/src/components/Text.tsx
  packages/react-components/src/stories/foundations/Typography.stories.mdx
  packages/styles/src/components/_badge.scss
  packages/styles/src/styles.scss
  packages/styles/src/typography/_classTokens.scss
  packages/styles/src/typography/_mixins.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

moving switch to storybook
  packages/react-components/src/components/Switch.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/stories/Switch.stories.tsx
  packages/styles/src/components/_switch.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

TextField component + stories + tests
  .stylelintrc.json
  packages/react-components/src/components/TextField.spec.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/TextField.stories.tsx
  packages/styles/src/components/_text-field.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: RadioButton WIP
  .gitignore
  packages/react-components/src/components/FieldDescription.tsx
  packages/react-components/src/components/RadioButton.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_radio-button.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: RadioButton adding missed focus and hover modes
  packages/styles/src/components/_radio-button.scss
Due: stylelint --fix, prettier --write

DS-152 - Banner component (#262)
  .stylelintrc.json
  package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Alert.spec.tsx
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/AlertIcon.tsx
  packages/react-components/src/components/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/components/Toast.spec.tsx
  packages/react-components/src/components/Toast.tsx
  packages/react-components/src/components/ToastIcon.tsx
  packages/react-components/src/components/ToastWrapper.spec.tsx
  packages/react-components/src/components/ToastWrapper.tsx
  packages/react-components/src/stories/Alert.stories.tsx
  packages/react-components/src/stories/PromoBanner.stories.tsx
  packages/react-components/src/stories/Toast.stories.tsx
  packages/react-components/src/stories/ToastWrapper.stories.tsx
  packages/styles/src/components/_alert.scss
  packages/styles/src/components/_promo-banner.scss
  packages/styles/src/components/_toast.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

InputField component
  packages/react-components/src/components/InputField.spec.tsx
  packages/react-components/src/components/InputField.tsx
  packages/react-components/src/stories/InputField.stories.tsx
  packages/react-components/src/stories/TextField.stories.tsx
  packages/styles/src/components/_input-field.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: RadioButton styling improvements
  packages/react-components/src/components/FieldDescription.tsx
  packages/react-components/src/components/RadioButton.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
  packages/styles/src/components/_radio-button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: RadioButton storybook fix
  packages/react-components/src/stories/RadioButton.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-170: RadioButton adding tests and installing @testing-library/user-event
  package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/RadioButton.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-170: RadioButton minor improvement
  packages/react-components/src/components/RadioButton.tsx
Due: eslint --cache --fix, prettier --write

migrated Card component
  packages/react-components/src/components/Card.spec.tsx
  packages/react-components/src/components/Card.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Card.stories.tsx
  packages/styles/src/components/_card.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

use 4px border-radius
  packages/styles/src/components/_card.scss
Due: stylelint --fix, prettier --write

added test
  packages/react-components/src/components/Switch.spec.tsx
  packages/styles/src/components/_switch.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: Checkbox WIP
  packages/react-components/src/components/Checkbox.tsx
  packages/react-components/src/components/CheckboxField.tsx
  packages/styles/src/components/_checkbox.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix hover state color
  packages/styles/src/components/_switch.scss
Due: stylelint --fix, prettier --write

DS-171: FormGroup WIP
  packages/react-components/src/components/FieldError.tsx
  packages/react-components/src/components/FieldGroup.tsx
  packages/react-components/src/components/FieldLabel.tsx
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_field-group.scss
  packages/styles/src/components/_field-label.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

use typography for Card
  packages/react-components/src/components/Card.tsx
  packages/react-components/src/stories/Card.stories.tsx
  packages/styles/src/components/_card.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

adjust border color
  packages/styles/src/components/_card.scss
Due: stylelint --fix, prettier --write

add template icon
  packages/icons/src/add_template.svg
Due: none
