Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

fix
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

fix after review
  packages/react-components/src/components/Search/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

responsive version of promo banner
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix tests
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-192 - Alert container full width (#304)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.spec.tsx
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix module exports in icons package
  packages/icons/.babelrc
  packages/icons/package-lock.json
  packages/icons/package.json
Due: none

v1.0.0-alpha.8
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Fix build cmjs issues with vite icons package
  .github/workflows/chromatic.yml
  package.json
  packages/icons/package.json
  packages/react-components/package-lock.json
Due: none

changes after review
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.9
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Switch to @storybook/builder-vite
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

Upgrade storybook to latest version
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Switch enums to types where it was possible
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Toast/ToastWrapper.tsx
  packages/react-components/src/components/Typography/Heading.tsx
Due: eslint --cache --fix, prettier --write

Fix lodash import problem
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.10
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Fix building icons package
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
  packages/example-react/vite.config.ts
  packages/icons/.gitignore
  packages/icons/index.d.ts
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/tsconfig.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.11
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Fix chromatic deployment|
  package.json
Due: none

Fix build-storybook by bringing back build:ts
  package.json
  packages/icons/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

changes
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix addon-docs problem
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Change Alert type to kind with string type
  packages/react-components/src/components/Alert/Alert.spec.tsx
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Icon/index.ts
Due: eslint --cache --fix, prettier --write

Change IconType and IconSize
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

Toast enums
  packages/react-components/src/components/Toast/Toast.spec.tsx
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Toast/ToastWrapper.stories.tsx
Due: eslint --cache --fix, prettier --write

Switch enums
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

Progress enums
  packages/react-components/src/components/Progress/ProgressBar.spec.tsx
  packages/react-components/src/components/Progress/ProgressBar.stories.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/constants.ts
  packages/react-components/src/components/Progress/helpers.ts
Due: eslint --cache --fix, prettier --write

fix missing export in progress
  packages/react-components/src/components/Progress/index.ts
Due: eslint --cache --fix, prettier --write

Fix Toast wrapper story
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Toast/ToastWrapper.stories.tsx
  packages/react-components/src/components/Toast/ToastWrapper.tsx
Due: eslint --cache --fix, prettier --write

Enums -> types (#313)
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Alert/Alert.spec.tsx
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Icon/index.ts
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Progress/ProgressBar.spec.tsx
  packages/react-components/src/components/Progress/ProgressBar.stories.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/constants.ts
  packages/react-components/src/components/Progress/helpers.ts
  packages/react-components/src/components/Progress/index.ts
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.spec.tsx
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Toast/ToastWrapper.stories.tsx
  packages/react-components/src/components/Toast/ToastWrapper.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

add onFocus and onBlur handlers to NumericInput
  packages/design-system/src/components/NumericInputField/NumericInput.js
Due: eslint --cache --fix, prettier --write

changelog and version bump
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
Due: prettier --write

Add onFocus and onBlur handlers to NumericInput (#314)
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/components/NumericInputField/NumericInput.js
Due: eslint --cache --fix, prettier --write

extend INumericInputProps interface
  packages/design-system/src/interfaces/forms.d.ts
Due: eslint --cache --fix, prettier --write

extend INumericInputProps interface (#315)
  packages/design-system/src/interfaces/forms.d.ts
Due: eslint --cache --fix, prettier --write

Updates
  build/bundle.5215351e.js
  index.html
  packages/colors/dist/types/design-system-colors.d.ts
  packages/colors/dist/types/design-system-colors.test.d.ts
  styles.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

Checkbox
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.spec.tsx
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Checkbox/CheckboxField.stories.tsx
  packages/react-components/src/components/Checkbox/CheckboxField.tsx
  packages/react-components/src/components/Checkbox/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Radio button
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Form
  packages/react-components/src/components/Form/Form.stories.tsx
Due: eslint --cache --fix, prettier --write

Form Group
  packages/react-components/src/components/FormGroup/FormGroup.stories.tsx
Due: eslint --cache --fix, prettier --write

Input
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Input/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
