Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(OnboardingChecklist): ui update
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RangeDatePickerV2): tests update
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(RangeDatePickerV2): new variant of component (#1464)
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.mdx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.module.scss
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.spec.tsx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.module.scss
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.tsx
  packages/react-components/src/components/RangeDatePickerV2/helpers.ts
  packages/react-components/src/components/RangeDatePickerV2/index.ts
  packages/react-components/src/components/RangeDatePickerV2/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): changes in project structure and emotion labels enabled
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/components/index.ts
  packages/react-components/src/components/Accordion/helpers.tsx
Due: eslint --cache --fix, prettier --write

refactor(UserGuide): remove 'shouldSlide' prop from UserGuide stories
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): add isInteractive prop and update stories with interactive elements
  packages/react-components/src/components/UserGuide/UserGuide.stories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): make components uninteractive
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

feat(Tokens): add new border AI tokens and update color documentation
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Checkbox): add indeterminate state and update old styles
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Checkbox): disable stylelint
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

feat(Tokens): add new color and shadow tokens
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Tokens): add documentation to colors
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Tokens): add documentation to shadows
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Shadow/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Tokens): add missing variables
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): component update with animated arrow
  .stylelintrc.json
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/index.ts
  packages/react-components/src/components/UserGuide/styles/transitions.scss
  packages/react-components/src/components/UserGuide/types.ts
  packages/react-components/src/foundations/transition.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Tokens): correct description formatting for border color
  packages/react-components/src/stories/foundations/Color/data.ts
Due: eslint --cache --fix, prettier --write

feat(Checkbox): add indeterminate state and update old styles (#1489)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Tokens): update content-ai-copilot-invert gradient
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Tokens): add new color and shadow tokens (#1490)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(EmptyState): add base EmptyState component
  packages/react-components/src/components/EmptyState/EmptyState.mdx
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/index.ts
  packages/react-components/src/components/EmptyState/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(EmptyState): update button text
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): change after review
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
Due: stylelint --fix, prettier --write

fix(OnboardingChecklist): UI updates (#1488)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(EmptyState): updated component with styles and examples in stpries
  packages/react-components/src/components/EmptyState/EmptyState.mdx
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.spec.tsx
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(EmptyState): add border-radius to styles and update placeholder image size in stories
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(EmptyState): adjust story styles
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
Due: stylelint --fix, prettier --write

fix(EmptyState): fix spacing
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
Due: stylelint --fix, prettier --write

feat(EmptyState): add centered alignment option and update styles in stories
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

style(EmptyState): add max-width to improve layout responsiveness
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
Due: stylelint --fix, prettier --write

feat(EmptyState): exclude 'description' and 'image' controls in story parameters
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
Due: eslint --cache --fix, prettier --write

refactor(EmptyState): remove redundant fragment
  packages/react-components/src/components/EmptyState/EmptyState.tsx
Due: eslint --cache --fix, prettier --write

feat(EmptyState): fix coderabbit nitpicks
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/types.ts
Due: eslint --cache --fix, prettier --write

fix(LegacyModal): fix legacy modal message
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

feat(UserGuide): new user guide with moving arrow
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/types.ts
  packages/react-components/src/components/UserGuide/stories-helpers.css
  packages/react-components/src/components/UserGuide/stories-helpers.tsx
  packages/react-components/src/stories/assets/cursor.svg
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(EmptyState): enhance image handling with max dimensions
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): api update
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): arrow as svg
  packages/react-components/src/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

style(EmptyState): update max-width and max-height for improved responsiveness
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
Due: stylelint --fix, prettier --write

refactor(DesignToken): format design token definitions fir linter
  packages/react-components/src/foundations/design-token.ts
Due: eslint --cache --fix, prettier --write

v2.16.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
