Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

v1.4.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Popover): Component refactor with FloatingIU (#875)
  packages/react-components/src/components/Popover/Popover.mdx
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Popover/Popover.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/index.ts
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in the details card
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for the buttons align
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

style fixes
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

fix(PromoBannerV2): Style fixes (#880)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

feat(Picker):
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/PickerV2/Picker.module.scss
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): separate PickerListComponent
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): separated PickerListItem component
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

v1.5.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): separated PickerTrigger component
  packages/react-components/src/components/PickerV2/Picker.module.scss
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/components/PickerTrigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

vertical mode, selected item icon if not visible
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/types.ts
  packages/react-components/src/components/Button/styles/icon.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

style changes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/index.ts
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

animations, selected menu item icon
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

active state for menu selected item button
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
Due: stylelint --fix, prettier --write

style changes, some code changes
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Alert): Change in buttons align (#881)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in styles
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DetailsCard): Style changes, added possibility to pass own element to card label (#879)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionBar): vertical mode, selected item icon if not visible (#887)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/index.ts
  packages/react-components/src/components/ActionBar/types.ts
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Button/styles/icon.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.6.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

new icons
  packages/icons/entryConfig.ts
  packages/icons/svg/arrow-bar-left.svg
  packages/icons/svg/arrow-bar-right.svg
  packages/icons/svg/text_logo-filled.svg
  packages/icons/svg/text_logo.svg
Due: eslint --cache --fix, prettier --write

fix the naming
  packages/icons/svg/text_logo-filled.svg
  packages/icons/svg/text_logo.svg
  packages/icons/svg/text_logo_filled.svg
Due: none

fix(Icons): Icons update (#890)
  packages/icons/entryConfig.ts
  packages/icons/svg/arrow-bar-left.svg
  packages/icons/svg/arrow-bar-right.svg
  packages/icons/svg/text_logo.svg
  packages/icons/svg/text_logo_filled.svg
Due: eslint --cache --fix, prettier --write

v1.6.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

Styles fix
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
Due: stylelint --fix, prettier --write

fix(DetailsCard): Styles fix (#892)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
Due: stylelint --fix, prettier --write

v1.6.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): multiple select WIP
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): handle select improvements
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): improved list styles
  packages/react-components/src/components/PickerV2/Picker.module.scss
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix preventing to center the content
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

fix(Alert): fix preventing to center the content (#894)
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

v1.6.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): PickerTrigger component
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTrigger.module.scss
  packages/react-components/src/components/PickerV2/components/PickerTrigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

added rightNode to pass own element to the label
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat[DetailsCard): Added rightNode to pass own element to the label (#897)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.6.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): PickerTriggerBody component
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/PickerV2/components/PickerTriggerBody.tsx
  packages/react-components/src/components/PickerV2/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
