Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Typography): improve heading size mapping and example rendering
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, prettier --write

feat(Typography): add key prop to React.Fragment in HeadingExamples
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, prettier --write

feat(Typography): swap React.Fragment and fragment syntax in HeadingExamples
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, prettier --write

feat(Icons): add new icon WhatsAppColored
  packages/icons/svg/whats-app-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Button): update button text wrapping
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): adjust height
  packages/react-components/src/components/Button/styles/icon.scss
Due: stylelint --fix, prettier --write

feat(Button): add plain button style variant
  packages/react-components/src/components/Button/styles/icon.scss
Due: stylelint --fix, prettier --write

fix(Button): fix Button text wrapping
  packages/react-components/src/components/Button/styles/base.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): complete animation
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/foundations/transition.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): animated footer
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icons): add new icon WhatsAppColored (#1504)
  packages/icons/svg/whats-app-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): animated text fix
  packages/react-components/src/components/UserGuide/components/AnimatedTextContainer/AnimatedTextContainer.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): story logic update
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Typography): add 3xs heading size (#1503)
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): complete animation update
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionCard): add loading state with optional animation
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.spec.tsx
  packages/react-components/src/components/ActionCard/ActionCard.stories.tsx
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/types.ts
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/styles/_animations.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField, Input, NumericInput, TagInput, Picker, Textarea, Autocomplete): add readonly state (#1497)
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/AutoComplete/types.ts
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Input/types.ts
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
  packages/react-components/src/components/ReadOnlyText/ReadOnlyText.tsx
  packages/react-components/src/components/ReadOnlyText/index.ts
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/types.ts
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
  packages/react-components/src/providers/ReadOnlyFormFieldProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionCard): remove unnecessary !important on cursor
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
Due: stylelint --fix, prettier --write

feat(ActionCard): remove LoadingState type
  packages/react-components/src/components/ActionCard/types.ts
Due: eslint --cache --fix, prettier --write

feat(ActionCard): improve accessibility for loading state and types
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): docs update
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): remove flex-shrink property
  packages/react-components/src/components/Button/styles/base.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): tests
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): animated text container component
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.mdx
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.stories.tsx
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/AnimatedTextContainer/index.ts
  packages/react-components/src/components/AnimatedTextContainer/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

docs(RangeDatePickerV2): remove WithInitialSelectedOption story that was breaking chromatic
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(RangeDatePickerV2): remove WithInitialSelectedOption story (#1508)
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): add support for toggling dropdown via chevron icon
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): make input clickable as well
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): remove unused event parameter in handleClick
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): prevent dropdown toggle on space click
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

test(Picker): update test to check input click for dropdown toggle
  packages/react-components/src/components/Picker/Picker.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): add clearSearchAfterSelection prop for single and multi select modes
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): fix for dark mode
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): add shortcuts examples story with keyboard symbols
  packages/react-components/src/components/Icon/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(icon): adds slack icon
  package.json
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(icon): adds slack icon
  packages/icons/svg/slack.svg
Due: none

fix: removes pnpm in package.json
  package.json
Due: none

feat(UserGuide): colors update
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): overlay animation and blur, typing animation (#1501)
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.mdx
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.stories.tsx
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/AnimatedTextContainer/index.ts
  packages/react-components/src/components/AnimatedTextContainer/types.ts
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
  packages/react-components/src/components/UserGuide/components/index.ts
  packages/react-components/src/components/UserGuide/index.ts
  packages/react-components/src/components/UserGuide/types.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): docs changes
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
