Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

docs(ShadowToken): Add docs for Shadow tokens (#957)
  packages/react-components/src/stories/Shadow.stories.mdx
  packages/react-components/src/stories/components/Shadow.tsx
  packages/react-components/src/stories/components/ShadowExamples.module.scss
  packages/react-components/src/stories/components/ShadowExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): tooltip arrow style fix
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

fix(Tooltip): tooltip arrow style fix (#970)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

v1.16.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

build(deps-dev): updating get-func-name version
  package-lock.json
Due: none

build(deps-dev): updating get-func-name version (#971)
  package-lock.json
Due: none

build(Storybook): updating storybook and resetting package-lock
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

fix(components): adding aria-label
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Modal/components/ModalCloseButton.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

fix(components): adding aria-label
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

fix(components): fix
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

fix(components): interface improvements
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/utils/constants.ts
  packages/react-components/src/utils/index.ts
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, prettier --write

fix(components): interface improvements
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(components): Adding aria-label to close buttons in components (#973)
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Modal/components/ModalCloseButton.tsx
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/utils/constants.ts
  packages/react-components/src/utils/index.ts
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, prettier --write

v1.16.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

build(Storybook): updating storybook and resetting package-lock (#972)
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

chromatic dm test
  packages/react-components/.storybook/modes.js
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

test
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

test
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/modes.js
  packages/react-components/.storybook/preview-head.html
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

test
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

test
  packages/react-components/.storybook/preview-head.html
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

test
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/modes.js
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

removed old addon
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

comment change
  package-lock.json
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

Light/Dark theme visual tests in Chromatic (#978)
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/modes.js
  packages/react-components/.storybook/preview-head.html
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

fix(docs): adding welcome page and sorting storybook nav
  packages/react-components/.storybook/preview.js
  packages/react-components/src/docs/documentation/welcome.stories.mdx
Due: eslint --cache --fix, prettier --write

fix(docs): improving welcome and contribution pages
  README.md
  docs/CONTRIBUTION.md
  docs/assets/helpdesk-logo.png
  docs/assets/knowledgebase-logo.png
  docs/assets/livechat-logo.png
  packages/react-components/src/docs/documentation/contribution.stories.mdx
  packages/react-components/src/docs/foundations/ColorTokens.stories.mdx
  packages/react-components/src/docs/foundations/Radius.stories.mdx
  packages/react-components/src/docs/foundations/Shadow.stories.mdx
  packages/react-components/src/docs/foundations/Spacing.stories.mdx
  packages/react-components/src/docs/foundations/TablerIcons.stories.mdx
  packages/react-components/src/docs/foundations/Transition.stories.mdx
  packages/react-components/src/docs/foundations/Typography.stories.mdx
Due: prettier --write

fix(docs): improving welcome and contribution pages
  docs/CONTRIBUTION.md
  packages/react-components/src/docs/documentation/welcome.stories.mdx
Due: prettier --write

new card animaton for hidden label
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(docs): fix for main readme file
  README.md
Due: prettier --write

fix(docs): improving main readme file
  README.md
Due: prettier --write

remove focus on float button
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

docs(readme): separate readme files for subpackages
  packages/icons/README.md
  packages/react-components/README.md
Due: prettier --write

build(commit): adding commitlint to restrict commit messages
  .commitlintrc.js
  .husky/commit-msg
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

small refactor
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DetailsCard): New animation for card open/close with hidden label mode (#979)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

release changes
  packages/react-components/.storybook/preview-head.html
Due: none

v1.16.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

docs(README): Adding separate README for subpackages (#984)
  packages/icons/README.md
  packages/react-components/README.md
Due: prettier --write
