Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

style fixes
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

style fixes
  packages/react-components/src/components/Tag/Tag.spec.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

text wrap revert
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

adding ellipsis variant to the Tag story
  packages/react-components/src/components/Tag/Tag.stories.tsx
Due: eslint --cache --fix, prettier --write

fixing ellipsis for different browsers compatibility
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

border width 1px
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

Replacing leftIcon, rightIcon, avatar props with leftNode and rightNode (#779)
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.spec.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-beta.7
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

Adding tooltip support for a Tag component content
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/helpers.ts
  packages/react-components/src/components/Tag/hooks/use-is-overflow.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Updating surface avatar color tokens for all themes
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

[Color tokens] - Update avatars colors (#783)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix for selecting items by keyboard logic
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

#781 - [ActionMenu] - Fix for selecting items by keyboard logic (#784)
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.8
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

documentation page for radius tokens
  packages/react-components/src/stories/Radius.stories.mdx
  packages/react-components/src/stories/components/Radius.tsx
  packages/react-components/src/stories/components/RadiusExamples.module.scss
  packages/react-components/src/stories/components/RadiusExamples.tsx
  packages/react-components/src/stories/components/Spacing.tsx
  packages/react-components/src/stories/components/Table.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fix for small container
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#787 [Picker] - ui fix for small container (#788)
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

[Avatar] Return color based on text, not initials. Apply background color only in case of image type.
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

#789 #790 [Avatar] Return color based on text, not initials. Apply background color only in case of image type (#791)
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

usage column
  packages/react-components/src/stories/components/Radius.tsx
Due: eslint --cache --fix, prettier --write

#785 - Documentation page for radius tokens (#786)
  packages/react-components/src/stories/Radius.stories.mdx
  packages/react-components/src/stories/components/Radius.tsx
  packages/react-components/src/stories/components/RadiusExamples.module.scss
  packages/react-components/src/stories/components/RadiusExamples.tsx
  packages/react-components/src/stories/components/Spacing.tsx
  packages/react-components/src/stories/components/Table.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-beta.9
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

fix for labeled header in full space content type of modal, added possibility to display avatar in the header
  packages/react-components/src/components/Avatar/index.ts
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

consistent buttons
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for moving avatar when rim is visible
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

icons update
  packages/icons/svg/tabler/alert-spam-filled.svg
  packages/icons/svg/tabler/alert-spam.svg
  packages/icons/svg/tabler/facebook-colored.svg
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/messages-filled.svg
  packages/icons/svg/tabler/messages.svg
  packages/icons/svg/tabler/messenger-colored.svg
  packages/icons/svg/tabler/messenger.svg
  packages/icons/svg/tabler/report-filled.svg
  packages/icons/svg/tabler/report.svg
Due: none

[Avatar] - Fix for moving avatar when rim is visible (#796)
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

close icon size change for small component
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

change
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

docs update
  packages/react-components/src/components/Tag/Tag.stories.tsx
Due: eslint --cache --fix, prettier --write

new gradient tokens
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

#773 - New gradient tokens (#800)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

text button styles fix
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

#771 - Tag - Close icon size change for small component (#798)
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

line-height change
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

#769 - Icons update (#797)
  packages/icons/svg/tabler/alert-spam-filled.svg
  packages/icons/svg/tabler/alert-spam.svg
  packages/icons/svg/tabler/facebook-colored.svg
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/messages-filled.svg
  packages/icons/svg/tabler/messages.svg
  packages/icons/svg/tabler/messenger-colored.svg
  packages/icons/svg/tabler/messenger.svg
  packages/icons/svg/tabler/report-filled.svg
  packages/icons/svg/tabler/report.svg
Due: none

change button size in ActionBar
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
Due: eslint --cache --fix, prettier --write

#794 [ActionBar] - Fixes with different button types (#795)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
