Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Picker): filtering by secondaryText
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): filtering by secondaryText (#1126)
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

v1.22.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ColorTokens): new and updated color tokens
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ColorTokens): updating colors
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DatePicker): prevent infinite update
  packages/react-components/src/components/DatePicker/DatePicker.tsx
Due: eslint --cache --fix, prettier --write

fix(Tag): change element html tag to prevent button nesting errors
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): plain type hover and active tokens change
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Picker): changing calculation logic for initial height of the list
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): PickerList height initial value calculation (#1132)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(ColorToken): scss var fixes
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ColorTokens): new and updated color tokens (#1127)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Icons): new icons
  packages/icons/svg/maximize.svg
  packages/icons/svg/message-plus.svg
  packages/icons/svg/minimize.svg
Due: none

fix(Icons): new icon types
  packages/icons/svg/message_plus.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(DatePicker): prevent infinite update (#1128)
  packages/react-components/src/components/DatePicker/DatePicker.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): fixing triggerOnClick intersection with hover logic
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

fix(Tag): change element html tag to prevent button nesting errors (#1129)
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

fix(Icons): Adding new icons (#1136)
  packages/icons/svg/maximize.svg
  packages/icons/svg/message_plus.svg
  packages/icons/svg/minimize.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): fixing triggerOnClick intersection with hover logic (#1137)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

feat(Node): updating node dependency to 20.14.0
  .nvmrc
  README.md
  package.json
  packages/react-components/README.md
Due: prettier --write

fix(Button): plain type hover and active tokens change (#1131)
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Tag): gradient outline version update
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/helpers.ts
  packages/react-components/src/components/Tag/styles/outline.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Lerna): updating Lerna to v8
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
Due: none

fix(Storybook): removing absolute path helper from main.js
  packages/react-components/.storybook/main.js
Due: eslint --cache --fix, prettier --write

fix(Tag): test with tokens
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/helpers.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

docs(TESTING): docs update
  docs/TESTING.md
Due: prettier --write

fix(Storybook): removing mdx-gfm addon
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

feat(Storybook): upgrading Storybook to v8.1.5
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

fix(Storybook): removing @storybook/addon-designs
  package-lock.json
  packages/react-components/package.json
Due: none

fix(Storybook): adding missing @chromatic-com/storybook dep
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

fix(Storybook): converting main.js to ES format
  packages/react-components/.storybook/main.js
Due: eslint --cache --fix, prettier --write

fix(Storybook): converting main.js to TS format
  packages/react-components/.storybook/main.ts
Due: eslint --cache --fix, prettier --write

v1.22.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Storybook): removing separate turbosnap plugin and upd chromatic cli
  package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(Storybook): copy change
  packages/react-components/src/components/Card/Card.mdx
Due: none

fix(Storybook): updating package json
  package-lock.json
Due: none

fix(Storybook): updating to new storybook 8.1.6
  package-lock.json
  packages/react-components/package.json
Due: none

docs(TESTING): docs update (#1140)
  docs/TESTING.md
Due: prettier --write

build(Typescript): updating TypeScript version to 5.4.5
  package-lock.json
  package.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
