Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

UI fixes + docs update
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changing color of the icons
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
  packages/icons/svg/tabler/twitter-filled.svg
  packages/icons/svg/tabler/twitter.svg
Due: none

DS-276: Adding new icons (#579)
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
  packages/icons/svg/tabler/twitter-filled.svg
  packages/icons/svg/tabler/twitter.svg
Due: none

UI fixes + docs update
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

new Linux icons
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
Due: none

fix with spacing
  packages/react-components/src/components/TagInput/TagInput.module.scss
Due: stylelint --fix, prettier --write

#553 - Input - UI fixes + docs update (#580)
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fix
  packages/react-components/src/components/TagInput/TagInput.module.scss
Due: stylelint --fix, prettier --write

#552 - Tag/Email Input - UI fixes + docs update (#581)
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

disabling clicks on tooltip with pointer-events property
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

DS-276: new Linux icons (#582)
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
Due: none

#569 - Picker - Adding dark mode support for scrollbars (#571)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/foundations/color-scheme.css
  packages/react-components/src/index.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

573: reacting properly on closeOnEsc prop change
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

Ui fixes
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
Due: stylelint --fix, prettier --write

proof of concept
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

use generic children for Modal content
  packages/react-components/src/components/Modal/Modal.tsx
Due: eslint --cache --fix, prettier --write

#561 - Tag - UI fixes, docs update (#572)
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#551 - DatePciker - UI fixes (#585)
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
Due: stylelint --fix, prettier --write

573: review improvements
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

UI fixes + docs update
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

570: Tooltip - disabling clicks on tooltip during animations (#583)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

573: reacting properly on closeOnEsc prop change (#584)
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

UI fixes + docs update
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#559 - Search - UI fixes + docs update (#587)
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#560 - SegmentedControl - UI fixes + docs update (#588)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

UI fixes + docs update
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
Due: stylelint --fix, prettier --write

DS-273: adding openedOnInit prop; passthrough of the data-testid prop to trigger element
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

577: Improving paddings for Trigger and TriggerBody components
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: stylelint --fix, prettier --write

577: Improving storybook example
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

577: Improving paddings for Trigger and TriggerBody components (#593)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-273: adding openedOnInit prop; passthrough of the data-testid prop to trigger element (#592)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

492: Removing hardcoded data-testid prop from Input component
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

Change after review
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

426: Passing HTMLInput props to TagInput
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

#558 - PromoBanner - UI fixes + docs update (#589)
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.55
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

573: Popover - fix for closeOnEsc prop
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

521: Picker - setting horizontal scroll in PickerList as auto
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
