Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ThemeProvider): adding memoization
  packages/react-components/src/providers/ThemeProvider.tsx
Due: eslint --cache --fix, prettier --write

fix(Color): update color token
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(ThemeProvider): adding ThemeProvider functionality and removing Legacy theme (#1176)
  packages/example-react/src/App.tsx
  packages/example-react/src/main.tsx
  packages/example-react/tsconfig.json
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/scripts/generateDesignTokenEnum.cjs
  packages/react-components/src/components/Icon/IconsShowcase/helpers.ts
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/providers/ThemeProvider.spec.tsx
  packages/react-components/src/providers/ThemeProvider.tsx
  packages/react-components/src/providers/constants.ts
  packages/react-components/src/providers/helpers.ts
  packages/react-components/src/providers/index.ts
  packages/react-components/src/providers/types.ts
  packages/react-components/src/stories/documentation/welcome.mdx
  packages/react-components/src/stories/foundations/Theme/Theme.mdx
  packages/react-components/src/themes/legacy.scss
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Icons): new icons update
  packages/icons/svg/arrow-autofit-width.svg
  packages/icons/svg/arrow-bar-to-left.svg
  packages/icons/svg/arrow-bar-to-right.svg
  packages/icons/svg/arrows-shuffle.svg
  packages/icons/svg/chart-anomaly.svg
  packages/icons/svg/chatgpt.svg
  packages/icons/svg/directions-sign-off.svg
  packages/icons/svg/directions-sign.svg
  packages/icons/svg/google-sheets.svg
  packages/icons/svg/hubspot.svg
  packages/icons/svg/mailchimp.svg
  packages/icons/svg/stripe.svg
  packages/icons/svg/trending-up.svg
  packages/icons/svg/zoom-in.svg
  packages/icons/svg/zoom-out.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Storybook): disabling legacyRootApi in storybook, we are using React 18 now
  packages/react-components/.storybook/main.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): new icons update (#1213)
  packages/icons/svg/arrow-autofit-width.svg
  packages/icons/svg/arrow-bar-to-left.svg
  packages/icons/svg/arrow-bar-to-right.svg
  packages/icons/svg/arrows-shuffle.svg
  packages/icons/svg/chart-anomaly.svg
  packages/icons/svg/chatgpt.svg
  packages/icons/svg/directions-sign-off.svg
  packages/icons/svg/directions-sign.svg
  packages/icons/svg/google-sheets.svg
  packages/icons/svg/hubspot.svg
  packages/icons/svg/mailchimp.svg
  packages/icons/svg/stripe.svg
  packages/icons/svg/trending-up.svg
  packages/icons/svg/zoom-in.svg
  packages/icons/svg/zoom-out.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Color): update color token (#1212)
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

build(ESLint): adding eslint-plugin-storybook
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
Due: none

fix(Picker): onClose, onOpen callbacks fixes
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): reverting eslint rule
  packages/react-components/src/components/Picker/Picker.spec.tsx
Due: eslint --cache --fix, prettier --write

add tickets-off icon
  packages/icons/svg/tickets-off.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): add tickets-off icon (#1218)
  packages/icons/svg/tickets-off.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): onClose, onOpen callbacks fixes (#1216)
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

feat(ActionBar): logic refactor
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionBar): story change
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(ActionBar): change after review
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): ts error fix
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.27.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(Icons): add new icon
  packages/icons/svg/plug_connected.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(ActionBar): fix for logic loop
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Color): token color update
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Color): token color update (#1223)
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Modal): close button always visible, animation change, new modal variant with component
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/components/ActionModalContent.module.scss
  packages/react-components/src/components/Modal/components/ActionModalContent.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): changes after review
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/components/ActionModalContent.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): rwd fix
  packages/react-components/src/components/Modal/components/ActionModalContent.module.scss
Due: stylelint --fix, prettier --write

feat(ActionBar): changes after review
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

fix(Card): adding key to Button map
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

fix(Card): adding key to Button map (#1226)
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

v1.27.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(ActionBar): logic refactor (#1219)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.28.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): new component MVP
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBar.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBar.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBarList.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBarListItem.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBarListItem.tsx
  packages/react-components/src/components/AppFrame/index.ts
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): css fix
  packages/react-components/src/components/AppFrame/components/SubNavBarListItem.module.scss
Due: stylelint --fix, prettier --write

feat(AppFrame): collapsable list examples
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBarList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): fourth option without sub menu
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): code cleaning
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/providers/AppFrameProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): styles update
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar.module.scss
Due: stylelint --fix, prettier --write

feat(Icons): add new icon (#1230)
  packages/icons/svg/plug_connected.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
