Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

icon component
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

icon component and icons showcase
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Icon.stories.tsx
  packages/react-components/src/stories/foundations/Icons.stories.mdx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
  packages/react-components/src/stories/foundations/components/iconsShowcase.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

person icon
  packages/icons/src/material/person.svg
Due: none

remove dimensions and grab entire src directory
  packages/icons/package.json
Due: none

setting defaults for Icon component in the story
  packages/react-components/src/stories/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

typo and more civlized way of presenting icons
  packages/react-components/src/stories/foundations/Icons.stories.mdx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
  packages/react-components/src/stories/foundations/components/iconsShowcase.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

correct type casting
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/stories/Icon.stories.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

necesary to change colour of the icon with svg attribute
  packages/icons/package.json
Due: none

svg rename
  packages/icons/src/material/email-1.svg
  packages/icons/src/material/email.svg
  packages/icons/src/material/email_address.svg
Due: none

icon replacement and story fix
  packages/icons/src/material/add_template.svg
  packages/react-components/src/stories/Icon.stories.tsx
  packages/react-components/src/stories/foundations/Icons.stories.mdx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

providing choice of icons in storybook
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/stories/Icon.stories.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

working around stylelint rule
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/stories/Icon.stories.tsx
  packages/styles/src/components/_icon.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

stylelint fix
  packages/styles/src/components/_icon.scss
Due: stylelint --fix, prettier --write

DS-153 Card component (#270)
  packages/react-components/src/components/Card.spec.tsx
  packages/react-components/src/components/Card.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Card.stories.tsx
  packages/styles/src/components/_card.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

invert-disabled
  packages/styles/src/components/_icon.scss
Due: stylelint --fix, prettier --write

DS-170: Radio review improvements
  packages/react-components/src/components/FieldDescription.tsx
Due: eslint --cache --fix, prettier --write

DS-170: implementing typography tokens and fixing margins
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_radio-button.scss
Due: stylelint --fix, prettier --write

DS-170: fixing styles
  packages/styles/src/components/_radio-button.scss
Due: stylelint --fix, prettier --write

DS-170: using typo token
  packages/styles/src/components/_checkbox.scss
Due: stylelint --fix, prettier --write

DS-170: review fixes
  packages/react-components/src/components/RadioButton.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-00: adding stylelintignore and excluding .idea
  .gitignore
  .stylelintignore
Due: none

DS-00: fix
  .gitignore
  .stylelintignore
Due: none

DS-00: adding stylelintignore and excluding .idea (#275)
  .gitignore
  .stylelintignore
Due: none

NumericInput with unit tests
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput.tsx
  packages/react-components/src/stories/NumericInput.stories.tsx
  packages/styles/src/components/_numeric-input.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

removed defaultOn property, fixes afetr code review, more tests
  packages/react-components/src/components/Switch.spec.tsx
  packages/react-components/src/components/Switch.tsx
  packages/react-components/src/stories/Switch.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-170: switching to typography token components
  packages/react-components/src/components/FieldDescription.tsx
  packages/react-components/src/components/RadioButton.tsx
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_radio-button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

restore defaultOn
  packages/react-components/src/components/Switch.spec.tsx
  packages/react-components/src/components/Switch.tsx
Due: eslint --cache --fix, prettier --write

DS-170: storybook improvement
  packages/react-components/src/stories/RadioButton.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-170: Checkbox improvements
  packages/react-components/src/components/CheckboxField.tsx
  packages/react-components/src/stories/CheckboxField.stories.tsx
  packages/styles/src/components/_checkbox.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

revert changes in the package lock
  package-lock.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
Due: none

DS-170: Checkbox - icon added, improvements
  packages/react-components/src/components/Checkbox.tsx
  packages/styles/src/components/_checkbox.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

moving switch to storybook (#269)
  packages/react-components/src/components/Switch.spec.tsx
  packages/react-components/src/components/Switch.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Switch.stories.tsx
  packages/styles/src/components/_switch.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Tab component
  .vscode/settings.json
  packages/react-components/src/components/Tab.spec.tsx
  packages/react-components/src/components/Tab.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Tab.stories.tsx
  packages/styles/src/components/_tab.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

TabsWrapper component
  .vscode/settings.json
  packages/react-components/src/components/Tab.spec.tsx
  packages/react-components/src/components/TabsWrapper.spec.tsx
  packages/react-components/src/components/TabsWrapper.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/TabsWrapper.stories.tsx
  packages/styles/src/components/_tabs-wrapper.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: RadioButton (#272)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/FieldDescription.tsx
  packages/react-components/src/components/RadioButton.spec.tsx
  packages/react-components/src/components/RadioButton.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_radio-button.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

post design review fixes
  packages/styles/src/components/_tab.scss
  packages/styles/src/components/_tabs-wrapper.scss
Due: stylelint --fix, prettier --write
