Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(UserGuide): docs changes
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): fixes
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): pre release changes
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/stories-helpers.css
  packages/react-components/src/components/UserGuide/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.19.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(UserGuide): add missing index export
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v2.19.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Icon): add shortcut icons to IconsShowcase
  packages/icons/svg/ShortcutArrowBack.svg
  packages/icons/svg/ShortcutArrowDown.svg
  packages/icons/svg/ShortcutArrowRight.svg
  packages/icons/svg/ShortcutArrowUp.svg
  packages/icons/svg/ShortcutCapsLock.svg
  packages/icons/svg/ShortcutCommand.svg
  packages/icons/svg/ShortcutControl.svg
  packages/icons/svg/ShortcutDelete.svg
  packages/icons/svg/ShortcutEnter.svg
  packages/icons/svg/ShortcutOption.svg
  packages/icons/svg/ShortcutShift.svg
  packages/icons/svg/ShortcutTab.svg
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): update shortcut arrow icons with minor path adjustments and color change
  packages/icons/svg/ShortcutArrowBack.svg
  packages/icons/svg/ShortcutArrowDown.svg
  packages/icons/svg/ShortcutArrowRight.svg
  packages/icons/svg/ShortcutArrowUp.svg
Due: none

feat(Icon): add shortcuts icons (#1511)
  packages/icons/svg/ShortcutArrowBack.svg
  packages/icons/svg/ShortcutArrowDown.svg
  packages/icons/svg/ShortcutArrowRight.svg
  packages/icons/svg/ShortcutArrowUp.svg
  packages/icons/svg/ShortcutCapsLock.svg
  packages/icons/svg/ShortcutCommand.svg
  packages/icons/svg/ShortcutControl.svg
  packages/icons/svg/ShortcutDelete.svg
  packages/icons/svg/ShortcutEnter.svg
  packages/icons/svg/ShortcutOption.svg
  packages/icons/svg/ShortcutShift.svg
  packages/icons/svg/ShortcutTab.svg
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v2.20.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Button): fix Button text wrapping (#1506)
  packages/react-components/src/components/Button/styles/base.scss
Due: stylelint --fix, prettier --write

feat(Accordion): moved to emotion styles (#1470)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/components/index.ts
  packages/react-components/src/components/Accordion/helpers.tsx
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionCard): add loading state with optional animation (#1507)
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.spec.tsx
  packages/react-components/src/components/ActionCard/ActionCard.stories.tsx
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/types.ts
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/styles/_animations.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(README): information about migration to emotion
  README.md
Due: prettier --write

docs(README): docs update
  README.md
Due: prettier --write

feat(Picker): add support for toggling dropdown via chevron icon and input field (#1509)
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

docs(Button): remove 'basic' button kind from stories and add depreciation note
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

docs(Button): change default button kind from 'basic' to 'secondary'
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): fix list active elements selection
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): further extend props, make onClick controllable
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): extend component props, extend right node support
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(SideNavigationGroup): remove redundant label wrapper styles
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
Due: stylelint --fix, prettier --write

feat(useAnimations): fix
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): add unit tests
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/constants.ts
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): var naming change
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): update docs
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

feat(SideNavigationGroup): better props types
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup, useAnimations): make SideNavigationGroup controllable,export useAnimations
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(icon): Adds Slack icon (#1512)
  packages/icons/svg/slack.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

docs(README): information about migration to emotion (#1514)
  README.md
Due: prettier --write

v2.21.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(SideNavigationGroup): clarify docs, fix typos
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

feat(SideNavigationGroup): add code example
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

build(deps-dev): bump vitest from 1.6.0 to 3.0.5
  package-lock.json
  packages/react-components/package.json
Due: none

fix(AppFrame): add fallback height for older browsers
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

docs(Skeleton): add example of SkeletonText with custom width
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(FieldError): replace Info icon with Error icon
  packages/react-components/src/components/FieldError/FieldError.tsx
Due: eslint --cache --fix, prettier --write

feat(Shadow, Token): add tour animation end shadow token
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Tooltip): add support for interactive tooltips with image and video media
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
