Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

refactor(ActionBar): add tooltip trigger class and refactor import
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles.ts
Due: eslint --cache --fix, prettier --write

feat(ActionCard): typo fix
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(Alert): migrate to emotion
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Alert): migrate to emotion
  packages/react-components/src/components/Alert/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(Card): migrate from CSS modules to emotion
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Card/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(EmptyState): migrate to emotion
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/styles-stories.ts
  packages/react-components/src/components/EmptyState/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Form, FormField, FormGroup, FieldDescription, FieldError, FieldGroup): migrate to emotion
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
  packages/react-components/src/components/FieldDescription/FieldDescription.tsx
  packages/react-components/src/components/FieldDescription/styles.ts
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
  packages/react-components/src/components/FieldError/styles.ts
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/FieldGroup/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(EmptyState): remove redundant media query
  packages/react-components/src/components/EmptyState/styles-stories.ts
Due: eslint --cache --fix, prettier --write

refactor(Form, FormField, FormGroup): migrate to emotion
  packages/react-components/src/components/Form/Form.module.scss
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/Form/styles.ts
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/FormField/styles.ts
  packages/react-components/src/components/FormGroup/FormGroup.module.scss
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/FormGroup/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenu): migrate to emotion
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/styles.ts
  packages/react-components/src/foundations/index.ts
  packages/react-components/src/foundations/stacking-context-level.css
  packages/react-components/src/foundations/stacking-context-level.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Tab): migrate from CSS modules to emotion
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tab/TabsWrapper.tsx
  packages/react-components/src/components/Tab/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Tab): update tab count class reference and styling
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(DetailsCard): migrate to emotion
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/styles.ts
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.tsx
  packages/react-components/src/components/DetailsCardInfo/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenu): changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(Skeleton): migrate from SCSS to Emotion CSS
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/SkeletonAvatar.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Badge): migrate to emotion
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
  packages/react-components/src/components/Badge/types.ts
Due: eslint --cache --fix, prettier --write

refactor(Badge): remove scss
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

refactor(OverflowTooltipText): refactor styles to emotion
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.module.scss
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/components/OverflowTooltipText/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Badge): migrate to emotion (#1560)
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
  packages/react-components/src/components/Badge/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(DetailsCard): changes after review
  packages/react-components/src/components/DetailsCard/styles.ts
  packages/react-components/src/components/DetailsCardInfo/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(DetailsCard): changes after review
  packages/react-components/src/components/DetailsCard/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(DetailsCard): migrate to emotion (#1555)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/styles.ts
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.tsx
  packages/react-components/src/components/DetailsCardInfo/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenu): changes after review
  packages/react-components/src/components/ActionMenu/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(ActionMenu): migrate to emotion (#1550)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/styles.ts
  packages/react-components/src/foundations/index.ts
  packages/react-components/src/foundations/stacking-context-level.css
  packages/react-components/src/foundations/stacking-context-level.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionCard): moved to emotion (#1539)
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/styles.ts
  packages/react-components/src/styles/animations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Stepper): migrate styles to emotion
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/components/Stepper/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Alert): migrate to emotion (#1542)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Alert/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(EmptyState): migrate to emotion (#1548)
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/styles-stories.ts
  packages/react-components/src/components/EmptyState/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Progress): migrate to emotion
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Form, FormField, FormGroup, FieldDescription, FieldError, FieldGroup): migrate to emotion (#1549)
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
  packages/react-components/src/components/FieldDescription/FieldDescription.tsx
  packages/react-components/src/components/FieldDescription/styles.ts
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
  packages/react-components/src/components/FieldError/styles.ts
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/FieldGroup/styles.ts
  packages/react-components/src/components/Form/Form.module.scss
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/Form/styles.ts
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/FormField/styles.ts
  packages/react-components/src/components/FormGroup/FormGroup.module.scss
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/FormGroup/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(UploadBar): migrate to emotion
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/components/UploadBar/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Tab): migrate from CSS modules to emotion (#1553)
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tab/TabsWrapper.tsx
  packages/react-components/src/components/Tab/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Card): migrate from CSS modules to emotion (#1547)
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Card/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionBar): migrate styles to emotion (#1540)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles.ts
  packages/react-components/src/components/ActionBar/styles/select-indicator.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Link): migrate from CSS modules to emotion
  packages/react-components/src/components/Link/Link.module.scss
  packages/react-components/src/components/Link/Link.tsx
  packages/react-components/src/components/Link/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Skeleton): migrate from SCSS to Emotion CSS (#1557)
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/SkeletonAvatar.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(OverflowTooltipText): refactor styles to emotion (#1561)
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.module.scss
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/components/OverflowTooltipText/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Stepper): migrate styles to emotion (#1564)
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/components/Stepper/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(PromoBannerV2): migrate to emotion
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/index.ts
  packages/react-components/src/components/PromoBannerV2/styles.ts
  packages/react-components/src/components/PromoBannerV2/types.ts
Due: eslint --cache --fix, prettier --write

refactor(ListItem): migrate from CSS modules to emotion
  packages/react-components/src/components/ListItem/ListItem.module.scss
  packages/react-components/src/components/ListItem/ListItem.tsx
  packages/react-components/src/components/ListItem/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
