Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ActionBar): doc update
  packages/react-components/src/components/ActionBar/ActionBar.mdx
Due: none

build(Icons): fixing exports for icons
  packages/icons/package.json
Due: none

fix(ActionBar): New menu placement logic, styles fixes, docs and stories update (#1035)
  packages/react-components/src/components/ActionBar/ActionBar.mdx
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
  packages/react-components/src/components/ActionBar/styles/select-indicator.scss
  packages/react-components/src/components/ActionBar/types.ts
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(Icons): fixing exports for icons (#1045)
  packages/icons/package.json
Due: none

v1.19.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat: add windows original icon
  packages/icons/svg/windows-original.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icon): Add windows original icon (#1048)
  packages/icons/svg/windows-original.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix: Skeleton export
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix(ActionBar): move to components category, UI changes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Skeleton): Fix missing export (#1050)
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

Revert "fix(Skeleton): Fix missing export (#1050)"
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix(Skeleton): import fix
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix(ActionBar): ui changes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionBar): ui fixes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionBar): move to components category, UI changes (#1052)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.19.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

Revert "fix(ActionBar): move to components category, UI changes (#1052)"
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): list item bug fix
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): revert only UI changes
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): revert only UI changes
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): reverting UI changes (#1055)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): added animation on modal show, stories update
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): added animation on modal show, stories update (#1057)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): list item bug fix (#1056)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

fix(Input): fixing missing input focus on wrapper click
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Avatar): minHeight and minWidth for avatar, refactoring sizes with mixins
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Avatar): story improvements
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Avatar/types.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

fix(Avatar): typing and story improvements
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/types.ts
Due: eslint --cache --fix, prettier --write

fix(Avatar): replacing componentmeta with meta from storybook
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): adding maxListHeight prop
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Avatar): adding flex-shrink 0
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): adding maxListHeight prop (#1062)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Avatar): minHeight and minWidth for avatar (#1061)
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Avatar/styles/size.scss
  packages/react-components/src/components/Avatar/types.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Input): fixing missing input focus on wrapper click (#1060)
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(deps): updating body-parser deps via audit fix
  package-lock.json
Due: none

v1.19.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Icon): add icons
  packages/icons/svg/dots-vert.svg
  packages/icons/svg/rosette-discount-check-filled.svg
  packages/icons/svg/rosette-discount-check.svg
  packages/icons/svg/star-filled.svg
  packages/icons/svg/star.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing controlled mode for selected items
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing controlled mode for selected items (#1068)
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): add icons (#1067)
  packages/icons/svg/dots-vert.svg
  packages/icons/svg/rosette-discount-check-filled.svg
  packages/icons/svg/rosette-discount-check.svg
  packages/icons/svg/star-filled.svg
  packages/icons/svg/star.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
