Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Fixing Checkbox component styling (#654)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs update
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Badge/Badge.mdx
  packages/react-components/src/components/Checkbox/Checkbox.mdx
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Loader/Loader.mdx
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
Due: eslint --cache --fix, prettier --write

Update packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Button/Button.mdx
Due: none

Card - Docs update (#653)
  packages/react-components/src/components/Card/Card.mdx
Due: none

Button - Docs update (#652)
  packages/react-components/src/components/Button/Button.mdx
Due: none

docs update
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Card/Card.mdx
Due: none

adding new shadow focus token
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding new shadow focus token (#657)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs update
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
Due: eslint --cache --fix, prettier --write

update
  packages/react-components/src/components/Checkbox/Checkbox.tsx
Due: eslint --cache --fix, prettier --write

auto clear search option
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

Improving storybook docs (#650)
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Popover/Popover.mdx
  packages/react-components/src/components/Progress/ProgressBar.mdx
  packages/react-components/src/components/Progress/ProgressBar.stories.tsx
  packages/react-components/src/components/Progress/ProgressCircle.mdx
  packages/react-components/src/components/Progress/ProgressCircle.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.mdx
  packages/react-components/src/components/Search/Search.mdx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.mdx
  packages/react-components/src/components/Switch/Switch.mdx
  packages/react-components/src/components/Tab/TabsWrapper.mdx
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/TagInput/TagInput.mdx
  packages/react-components/src/components/Textarea/Textarea.mdx
  packages/react-components/src/components/Toast/Toast.mdx
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/UploadBar/UploadBar.mdx
Due: eslint --cache --fix, prettier --write

fix after review
  packages/react-components/src/components/DatePicker/DatePicker.mdx
Due: none

Improving storybook docs (#656)
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Badge/Badge.mdx
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Card/Card.mdx
  packages/react-components/src/components/Checkbox/Checkbox.mdx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Loader/Loader.mdx
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
Due: eslint --cache --fix, prettier --write

fix for search input
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

release changes
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Badge/Badge.mdx
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Card/Card.mdx
  packages/react-components/src/components/Checkbox/Checkbox.mdx
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Loader/Loader.mdx
  packages/react-components/src/components/Modal/Modal.mdx
Due: none

v1.0.0-beta.0
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fixes in docs
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Button/Button.mdx
Due: none

updating storybook link in readme
  README.md
  packages/example-react/package-lock.json
Due: prettier --write

Updating the README (#661)
  README.md
  packages/example-react/package-lock.json
Due: prettier --write

update old docs
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

old readme update
  README.md
Due: prettier --write

Update old docs (#667)
  README.md
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

Updates
  build/bundle.0954a8c9.js
  index.html
Due: eslint --cache --fix, prettier --write

option to prevent closing when option is selected
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

tests + fix
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

spacing change
  packages/react-components/src/components/Toast/Toast.module.scss
Due: stylelint --fix, prettier --write

changes in switch docs
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

radius tokens
  packages/react-components/.storybook/preview.js
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

updated button border radius
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

update border-radius for compoenents
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

#680 - Radius tokens (#690)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

add mood icons
  packages/icons/svg/tabler/mood_empty.svg
  packages/icons/svg/tabler/mood_neutral.svg
  packages/icons/svg/tabler/mood_sad.svg
  packages/icons/svg/tabler/mood_very_sad.svg
Due: none

picker ui refresh
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.module.scss
Due: stylelint --fix, prettier --write

#693 - Add mood icons (#694)
  packages/icons/svg/tabler/mood_empty.svg
  packages/icons/svg/tabler/mood_neutral.svg
  packages/icons/svg/tabler/mood_sad.svg
  packages/icons/svg/tabler/mood_very_sad.svg
Due: none

fix
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

fix
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

correct border radius for tags inside picker selected options
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: stylelint --fix, prettier --write

fixes after design review
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

#651 - Picker - Auto clear search option (#660)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
