Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Change the target for vite build
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.60
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

#557 - Picker - UI fixes (#620)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

remove footer component
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, prettier --write

new token, new icon variants
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

remove fixed footer height
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

#551 - Modal - seperate header and footer components for modal (#586)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

#626 - Tooltip - UI fixes (#629)
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Mock single date in DatePicker story in storybook
  packages/react-components/.storybook/preview.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

skipping dependabot PRs in chromatic
  packages/react-components/package.json
Due: none

fixes
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#614 - Tabler icons in components (#628)
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Mock single date in DatePicker story in storybook (#632)
  packages/react-components/.storybook/preview.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

moving Tooltip variants to separate folder; separating FloatingComponent from main Tooltip component file
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/Simple.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/SpotlightOverlay.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/index.ts
  packages/react-components/src/components/Tooltip/components/UserGuide/virtualElementReference.ts
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

additional Tooltip component refactor
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

improvement
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

removing mask-size cover property from Checkbox
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

634: Checkbox mask size issue on Safari and Firefox (#635)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

replacing colour token with component specific variant
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

typography tokens in components
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

replacing background color token, removing unused styles from ProgressCircle
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
Due: stylelint --fix, prettier --write

Reports tooltip component
  packages/react-components/src/components/Tooltip/Reports.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

637: ProgressCircle and ProgressBar UI improvements (#639)
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
Due: stylelint --fix, prettier --write

Popover: replacing colour token (#636)
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

624: Refactoring Tooltip component (#633)
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/Simple.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/SpotlightOverlay.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/index.ts
  packages/react-components/src/components/Tooltip/components/UserGuide/virtualElementReference.ts
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

some stories refactor
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/Reports.tsx
  packages/react-components/src/components/Tooltip/components/Simple.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide.tsx
  packages/react-components/src/components/Tooltip/components/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/components/index.ts
  packages/react-components/src/components/Tooltip/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes
  README.md
Due: prettier --write

README update with the Rules of contribution (#622)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: prettier --write

Update packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, prettier --write

Update packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
Due: stylelint --fix, prettier --write

updating storybook
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

locking RangeDatePicker to specific date
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

Updating storybook (#641)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix after review
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

#625 - Typography tokens in components (#638)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#591 - Reports tooltip component (#640)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Tooltip/components/Reports.tsx
  packages/react-components/src/components/Tooltip/components/index.ts
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.61
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
