Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

refactor(DesignTokens): remove deprecated color variables (#1609)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(FloatingPanel): tests and docs
  packages/react-components/src/components/FloatingPanel/FloatingPanel.mdx
  packages/react-components/src/components/FloatingPanel/FloatingPanel.spec.tsx
  packages/react-components/src/components/FloatingPanel/FloatingPanel.tsx
Due: eslint --cache --fix, prettier --write

feat(FloatingPanel): new shadow tokens for floating panel
  packages/react-components/src/components/FloatingPanel/FloatingPanel.module.scss
  packages/react-components/src/foundations/shadow.css
Due: stylelint --fix, prettier --write

feat(FloatingPanel): change scroll type for app frame
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

feat(FloatingPanel): revert changes
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

fix(Tokens): fix
  packages/react-components/src/foundations/design-token.ts
Due: eslint --cache --fix, prettier --write

v2.27.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

Revert "feat(AppFrame): ui update for light mode (#1589)"
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(AppFrame): update workflows
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix(AppFrame): revert the light mode changes (#1613)
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v2.27.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

refactor(PromoBanner): remove deprecated component (#1610)
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBanner/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): props for typing setup in steps
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

fix(UserGuide): props for typing setup in steps (#1615)
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

v2.27.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Grid): remove Row component and update Grid documentation
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/components/row/Row.module.scss
  packages/react-components/src/components/Grid/components/row/Row.tsx
  packages/react-components/src/components/Grid/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add horizontal and vertical spacing props
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

chore: update GitHub Actions cache action to v4
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

feat(Grid): add alignment props for vertical and horizontal positioning
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Grid): correct Column component export path casing
  packages/react-components/src/components/Grid/index.ts
Due: eslint --cache --fix, prettier --write

feat(Grid): improve Grid and Column component styling and add nested grid example
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): remove spacing props and simplify Grid component
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add flexible column sizing with width and constraint props
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
  packages/react-components/src/components/Grid/components/column/Column.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): use CSS custom properties for column width and constraints
  packages/react-components/src/components/Grid/components/column/Column.module.scss
  packages/react-components/src/components/Grid/components/column/Column.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Grid): update column sizing story description for clarity
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(Grid): update documentation structure and content
  packages/react-components/src/components/Grid/Grid.mdx
Due: none

feat(SystemMessage): new component
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/SystemMessage.spec.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.stories.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.module.scss
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.spec.tsx
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.tsx
  packages/react-components/src/components/SystemMessage/index.ts
  packages/react-components/src/components/SystemMessage/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Grid): clarify column sizing and breakpoint usage examples
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/ToggleSwitch.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/ToggleSwitch.tsx
  packages/react-components/src/components/Grid/components/column/Column.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): extract common SCSS utilities and update column styling
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/_grid-utils.scss
  packages/react-components/src/components/Grid/components/column/Column.module.scss
Due: stylelint --fix, prettier --write

feat(SystemMessage): new component
  packages/react-components/src/components/SystemMessage/SystemMessage.mdx
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/SystemMessage.spec.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.stories.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
  packages/react-components/src/components/SystemMessage/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(SystemMessage): docs update
  packages/react-components/src/components/SystemMessage/SystemMessage.mdx
Due: none

feat(SystemMessage): self cr fixes
  packages/react-components/src/components/SystemMessage/SystemMessage.mdx
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
Due: eslint --cache --fix, prettier --write

feat(Grid): add 'auto' column sizing and example stories for responsive layouts
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
  packages/react-components/src/components/Grid/components/column/Column.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Grid): update grid class for vertical gap in example story
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Grid): add example story for automation AI agents with min-width layout
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add sales funnel report cards story with responsive arrows
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Grid): add note for TextApp responsive layout considerations
  packages/react-components/src/components/Grid/Grid.mdx
Due: none

feat(SystemMessage): cr fixes
  packages/react-components/src/components/SystemMessage/SystemMessage.mdx
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/SystemMessage.spec.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.stories.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.spec.tsx
  packages/react-components/src/components/SystemMessage/index.ts
  packages/react-components/src/components/SystemMessage/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(SystemMessage): fixes
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
