Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(UserGuide): ui changes (#1584)
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AnimatedTextContainer): script fix (#1586)
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuide): story fix
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

v2.25.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): ui update for light mode
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

refactor(DesignTokens): update usage of deprecated colors in docs
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/stories/foundations/Typography/Typography.mdx
Due: stylelint --fix, prettier --write

Update Accordion.mdx
  packages/react-components/src/components/Accordion/Accordion.mdx
Due: none

feat(Picker): add avatar variations to Picker component
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): replace elementStyles with elementClassName
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/UserGuideStories.css
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Picker): improve avatar type handling in PickerListItem
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(DesignToken): update content basic positive color in light theme
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(UserGuide): add optional className prop to UserGuideStep
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

fix(UserGuide): update z-index
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): replace elementStyles with elementClassName and add classname to the step (#1593)
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/UserGuideStories.css
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.26.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Icon): add book filled icon
  packages/icons/svg/book-filled.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuideStep): add className prop and fixed default width
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DesignToken): update content basic positive color in light theme (#1594)
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(AppFrame): add border for content
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): update media handling documentation and import paths
  packages/react-components/src/assets/onboarding_final.mp4
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): add avatar variations to Picker component (#1591)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

refactor(DesignTokens): update border color in TabsWrapper
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
Due: stylelint --fix, prettier --write

refactor(DesignTokens): update deprecated color variables across components (#1583)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.module.scss
  packages/react-components/src/components/Picker/PickerStories.css
  packages/react-components/src/components/Popover/PopoverStories.css
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SelectableCard/SelectableCardStories.css
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tooltip/TooltipStories.css
  packages/react-components/src/components/UserGuide/UserGuideStories.css
  packages/react-components/src/stories/foundations/Typography/Typography.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): new prop
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/AccordionStories.css
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): ui update for light mode (#1589)
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Accordion): prop to hide chevron icon
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): new prop (#1605)
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/AccordionStories.css
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add Grid component
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/ToggleSwitch.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/ToggleSwitch.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
  packages/react-components/src/components/Grid/components/column/Column.tsx
  packages/react-components/src/components/Grid/components/row/Row.module.scss
  packages/react-components/src/components/Grid/components/row/Row.tsx
  packages/react-components/src/components/Grid/index.ts
  packages/react-components/src/components/Table/Table.spec.tsx
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/TableBody.spec.tsx
  packages/react-components/src/components/Table/TableBody.tsx
  packages/react-components/src/components/Table/TableHeader.spec.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.spec.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/index.ts
  packages/react-components/src/components/Table/stories-constants.tsx
  packages/react-components/src/components/Table/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): adjusted x placing for first and last step
  packages/react-components/src/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

feat(Grid): update column and row styling for flexible layout
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
  packages/react-components/src/components/Grid/components/column/Column.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add example of fixed-width column layout
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Grid): adjust column sizes in Grid story example
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

refactor(DesignTokens): update usage
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/themes/variables.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

refactor(DesignTokens): remove deprecated color variables
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

refactor(PromoBanner): remove deprecated component
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBanner/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): add book filled icon (#1600)
  packages/icons/svg/book-filled.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuideStep): add className prop and fixed default width (#1602)
  packages/react-components/src/assets/onboarding_final.mp4
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): adjusted x placing for first and last step (#1607)
  packages/react-components/src/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

feat(FloatingPanel): new component
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/FloatingPanel/FloatingPanel.module.scss
  packages/react-components/src/components/FloatingPanel/FloatingPanel.stories.tsx
  packages/react-components/src/components/FloatingPanel/FloatingPanel.tsx
  packages/react-components/src/components/FloatingPanel/FloatingPanelStories.css
  packages/react-components/src/components/FloatingPanel/helpers.ts
  packages/react-components/src/components/FloatingPanel/stories-helpers.tsx
  packages/react-components/src/components/FloatingPanel/types.ts
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FloatingPanel): update
  packages/react-components/src/components/FloatingPanel/FloatingPanel.module.scss
  packages/react-components/src/components/FloatingPanel/FloatingPanel.stories.tsx
  packages/react-components/src/components/FloatingPanel/FloatingPanel.tsx
  packages/react-components/src/components/FloatingPanel/FloatingPanelStories.css
Due: eslint --cache --fix, stylelint --fix, prettier --write
