Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Icon): add trophy icon
  packages/icons/svg/trophy-filled.svg
  packages/icons/svg/trophy.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(animations): adding no-animations class
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/foundations/transition.css
Due: stylelint --fix, prettier --write

v1.20.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Modal): adding prefers-reduced-motion support
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

feat(Icon): add trophy icon (#1074)
  packages/icons/svg/trophy-filled.svg
  packages/icons/svg/trophy.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Modal): handling PRM globally via css variables
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/foundations/transition.css
Due: stylelint --fix, prettier --write

fix(Modal): disabling animation directly in modal for PRM mode
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

fix(animations): adding no-animations class (#1076)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/foundations/transition.css
Due: stylelint --fix, prettier --write

fix(DesignToken): updating color token
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DesignToken): updating color token (#1085)
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v1.21.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

null fix
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

styles
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): adding floating portal and removing triggerRenderer prop
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuide): fixing event listeners
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuide): fixing the nullish parent element issue (#1087)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.21.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fixed typo
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

feat(Icons): added new icons
  packages/icons/svg/chat_bar_window.svg
  packages/icons/svg/chat_basic_window.svg
  packages/icons/svg/chat_bubble_window.svg
  packages/icons/svg/chat_modern_window.svg
  packages/icons/svg/dots-vert.svg
  packages/icons/svg/google_dark_mode-colored.svg
  packages/icons/svg/one-colored.svg
  packages/icons/svg/outlook-colored.svg
  packages/icons/svg/rosette-discount-check-filled.svg
  packages/icons/svg/rosette-discount-check.svg
  packages/icons/svg/safari-colored.svg
  packages/icons/svg/star-filled.svg
  packages/icons/svg/star.svg
  packages/icons/svg/wifi-off.svg
  packages/icons/svg/wifi.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icons): added new icon
  packages/icons/svg/variable-plus.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icons): added new icons (#1097)
  packages/icons/svg/chat_bar_window.svg
  packages/icons/svg/chat_basic_window.svg
  packages/icons/svg/chat_bubble_window.svg
  packages/icons/svg/chat_modern_window.svg
  packages/icons/svg/dots-vert.svg
  packages/icons/svg/google_dark_mode-colored.svg
  packages/icons/svg/one-colored.svg
  packages/icons/svg/outlook-colored.svg
  packages/icons/svg/rosette-discount-check-filled.svg
  packages/icons/svg/rosette-discount-check.svg
  packages/icons/svg/safari-colored.svg
  packages/icons/svg/star-filled.svg
  packages/icons/svg/star.svg
  packages/icons/svg/variable-plus.svg
  packages/icons/svg/wifi-off.svg
  packages/icons/svg/wifi.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v1.22.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix: add margin conditionally, only when closeWithX is true
  packages/react-components/src/components/Tooltip/components/Info.tsx
Due: eslint --cache --fix, prettier --write

fix(Tokens): tokens update, tooltip ui update
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Tokens): change tokens category
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Tokens): tokens update, tooltip ui update (#1104)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v1.22.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Picker): fix for search input focusing
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for search input focusing
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): improve keyboard control
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): changes after review
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for search input focusing + controls improve (#1107)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): ellipsis for list items and selected item
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): change after review
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

fix(Checkbox): ui fixes
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): ellipsis for list items and selected item (#1108)
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Switch): ui updates
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Checkbox): UI fixes (checked disabled state, hover and focus states) (#1109)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
