Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

fix typo in README.md
  README.md
Due: prettier --write

Export missing DatePicker and RangeDatePicker components
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.23
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

#416: adding ID prop
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

#418: adding closeOnOverlayPress prop
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
Due: eslint --cache --fix, prettier --write

#418: adding test case
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

Update README.md with information about current status of develop branch and work on v1
  README.md
Due: prettier --write

#416 Add Id prop to TagInput and EmailTagInput (#417)
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

#418 Add closeOnOverlayPress prop to Modal (#419)
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
Due: eslint --cache --fix, prettier --write

Update lock files
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
Due: none

v1.0.0-alpha.24
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

segmented control
  packages/react-components/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-components/src/components/ButtonGroup/index.ts
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
  packages/react-components/src/components/SegmentedControl/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

lading status fixes
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

simpler
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

423 - provide way of passing flip parameters to Popover component
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

Refresh README.md
  README.md
  docs/RELEASE.md
  docs/TESTING.md
  docs/assets/helpdesk-logo.png
  docs/assets/knowledgebase-logo.png
  docs/assets/livechat-logo.png
  docs/assets/logo.png
  package.json
Due: prettier --write

Add info about the necessity of importing styles
  README.md
Due: prettier --write

Refresh README.md (#425)
  README.md
  docs/RELEASE.md
  docs/TESTING.md
  docs/assets/helpdesk-logo.png
  docs/assets/knowledgebase-logo.png
  docs/assets/livechat-logo.png
  docs/assets/logo.png
  package.json
Due: prettier --write

provide way of testing fallback placements
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

provide more descriptive label
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

fix for initial state
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

more tests for Picker components
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
Due: eslint --cache --fix, prettier --write

default says more than none
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

better? way of typing the props
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

component rebuilt
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes after design review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, prettier --write

bug fix related to selecting items in multipicker mode
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

change on focus property from box shadow to filter
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

add class name prop to search input
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

textarea component
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
  packages/react-components/src/components/Textarea/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in Toast related to designs
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

taking state from button props
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

add test for class name
  packages/react-components/src/components/Search/Search.spec.tsx
Due: eslint --cache --fix, prettier --write

picking props and choosing array for state
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

story remade to fit new convention
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
Due: eslint --cache --fix, prettier --write

#423 Provide way of passing flip parameters to Popover component (#424)
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

allow accessible name for switch input element
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

respect alphabetical order of interface props
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
