Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(RangeDatePickerV2): test fix
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.spec.tsx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
Due: eslint --cache --fix, prettier --write

feat(RangeDatePickerV2): keyboard control fix
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
Due: eslint --cache --fix, prettier --write

feat(Accordion): subcomponents moved to emotion styles
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Popover): fix Popover visibility prop
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

fix(Popover): fix test
  packages/react-components/src/components/Popover/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Icon): add layout-grid icons
  packages/icons/svg/layout-grid-filled.svg
  packages/icons/svg/layout-grid.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Table): fix chromatic UI tests by removing randomly generated data
  packages/react-components/src/components/Table/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

fix(Table): make array lengths consistent
  packages/react-components/src/components/Table/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

fix(Table): add helper for a fixed width
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Popover): fix Popover visibility prop (#1472)
  packages/react-components/src/components/Popover/Popover.spec.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

fix(Table): adjust chromatic delay for animation
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Table): fix chromatic UI tests by removing randomly generated data (#1474)
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/stories-helpers.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(DatePicker): wrapper with min width
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): wrapper with min width (#1476)
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.14.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Icon): add layout-grid icons (#1473)
  packages/icons/svg/layout-grid-filled.svg
  packages/icons/svg/layout-grid.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v2.15.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(docs): fix for the chromatic env
  .github/workflows/chromatic.yml
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(docs): workflow change
  .github/workflows/chromatic.yml
Due: none

fix(docs): workflow change v2
  .github/workflows/chromatic.yml
Due: none

fix(docs): workflow change v3
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Table): adjust chromatic delay for animation
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(docs): story change test
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Input): make types exportable
  packages/react-components/src/components/Input/index.ts
Due: eslint --cache --fix, prettier --write

fix(Table): remove delay
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Input): make types exportable (#1479)
  packages/react-components/src/components/Input/index.ts
Due: eslint --cache --fix, prettier --write

fix(Table): fix chromatic dep (#1478)
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

v2.15.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(DatePicker): correct styles for range date picker
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): correct styles for range date picker (#1480)
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.15.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Tokens): add AI color and shadow tokens
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Table): overwrite table width for chromatic consistent screenshots
  packages/react-components/src/components/Table/Table.stories.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Table): overwrite table width for chromatic consistent screenshots (#1483)
  packages/react-components/src/components/Table/Table.stories.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): add zindex, add prop for tooltip hide
  packages/react-components/src/components/Tooltip/components/UserGuide/SpotlightOverlay.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuide): rename prop
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): update UserGuide component with new highlight styles and move away from Tooltip
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/index.ts
  packages/react-components/src/components/UserGuide/placeholder.png
  packages/react-components/src/components/UserGuide/types.ts
  packages/react-components/src/components/UserGuide/virtualElementReference.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): add story for animation
  packages/react-components/src/components/UserGuide/UserGuide.stories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RangeDatePickerV2): change callendars number on smaller view
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.module.scss
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
