Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

v1.0.0-alpha.48
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

merge with v1
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

changes in component documentation
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuDoc.mdx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, prettier --write

some changes in the documentation
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuDocs.mdx
Due: eslint --cache --fix, prettier --write

#381 - ActionMenu - Add new component (#524)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuDocs.mdx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/ActionMenu/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix with imports
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuDocs.mdx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, prettier --write

fix for ts .mdx files error
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/global.d.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.49
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

add Subtle button kind
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

example documentation for Tooltip component
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/docs/ActionMenu.mdx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Simple.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/docs/Tooltip.mdx
  packages/react-components/src/components/Tooltip/docs/gift.svg
  packages/react-components/src/components/Tooltip/docs/tooltip-anatomy.png
  packages/react-components/src/components/Tooltip/docs/tooltip-case-1.png
  packages/react-components/src/components/Tooltip/docs/tooltip-case-2.png
  packages/react-components/src/components/Tooltip/docs/tooltip-dark.png
  packages/react-components/src/components/Tooltip/docs/tooltip-dm-case-1.png
  packages/react-components/src/components/Tooltip/docs/tooltip-dm-case-2.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive-anatomy.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive-case.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive-dark.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive-dm-case.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive-light.png
  packages/react-components/src/components/Tooltip/docs/tooltip-interactive.png
  packages/react-components/src/components/Tooltip/docs/tooltip-light.png
  packages/react-components/src/components/Tooltip/docs/tooltip.png
  packages/react-components/src/components/Tooltip/placeholder.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/docs/Tooltip.mdx
  packages/react-components/src/components/Tooltip/index.ts
Due: eslint --cache --fix, prettier --write

update docs
  packages/react-components/src/components/Tooltip/docs/Tooltip.mdx
Due: none

new tokens values
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

moved styles up to fit current order
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

fixed missing bracket
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

#526 - [Button] - Add new kind "Subtle" (#527)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

add children type
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

update type
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

DS-260 - New tokens values (#529)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.50
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

modal with deprecated information for old ds
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

Modal with deprecated information for old ds (#532)
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

Add children type for React 18 support (#530)
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

Updates
  build/bundle.27257691.js
  build/bundle.e1f9a962.js
  index.html
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.51
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

new icons
  packages/icons/svg/tabler/filetype-exe.svg
  packages/icons/svg/tabler/filetype-html.svg
  packages/icons/svg/tabler/filetype-jpg.svg
  packages/icons/svg/tabler/filetype-mp3.svg
  packages/icons/svg/tabler/filetype-other.svg
  packages/icons/svg/tabler/filetype-pdf.svg
  packages/icons/svg/tabler/filetype-ppt.svg
  packages/icons/svg/tabler/filetype-txt.svg
  packages/icons/svg/tabler/filetype-video.svg
  packages/icons/svg/tabler/filetype-xls.svg
  packages/icons/svg/tabler/filetype-zip.svg
  packages/icons/svg/tabler/logout-filled.svg
  packages/icons/svg/tabler/logout.svg
Due: none

New icons (#534)
  packages/icons/svg/tabler/filetype-exe.svg
  packages/icons/svg/tabler/filetype-html.svg
  packages/icons/svg/tabler/filetype-jpg.svg
  packages/icons/svg/tabler/filetype-mp3.svg
  packages/icons/svg/tabler/filetype-other.svg
  packages/icons/svg/tabler/filetype-pdf.svg
  packages/icons/svg/tabler/filetype-ppt.svg
  packages/icons/svg/tabler/filetype-txt.svg
  packages/icons/svg/tabler/filetype-video.svg
  packages/icons/svg/tabler/filetype-xls.svg
  packages/icons/svg/tabler/filetype-zip.svg
  packages/icons/svg/tabler/logout-filled.svg
  packages/icons/svg/tabler/logout.svg
Due: none

added missing ActionMenu export
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

Added missing ActionMenu export (#537)
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.52
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

component api docs update
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

component api docs update
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

component api docs update
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, prettier --write

Alert - component api docs update (#538)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Avatar - component api docs update (#539)
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

Badge - component api docs update (#540)
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, prettier --write

component api docs update
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

add param to disable closing by esc press, docs update
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

Update Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

updated vitest to 0310
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
