Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

interface fix
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

unit tests
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

empty state if no filter results
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/styles/src/components/_picker-list.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

added isRequired flag to component
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/stories/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

ts fix
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

disabled state for label
  packages/react-components/src/components/Picker/Picker.tsx
  packages/styles/src/components/_picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DatePicker): adding RangeDatePicker
  packages/react-components/src/components/Datepicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/helpers.ts
  packages/react-components/src/components/Datepicker/hooks.ts
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

style(DatePicker): removing leftovers, fixing border-radius styles
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/styles/src/components/_date-picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): handle initial dates in props change
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/helpers.ts
  packages/react-components/src/components/Datepicker/hooks.ts
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fixing types in DatePicker stories
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fix state update on props change in DatePicker component
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/stories/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fix import in story
  packages/react-components/src/stories/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

refactor(DatePicker): removing props that are injected by datepicker itself
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Datepicker/types.ts
Due: eslint --cache --fix, prettier --write

refactor(DatePicker): fixing injected props
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, prettier --write

test(DatePicker): adding basic tests for DatePicker
  packages/react-components/src/components/Datepicker/DatePicker.spec.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): using css variables in styles
  packages/styles/src/components/_date-picker.scss
Due: stylelint --fix, prettier --write

floating ui tooltip with stories and basic test
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip.tsx
  packages/react-components/src/stories/Tooltip.stories.css
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

make tooltip visible by default in a story
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

alert container full width
  packages/react-components/src/components/Alert.spec.tsx
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/stories/Alert.stories.tsx
  packages/styles/src/components/_alert.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

decor tokens in themes
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/legacy.scss
  packages/styles/src/themes/light.scss
Due: stylelint --fix, prettier --write

updated color tokens in dark theme
  packages/styles/src/themes/dark.scss
Due: stylelint --fix, prettier --write

updated color tokens
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/legacy.scss
  packages/styles/src/themes/light.scss
Due: stylelint --fix, prettier --write

decor tokens and updates in tokens
  packages/react-components/src/stories/foundations/components/ColorTokens.tsx
  packages/styles/src/index.ts
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/legacy.scss
  packages/styles/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

removed margin right from content
  packages/styles/src/components/_alert.scss
Due: stylelint --fix, prettier --write

adjust styles
  packages/react-components/src/components/Alert.tsx
  packages/styles/src/components/_alert.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

move examples usage from stories to separate directory
  packages/react-components/src/components/Tooltip/TooltipIcon.tsx
  packages/react-components/src/components/Tooltip/TooltipInfo.tsx
  packages/react-components/src/stories/Tooltip.stories.css
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

handle click, change transform time
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

tooltip open by default
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

trigger on click testing
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

search mvp
  packages/react-components/src/components/Search.tsx
  packages/react-components/src/stories/Search.stories.tsx
  packages/styles/src/components/_search.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix
  packages/react-components/src/components/Search.tsx
Due: eslint --cache --fix, prettier --write

background token
  packages/styles/src/components/_search.scss
Due: stylelint --fix, prettier --write

collapsable props
  packages/react-components/src/components/Search.tsx
  packages/styles/src/components/_search.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

interactive tooltip and event listener fix
  packages/react-components/src/components/Tooltip.tsx
  packages/react-components/src/components/Tooltip/TooltipInteractive.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

move styles to sheet, shorten tooltip text
  packages/react-components/src/components/Tooltip/TooltipInteractive.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

simple not icon
  packages/react-components/src/components/Tooltip/TooltipIcon.tsx
  packages/react-components/src/components/Tooltip/TooltipSimple.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

component names simplification
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Simple.tsx
  packages/react-components/src/components/Tooltip/TooltipSimple.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

user guide
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

proper image
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/react-components/src/stories/images/placeholder.png
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
