Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(Accordion): small code refactor
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): change opacity to color token for disabled item
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(Tooltip): added paddings for arrow to prevent overflow rounded corners
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): change opacity to color token for disabled item (#1313)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(Tooltip): Arrow position fix (#1314)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

feat(Accordion): new component (#1310)
  packages/react-components/src/components/Accordion/Accordion.mdx
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/helpers.tsx
  packages/react-components/src/components/Accordion/index.ts
  packages/react-components/src/components/Accordion/stories-helpers.tsx
  packages/react-components/src/components/Accordion/types.ts
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/hooks/useAppFrameAnimations.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/useAnimations.ts
  packages/react-components/src/hooks/useHeightResizer.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): fixing keyboard handling when search is disabled
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): adding optional inputProps to allow custom props on picker input
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Link): marking bold as optional
  packages/react-components/src/components/Link/Link.tsx
Due: eslint --cache --fix, prettier --write

feat(Icon): add Language icon
  packages/icons/svg/language.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icon): fix stroke width
  packages/icons/svg/language.svg
Due: none

fix(Picker): review fixes
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Link): marking bold prop as optional (#1317)
  packages/react-components/src/components/Link/Link.tsx
Due: eslint --cache --fix, prettier --write

feat(Icon): add Language icon (#1318)
  packages/icons/svg/language.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): adding optional inputProps (#1316)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): tests fix
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing keyboard handling when search is disabled (#1315)
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

v1.37.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): mobile view and MobileNavigation component
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.spec.tsx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/hooks/helpers.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useHeightResizer.ts
  packages/react-components/src/hooks/useMobileViewDetector.ts
  packages/react-components/src/hooks/useSharedResizeObserver.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

feat(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ThemeProvider): exporting setTheme method
  packages/react-components/src/providers/ThemeProvider.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): changing hello to teamchat WIP
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.7
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(Icons): new icons
  packages/icons/svg/engage-filled.svg
  packages/icons/svg/engage.svg
  packages/icons/svg/sparkles-filled.svg
  packages/icons/svg/sparkles.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/AppFrame/AppFrame.spec.tsx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useHeightResizer.ts
  packages/react-components/src/hooks/useMobileViewDetector.ts
  packages/react-components/src/providers/AppFrameProvider.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): use correct prop
  packages/react-components/src/components/AppFrame/AppFrame.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): test fix
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Icons): new icons (#1321)
  packages/icons/svg/engage-filled.svg
  packages/icons/svg/engage.svg
  packages/icons/svg/sparkles-filled.svg
  packages/icons/svg/sparkles.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

test(Release): workflow
  .github/workflows/release.yml
Due: none

test(Release): workflow test
  .github/workflows/release-test.yml
Due: none

test(Release): test
  .github/workflows/release-test.yml
Due: none

feat(Accordion): release test
  packages/react-components/src/components/Accordion/Accordion.tsx
Due: eslint --cache --fix, prettier --write

test(Release): test
  .github/workflows/release.test.yml
  lerna.json
Due: none

test(Release): test
  lerna.json
Due: none

feat(Accordion): release test v2
  packages/react-components/src/components/Accordion/Accordion.tsx
Due: eslint --cache --fix, prettier --write

Release - version update
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
Due: none

test(Release): test
  .github/workflows/release.yml
Due: none
