Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

add active hover token
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

add missed token param
  packages/react-components/src/themes/legacy.scss
Due: stylelint --fix, prettier --write

Modify `getInitials` so it ignores middle names (#759)
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
Due: eslint --cache --fix, prettier --write

Tokens update and new tokens
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

Adding/updating color tokens (#760)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

Possible fix for 744
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

Possible fix for 744 (#761)
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

Tests fix
  packages/react-components/src/components/Tag/Tag.spec.tsx
Due: eslint --cache --fix, prettier --write

Tests fix (#762)
  packages/react-components/src/components/Tag/Tag.spec.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.4
  lerna.json
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

refactor adjacent items function
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/helpers.ts
Due: eslint --cache --fix, prettier --write

#671 Add new options to Picker (#741)
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

[Action Bar] - MVP experimental new component (#733)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/index.ts
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in tag to enable ellipsis + tags in picker body
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix for ellipsis in Tag component (#764)
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Updating content secondary token
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

deprecate info
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

fix
  package.json
Due: none

Updating content secondary token (#766)
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

release change
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

release fix
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

release fix
  packages/react-components/src/components/Tag/Tag.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Fix for IPickerListItem type export
  packages/react-components/src/components/Picker/index.ts
Due: eslint --cache --fix, prettier --write

Update README.md with fixed tests status bagde
  README.md
Due: prettier --write

v1.0.0-beta.6
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

Fix import issue for Icon component
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Icon/index.ts
  packages/react-components/src/components/Icon/types.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.7-rc.1
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

Fix for import issue in Icon component (#772)
  lerna.json
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Icon/index.ts
  packages/react-components/src/components/Icon/types.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
Due: eslint --cache --fix, prettier --write

ActionMenu fixes
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

moving storybook assets; moving subcomponents into dedicated folder
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/components/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/components/ModalBase.tsx
  packages/react-components/src/components/Modal/components/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/components/Modal/components/ModalPortal.tsx
  packages/react-components/src/components/Modal/index.ts
  packages/react-components/src/stories/assets/modal-image.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in group header in action menu items and picker list
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

adding modal content class and removing overflow auto
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

[Modal] Add content class prop (#776)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/components/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/components/ModalBase.tsx
  packages/react-components/src/components/Modal/components/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/components/Modal/components/ModalPortal.tsx
  packages/react-components/src/components/Modal/index.ts
  packages/react-components/src/stories/assets/modal-image.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

missing style prop in Popover
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

[ActionMenu] - fixes after RefreshUI tests (#775)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/types.ts
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Popover/Popover.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Replacing leftIcon, rightIcon, avatar props with leftNode and rightNode
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.spec.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
