Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Remove getIcon helper, adjust tests
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

release draft
  release.md
Due: prettier --write

Update release.md
  release.md
Due: prettier --write

more elaborate description of deploy process and chaining of commands during deploy
  package.json
  release.md
Due: prettier --write

release md v1
  release.md
Due: prettier --write

Fix sizing of loading icon
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

prettier stuff
  packages/icons/package-lock.json
Due: none

prettier stuff
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/stories/Spacing.stories.mdx
Due: stylelint --fix, prettier --write

work!
  package.json
Due: none

Use locked colors for custom background Avatar
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/index.ts
Due: eslint --cache --fix, prettier --write

Set status position the same for all sizes per shape
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

Properly handle situation in which type is set to image but src is missing
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

Adjust design
  packages/react-components/src/components/Switch/Switch.module.scss
Due: stylelint --fix, prettier --write

Add unit tests
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

Fix test name
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
Due: eslint --cache --fix, prettier --write

#373 Avatar component (#375)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Avatar/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.18
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

file rename
  RELEASE.md
Due: prettier --write

readme link
  README.md
Due: prettier --write

typo
  RELEASE.md
Due: prettier --write

rename 1
  tmp.txt
Due: none

rename 2
  RELEASE.md
Due: prettier --write

rename 3
  RELEASE.md
  release.md
Due: prettier --write

rename 4
  RELEASE.md
Due: prettier --write

Revert "prettier stuff"
  packages/icons/package-lock.json
Due: none

Add Storybook link to PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Fix typo in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

#377 Alert now uses 'large' size for Icon
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

Adjust compact lock icon
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#385 Change CloseIcon size and background colour for 'info' variant
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.spec.tsx
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Use default kind for remaining stories
  packages/react-components/src/components/Toast/Toast.stories.tsx
Due: eslint --cache --fix, prettier --write

Change lock icon
  packages/icons/svg/material/lock_black.svg
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#371 Add loading state, medium size and slightly refresh the UI (#372)
  packages/icons/svg/material/lock_black.svg
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Use actions addon for handling story events. Hide controls when they'r not used for Toast component stories.
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/utils/story-parameters.ts
Due: eslint --cache --fix, prettier --write

Remove unused exclude.
  packages/react-components/src/components/Toast/Toast.stories.tsx
Due: eslint --cache --fix, prettier --write

#385 Change CloseIcon size and background colour for 'info' variant (#388)
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.spec.tsx
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/utils/story-parameters.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.19
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

#386 Separate disabled and locked states in Switch component
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

release md v1 (#370)
  README.md
  RELEASE.md
  package.json
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/stories/Spacing.stories.mdx
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
