Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

NumericInputField
  packages/react-components/src/components/NumericInputField.tsx
  packages/react-components/src/stories/NumericInputField.stories.tsx
  packages/styles/src/components/_numeric-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

change the scss to fulfill no-descending-specificity rule
  packages/styles/src/components/_numeric-input.scss
Due: stylelint --fix, prettier --write

DS-170: Checkbox - adding focus and hover styling
  packages/styles/src/components/_checkbox.scss
Due: stylelint --fix, prettier --write

DS-157: Tab component (#276)
  packages/react-components/src/components/Tab.spec.tsx
  packages/react-components/src/components/Tab.tsx
  packages/react-components/src/components/TabsWrapper.spec.tsx
  packages/react-components/src/components/TabsWrapper.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Tab.stories.tsx
  packages/react-components/src/stories/TabsWrapper.stories.tsx
  packages/styles/src/components/_tab.scss
  packages/styles/src/components/_tabs-wrapper.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: Checkbox review fix
  packages/react-components/src/stories/CheckboxField.stories.tsx
Due: eslint --cache --fix, prettier --write

more unit tests
  packages/react-components/src/components/InputField.spec.tsx
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/stories/InputField.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-171: FieldGroup
  packages/react-components/src/components/FieldError.tsx
  packages/react-components/src/components/FieldGroup.tsx
  packages/react-components/src/stories/FieldGroup.stories.tsx
  packages/styles/src/components/_field-error.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after ui review
  packages/icons/package-lock.json
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/components/NumericInput.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/InputField.stories.tsx
  packages/styles/src/components/_icon.scss
  packages/styles/src/components/_input-field.scss
  packages/styles/src/components/_numeric-input.scss
  packages/styles/src/components/_text-field.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-171: FieldGroup & FormGroup
  packages/react-components/src/components/FormGroup.tsx
  packages/react-components/src/stories/FormGroup.stories.tsx
  packages/styles/src/components/_form-group.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-170: Checkbox - adding unit tests
  packages/react-components/src/components/Checkbox.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-170: Checkbox - tests fix
  packages/react-components/src/components/CheckboxField.spec.tsx
Due: eslint --cache --fix, prettier --write

Revert "DS-170: Checkbox - tests fix"
  packages/react-components/src/components/CheckboxField.spec.tsx
Due: eslint --cache --fix, prettier --write

some changes
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/InputField.stories.tsx
  packages/styles/src/components/_text-field.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added jest config for mocking design-system-icons package
  packages/react-components/jest.config.js
  packages/react-components/mocks/icon.ts
Due: eslint --cache --fix, prettier --write

Added jest config for mocking design-system-icons package (#278)
  packages/react-components/jest.config.js
  packages/react-components/mocks/icon.ts
Due: eslint --cache --fix, prettier --write

DS-170 Checkbox (#274)
  packages/react-components/src/components/Checkbox.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
  packages/react-components/src/components/CheckboxField.tsx
  packages/react-components/src/stories/CheckboxField.stories.tsx
  packages/styles/src/components/_checkbox.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Move Badge to separate folder
  packages/react-components/src/components/Bagde/Badge.spec.tsx
  packages/react-components/src/components/Bagde/Badge.tsx
  packages/react-components/src/components/Bagde/index.ts
Due: eslint --cache --fix, prettier --write

Added button with all kinds
  .stylelintrc.json
  packages/react-components/.storybook/global.css
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/index.ts
  packages/react-components/src/components/Bagde/index.ts
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/styles.scss
  packages/styles/src/themes/_dark.scss
  packages/styles/src/themes/_legacy.scss
  packages/styles/src/themes/_light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fixed eslint warnings + checks
  packages/icons/package.json
  packages/react-components/src/components/Badge.spec.tsx
  packages/react-components/src/components/Badge.tsx
  packages/react-components/src/components/Badge/index.ts
  packages/react-components/src/components/Button.spec.tsx
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/Loader.spec.tsx
  packages/react-components/src/components/Loader.tsx
  packages/react-components/src/components/Loader/index.ts
  packages/react-components/src/stories/Button.stories.tsx
  packages/react-components/src/stories/Loader.stories.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

Removed unnecessary rgb color tokens
  packages/styles/src/themes/_dark.scss
  packages/styles/src/themes/_light.scss
Due: stylelint --fix, prettier --write

Added loading state to Button component
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/themes/_dark.scss
  packages/styles/src/themes/_legacy.scss
  packages/styles/src/themes/_light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added sizes
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added unit tests for button and loader
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Loader/Loader.spec.tsx
Due: eslint --cache --fix, prettier --write

Added Icon in Button
  package-lock.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added Icon-Only button
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added Loader component
  packages/react-components/package.json
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Loader/index.ts
  packages/react-components/src/stories/Loader.stories.tsx
  packages/styles/src/components/_loader.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix disabled state + loader colors
  packages/react-components/.storybook/global.css
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/components/_loader.scss
  packages/styles/src/themes/_dark.scss
  packages/styles/src/themes/_legacy.scss
  packages/styles/src/themes/_light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Adjust paddings and icon position
  packages/styles/src/components/_button.scss
Due: stylelint --fix, prettier --write

Remove temporary Button implementation
  packages/react-components/src/components/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

Fix import path in Badge.spec
  packages/react-components/src/components/Badge/Badge.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-156 Buttons (#271)
  .stylelintrc.json
  package-lock.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/.storybook/global.css
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Button.spec.tsx
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/components/Loader.spec.tsx
  packages/react-components/src/components/Loader.tsx
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/react-components/src/stories/Loader.stories.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/components/_loader.scss
  packages/styles/src/styles.scss
  packages/styles/src/themes/_dark.scss
  packages/styles/src/themes/_legacy.scss
  packages/styles/src/themes/_light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

progress bar
  packages/react-components/src/components/ProgressBar.spec.tsx
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/components/helpers.ts
  packages/react-components/src/stories/Progressbar.stories.tsx
  packages/styles/src/components/_progress.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

some styles update
  packages/styles/src/components/_input-field.scss
  packages/styles/src/components/_numeric-input.scss
Due: stylelint --fix, prettier --write

fixes with Icon in unit tests
  packages/react-components/mocks/icon.ts
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput.tsx
Due: eslint --cache --fix, prettier --write

progress circle
  packages/react-components/src/components/ProgressCircle.spec.tsx
  packages/react-components/src/components/ProgressCircle.tsx
  packages/react-components/src/stories/ProgressCircle.stories.tsx
Due: eslint --cache --fix, prettier --write

fix stories names
  packages/react-components/src/stories/ProgressCircle.stories.tsx
  packages/react-components/src/stories/Progressbar.stories.tsx
Due: eslint --cache --fix, prettier --write

migrate Form component
  packages/react-components/src/components/Form.spec.tsx
  packages/react-components/src/components/Form.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Form.stories.tsx
  packages/styles/src/components/_form.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-171: review fixes
  packages/react-components/src/components/FieldGroup.tsx
  packages/react-components/src/components/FormGroup.tsx
  packages/react-components/src/stories/FieldGroup.stories.tsx
  packages/react-components/src/stories/FormGroup.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-171: padding fix
  packages/styles/src/components/_field-group.scss
Due: stylelint --fix, prettier --write

add sucesses styles
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/ProgressCircle.tsx
  packages/styles/src/components/_progress.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write
