Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Icon): add arrow merge icon (#1274)
  packages/icons/svg/arrows_merge.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): replace key prop value (#1273)
  .gitignore
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

feat(icon): add new icon
  packages/icons/svg/click.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): add NavTopBar with Alerts
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): add documentation for NavTopBar
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): add examples of NavTopBar usage
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(NavigationTopBar): fix padding for consistent sizing
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): remove unnecessary transition
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): add optional `title` prop to NavigationTopBar this allows for a title (or other arbitrary content) to be added under the alerts
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): changes after review
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.mdx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/index.ts
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): improve naming consistency
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): unit tests
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding shortcut symbol
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): adding active state
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): colors WIP
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): notification badge
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): updating Popover types
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): list improvements
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): openwidget fixes
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/openwidgetLogoUri.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): hotkeys wip
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcherShortcut.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding expired, trialDaysLeft and nameAdornment props
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): fixes
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding platform, accounts and text logo
  packages/icons/svg/text_accounts.svg
  packages/icons/svg/text_logo-full.svg
  packages/icons/svg/text_platform.svg
  packages/react-components/package.json
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): adding footer; noMargin prop to Text
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): making shortcut symbol optional
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcherShortcut.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

chore(ProductSwitcher): constants wip
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): basic structure WIP
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/index.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

chore(ProductSwitcher): adding react import
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): wip changes
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): using popover base WIP
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): adding platform, hello colors and openwidget uri
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/openwidgetLogoUri.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

build(Build): updates and fixes
  package-lock.json
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding tooltip
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): main tile animation
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): expired styling
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): using ProductSwitcher in AppFrame
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): using floating ui directly WIP
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): adding useProductSwitcher WIP
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/index.ts
  packages/react-components/src/hooks/useProductSwitcher.ts
  packages/react-components/src/index.ts
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): useProductSwitcher encoding uri
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): prevent default for selected products
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
