Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix(DesignToken): adding new token SurfacePrimaryHoverOpacity
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Input): adding styling for readOnly input component
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DetailsCard): Custom component as card label (#929)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.14.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

docs(PR): adding GH Action to modify branch name in the PR description
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-pr-description.yml
Due: prettier --write

docs(PR): adding comments for developers
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(PR): run action only on PR open
  .github/workflows/update-pr-description.yml
Due: none

docs(PR): adding new line symbol
  .github/workflows/update-pr-description.yml
Due: none

docs(PR): removing comments after number insertion
  .github/workflows/update-pr-description.yml
Due: none

docs(PR): ignoring MD files with prettier
  .github/PULL_REQUEST_TEMPLATE.md
  .prettierignore
Due: prettier --write

docs(PR): run only on pr open
  .github/workflows/update-pr-description.yml
Due: none

fix(Button): adding new size WIP
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/utils/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): new adding new icons; moving a svgr config to a separate file (#930)
  packages/icons/.svgrrc.js
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/arrow_fork.svg
  packages/icons/svg/book.svg
  packages/icons/svg/circle_minus.svg
  packages/icons/svg/clipboard_check.svg
  packages/icons/svg/clipboard_x.svg
  packages/icons/svg/currency_dollar.svg
  packages/icons/svg/rocket.svg
  packages/icons/svg/webhook.svg
Due: eslint --cache --fix, prettier --write

fix(DesignToken): adding new token SurfacePrimaryHoverOpacity (#931)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Input): adding styling for readOnly input component (#932)
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(PRTemplate): updating actions/github-script to v7
  .github/workflows/update-pr-description.yml
Due: none

docs(PR): adding GH Action to modify branch name in the PR description (#938)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-pr-description.yml
  .prettierignore
Due: prettier --write

fix(Button): fix button with icon paddings
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): improving story generation (Kinds)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): fix button styling
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): better story for sizes
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/utils/constants.ts
Due: eslint --cache --fix, prettier --write

fix(Button): showing icon only variant
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): icon position padding fix
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): Adding new size xcompact (#939)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/components/Button/styles/size.scss
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(styling): prettier
  packages/icons/package.json
Due: none

v1.15.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Badge): changing tertiary color
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

fix(Badge): GH action fix
  .github/workflows/update-pr-description.yml
Due: none

fix(Badge): Changing tertiary color (#940)
  .github/workflows/update-pr-description.yml
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): exposing virtuoso props
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): package lock update
  package-lock.json
Due: none

fix(Picker): extracting props to the useFloatingPicker
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): extracting methods to the usePickerItems
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): useFloatingPicker improvements
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(GHAction): fix for GH Action
  .github/workflows/update-pr-description.yml
Due: none

refactor(Picker): Refactoring Picker component with FloatingUI (#906)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerList.module.scss
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.16.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

tooltip arrow styles updates
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

border fix
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write
