Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

refactor(Picker): search fix
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): disabled placeholder styling
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
Due: stylelint --fix, prettier --write

refactor(Picker): select single searched element on enter
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): increasing viewport by additional 200 px
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): manually resetting the elements array to clean the old node refs during filtering
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): fix for input focus when navigation by keyboard
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): fix for listElementsRef and removing input press handlers
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(DesignToken): updating SurfacePrimaryHover value for light theme
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix(TransitionToken): adding TransitionDelayToken
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Token): adding Transition stories
  packages/react-components/src/stories/Radius.stories.mdx
  packages/react-components/src/stories/Transition.stories.mdx
  packages/react-components/src/stories/components/Table.css
  packages/react-components/src/stories/components/Transition/TransitionTable.tsx
  packages/react-components/src/stories/components/Transition/transitionDelay.ts
  packages/react-components/src/stories/components/Transition/transitionDuration.ts
  packages/react-components/src/stories/components/Transition/transitionTiming.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Token): typo fix
  packages/react-components/src/stories/Transition.stories.mdx
Due: none

feat(Picker): remove tags on backspace press
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): fix
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(DesignToken): updating SurfacePrimaryHover value for light theme (#921)
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

feat(Picker): fix for focus problems
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

Revert "fix(DesignToken): updating SurfacePrimaryHover value for light theme (#921)"
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

feat(Picker): cx import path fix
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): replacing input with checkbox component
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

vertical mode, class name props for content containers
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): tests update
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

fix(TransitionToken): Adding new delay tokens and Transition story (#922)
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Radius.stories.mdx
  packages/react-components/src/stories/Transition.stories.mdx
  packages/react-components/src/stories/components/Table.css
  packages/react-components/src/stories/components/Transition/TransitionTable.tsx
  packages/react-components/src/stories/components/Transition/transitionDelay.ts
  packages/react-components/src/stories/components/Transition/transitionDuration.ts
  packages/react-components/src/stories/components/Transition/transitionTiming.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(PromoBannerV2): vertical mode, class name props for content containers (#925)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.13.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Button): button sizes fix WIP
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): size mixin refactor
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): more refactor
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): adding mixing for proper height for buttons with border
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): refactor
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

fix(Button): icon-only padding
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): size fixes
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): fix
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): locked icon sizes
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): refactor
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): excluding icon-only
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): fix
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): fix padding issue
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): removing duplicated style
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): Fixing only-icon Button padding (#928)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

custom component as card label
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): new adding new icons; moving a svgr config to a separate file
  packages/icons/.svgrrc.js
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/arrow_fork.svg
  packages/icons/svg/book.svg
  packages/icons/svg/circle_minus.svg
  packages/icons/svg/clipboard_check.svg
  packages/icons/svg/clipboard_x.svg
  packages/icons/svg/currency_dollar.svg
  packages/icons/svg/rocket.svg
  packages/icons/svg/webhook.svg
Due: eslint --cache --fix, prettier --write
