Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

fix(Tooltip): removing spyon
  packages/react-components/src/test/setup.ts
Due: eslint --cache --fix, prettier --write

fix(storybook): custom height for chromatic
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(storybook): custom height for chromatic 2
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(storybook): custom height for chromatic 3
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

build(Chromatic): adding delay to components with animation (#1404)
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/utils/chromatic-story-helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): hide when reference is hidden (#1400)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.4.7
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tooltip): adding a Floating portal wrapper
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

feat(FloatingPortal): add a FloatingPortal component that can be used to escape the DOM tree
  packages/react-components/src/components/FloatingPortal/FloatingPortal.mdx
  packages/react-components/src/components/FloatingPortal/FloatingPortal.stories.tsx
  packages/react-components/src/components/FloatingPortal/FloatingPortal.tsx
  packages/react-components/src/components/FloatingPortal/index.ts
  packages/react-components/src/components/FloatingPortal/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(Tooltip): add optional portal and portalProps params allows lifting the tooltip's floating part out of the hierarchy
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(FloatingPortal): use @floating-ui/react prop types
  packages/react-components/src/components/FloatingPortal/FloatingPortal.tsx
  packages/react-components/src/components/FloatingPortal/index.ts
  packages/react-components/src/components/FloatingPortal/types.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

docs(FloatingPortal): add arg types
  packages/react-components/src/components/FloatingPortal/FloatingPortal.mdx
  packages/react-components/src/components/FloatingPortal/FloatingPortal.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(FloatingPortal): add a FloatingPortal util component and allow using it with Tooltip (#1408)
  packages/react-components/src/components/FloatingPortal/FloatingPortal.mdx
  packages/react-components/src/components/FloatingPortal/FloatingPortal.stories.tsx
  packages/react-components/src/components/FloatingPortal/FloatingPortal.tsx
  packages/react-components/src/components/FloatingPortal/index.ts
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix(Alert): extending CTA types
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

fix(Alert, PromoBannerV2): adding more props to CTA
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

fix(stories): stories canvas fix
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
Due: eslint --cache --fix, prettier --write

tweak(Alert, InteractiveTooltip, PromoBannerV2): extending button props (#1409)
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

v2.5.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): mobile alerts fix and top bar fix
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(FormField, Radio): extending props
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
Due: eslint --cache --fix, prettier --write

fix(Card, Checkbox, TooltipReports): extending props
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Tooltip/components/Reports.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): allowing custom node as a primary or secondary buttons
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): test fixes
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): mobile alerts fix and top bar fix (#1410)
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.5.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tooltip): marking closeWithX as deprecated in Info tooltip
  packages/react-components/src/components/Tooltip/components/Info.spec.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): better stories; depricating closeWithX in Interactive tooltip
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): refactor for story example
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): better docs for userguide
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icon): adding/updating icons
  packages/icons/svg/send-filled.svg
  packages/icons/svg/send.svg
  packages/icons/svg/square_rounded_plus-filled.svg
  packages/icons/svg/square_rounded_plus.svg
Due: none

fix(Icon): adding/updating icons
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

tweak(Icon): adding/updating icons (#1413)
  packages/icons/svg/send-filled.svg
  packages/icons/svg/send.svg
  packages/icons/svg/square_rounded_plus-filled.svg
  packages/icons/svg/square_rounded_plus.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

tweak(Tooltip): better docs; marking closeWithX as deprecated (#1412)
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Info.spec.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(description): broading field type to ReactNode (#1411)
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
  packages/react-components/src/components/Tooltip/components/Reports.tsx
Due: eslint --cache --fix, prettier --write

v2.5.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

v2.5.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): nav bar scroll fix and sub nav chevron update
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): collapsible search styles update
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SearchInput/SearchInput.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): fix for search
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
Due: stylelint --fix, prettier --write
