Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

chore(deps): update vite related dependencies to latest versions
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(deps): AC-1545 - update vite related dependencies to latest versions (#1659)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Table): correct prettier syntax for conditional statements in pin styles
  packages/react-components/src/components/Table/styles/pin.scss
Due: stylelint --fix, prettier --write

fix(Table): correct prettier syntax for conditional statements in pin styles (#1660)
  packages/react-components/src/components/Table/styles/pin.scss
Due: stylelint --fix, prettier --write

v2.35.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore: Bump packages version to v2.35.0 (#1661)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(docs): update release process and scripts in package.json and RELEASE.md
  docs/RELEASE.md
  package.json
Due: prettier --write

fix(docs): clarify Lerna versioning process
  docs/RELEASE.md
Due: prettier --write

chore(docs): update release process and scripts in package.json and Release.md (#1662)
  docs/RELEASE.md
  package.json
Due: prettier --write

v2.36.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(release): release v2.36.0 (#1663)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(docs): update release process in docs to reflect tagging changes
  docs/RELEASE.md
Due: prettier --write

chore(docs): update tagging info
  docs/RELEASE.md
Due: prettier --write

chore(docs): update release process in docs to reflect tagging changes (#1664)
  docs/RELEASE.md
Due: prettier --write

fix(release): update prepare-release script to prevent git tagging during versioning
  package.json
Due: none

fix(release): update prepare-release script to prevent git tagging during versioning (#1665)
  package.json
Due: none

fix(icons): fix typo in a file name
  packages/react-components/src/components/Icon/IconsShowcase/constants.ts
  packages/react-components/src/components/Icon/IconsShowcase/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(icons): fix typo in a file name (#1666)
  packages/react-components/src/components/Icon/IconsShowcase/constants.ts
  packages/react-components/src/components/Icon/IconsShowcase/helpers.ts
Due: eslint --cache --fix, prettier --write

chore(release): bump version to v2.36.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

chore(release): bump version to v2.36.1 (#1667)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

chore(deps): update glob dependency to version 10.5.0 and add peer dependencies in package-lock.json
  package-lock.json
  packages/icons/package.json
Due: none

chore(deps): update glob dependency to version 10.5.0 and add peer dependencies in package-lock.json (#1669)
  package-lock.json
  packages/icons/package.json
Due: none

fix(EmailTagInput): fix vulberability in email regex definition
  packages/react-components/src/components/TagInput/components/EmailTagInput.test.tsx
  packages/react-components/src/components/TagInput/components/EmailTagInput.tsx
Due: eslint --cache --fix, prettier --write

fix(EmailTagInput): fix vulnerability in email regex definition (#1671)
  packages/react-components/src/components/TagInput/components/EmailTagInput.test.tsx
  packages/react-components/src/components/TagInput/components/EmailTagInput.tsx
Due: eslint --cache --fix, prettier --write

chore(release): bump version to v2.36.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(release): bump version to v2.36.2 (#1673)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(deps): update dependencies Storybook and its packages to latest versions
  package-lock.json
  packages/react-components/package.json
Due: none

chore(deps): update Storybook and its dependencies to version 9.1.17
  package-lock.json
  packages/react-components/package.json
Due: none

fix(Button): remove wrong color from text Button style
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

chore(deps): update Storybook and its dependencies to version 9.1.17 (#1675)
  package-lock.json
  packages/react-components/package.json
Due: none

chore(release): bump version to v2.36.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(deps): update @livechat/design-system-react-components to version 2.36.3
  packages/example-react/package.json
Due: none

chore(release): bump version to v2.36.3 (#1677)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(deps): override tar package version for security
  package-lock.json
  package.json
Due: none

chore(deps): fix
  package-lock.json
Due: none

chore(deps): override tar package version for security (#1678)
  package-lock.json
  package.json
Due: none

chore(deps): update tar package version to 7.5.7 for security
  package-lock.json
  package.json
Due: none

chore(deps): update tar package version to 7.5.7 for security (#1679)
  package-lock.json
  package.json
Due: none

chore(release): bump version to v2.36.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

chore(release): release v2.36.4 (#1680)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none
