Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

fix(InviteAgents): tests fix
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(InviteAgents): fixing menu and animated button (#1365)
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/animated-label.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.module.scss
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.1.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): interactive tooltip fix
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

v2.1.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): initials on avatar
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

v2.1.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): handle avatars click
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

fix(InviteAgents): handle avatars click (#1369)
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

v2.1.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Add prop to change the theme mode
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): Add prop to change the theme mode (#1372)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

v2.2.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Use tokens for colors
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

add border color
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): Use color tokens (#1373)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.2.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): updating tooltip text
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
Due: eslint --cache --fix, prettier --write

v2.2.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): component minor improvements
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

v2.2.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): top bar changes and nav item interface changes
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/constants.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(deps): fixing some vulnerabilities with npm audit
  package-lock.json
Due: none

fix(AppFrame): top bar title fixed height
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): nav styles update
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): top bar styles update
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): new alert in docs
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(PromoBannerV2): new kind WIP
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): remove div for mobile nav
  packages/react-components/src/components/AppFrame/AppFrame.tsx
Due: eslint --cache --fix, prettier --write

rename hello to teamchat
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): Rename hello to teamchat (#1375)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): styles for app container
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

fix(PromoBannerV2): styles
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.3.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): zindex for nav
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.module.scss
Due: stylelint --fix, prettier --write

build(GithubAction): modifying check pr title action
  .github/workflows/check-pr-title.yml
Due: none

feat(ShadowToken): add right and left side tokens
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Shadow/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(PromoBannerV2): fixing the close button
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

fix(ShadowToken): add right and left side tokens (#1378)
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Shadow/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): product switcher tooltip fix
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write
