Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

FormField
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.spec.tsx
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/FormField/index.ts
  packages/react-components/src/components/InputField/InputField.module.scss
  packages/react-components/src/components/InputField/InputField.spec.tsx
  packages/react-components/src/components/InputField/InputField.stories.tsx
  packages/react-components/src/components/InputField/InputField.tsx
  packages/react-components/src/components/InputField/index.ts
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.tsx
  packages/react-components/src/components/NumericInput/index.ts
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TextField/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Docs + Roadmap
  README.md
  docs/technical-roadmap.md
  package.json
Due: prettier --write

Add disabled and placeholder prop to numeric input interface
  packages/design-system/src/interfaces/forms.d.ts
Due: eslint --cache --fix, prettier --write

Add disabled and placeholder prop to numeric input interface (#318)
  packages/design-system/src/interfaces/forms.d.ts
Due: eslint --cache --fix, prettier --write

Fix types for numeric input
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/components/NumericInputField/NumericInput.js
Due: eslint --cache --fix, prettier --write

Update changelog
  packages/design-system/CHANGELOG.md
Due: prettier --write

Fix types for numeric input (#319)
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/components/NumericInputField/NumericInput.js
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

tests fixes
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

removed commented code
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

fix in styles
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

decor tokens for Tag
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

decor tokens for Tag (#320)
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

InAppMessage component
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/src/components/InAppMessages/InAppMessage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageAvatar.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessageAvatar.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageHeader.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessageHeader.tsx
  packages/react-components/src/components/InAppMessages/index.ts
  packages/react-components/src/components/InAppMessages/variables/InAppMessage.scss
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for tests
  packages/react-components/src/components/Search/Search.spec.tsx
Due: eslint --cache --fix, prettier --write

InApp with image
  packages/react-components/src/components/InAppMessages/InAppMessage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessageImage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessageImage.tsx
  packages/react-components/src/components/InAppMessages/variables/InAppMessage.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

unit tests
  packages/react-components/src/components/InAppMessages/InAppMessage.spec.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageAvatar.spec.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.spec.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageHeader.spec.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageImage.spec.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

stories and some fixez
  packages/react-components/src/components/InAppMessages/InAppMessage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

chante in interface
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageHeader.tsx
Due: eslint --cache --fix, prettier --write

interface changes
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageAvatar.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageHeader.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
Due: eslint --cache --fix, prettier --write

fix for tests
  packages/react-components/src/components/InAppMessages/InAppMessageFooter.spec.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

fix for tests
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
Due: eslint --cache --fix, prettier --write

vite version of tooltip
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Simple.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/placeholder.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

pck lock
  packages/react-components/package-lock.json
Due: none

missing type
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

missing import
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

user guide tooltip
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/components/Tooltip/SpotlightOverlay.jsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

test fix
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

packages
  package-lock.json
  package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

spotlight overlay
  packages/react-components/src/components/Tooltip/SpotlightOverlay.tsx
Due: eslint --cache --fix, prettier --write

lock
  packages/react-components/package-lock.json
Due: none

helper fix
  packages/react-components/src/components/Tooltip/helpers.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
