Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fixes after review
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

wrapper container and functionality to hide elements and move to menu
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/index.ts
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

disable tabindex for hidden elements
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

story changes
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

#723 - Button - New High Contrast Button variant, styles updates (#732)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

change the header token
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

change the button kinds
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

change default button kinds for tooltip interactive
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in user guide
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#718 - Modal - Change header token (#734)
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

changes in spacings
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#726 - Alert - Change buttons kind (#735)
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

active status for buttons
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

active state for the ActionMenu + UI refresh
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

option to enable ellipsis in input
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

possibility to set display method for tooltip wrapper
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

new avatar kolor tokens
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix after review
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

add options to Picker
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

replacing markdown templates with yaml files and enabling auto-assigning issues to the project
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

adding new line symbol
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

review changes
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Auto assign issues to the project (#742)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature.yml
Due: prettier --write

#531 - Tooltip - Possibility to set display method for tooltip wrapper (#739)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#659 - New avatar color tokens (#740)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

set prop true as default
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

#728 - Tooltip - Change default button kinds for Interactive and User Guide (#736)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

change for dividers
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

#351 - Input - Option to enable ellipsis in input (#738)
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#719 - ActionMenu - Refresh UI + active state (#737)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Adding new icons
  packages/icons/svg/tabler/briefcase-filled.svg
  packages/icons/svg/tabler/briefcase.svg
  packages/icons/svg/tabler/target_arrow-filled.svg
  packages/icons/svg/tabler/target_arrow.svg
  packages/icons/svg/tabler/text_logo.svg
Due: none

Adding new icons (#746)
  packages/icons/svg/tabler/briefcase-filled.svg
  packages/icons/svg/tabler/briefcase.svg
  packages/icons/svg/tabler/target_arrow-filled.svg
  packages/icons/svg/tabler/target_arrow.svg
  packages/icons/svg/tabler/text_logo.svg
Due: none

prettier changes
  packages/example-react/index.html
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/index.scss
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-beta.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

changes after review
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

new typography token + docs + usage in PromoV2
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/stories/Typography.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write
