Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

feature/popover-action-example (#301)
  packages/react-components/src/stories/Popover.stories.css
  packages/react-components/src/stories/Popover.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build icons before tests
  .github/workflows/tests.yml
  package.json
  packages/example-react/package-lock.json
  packages/react-components/package-lock.json
  packages/styles/package-lock.json
Due: none

Remove only from tests
  packages/react-components/src/components/Toast/Toast.spec.tsx
Due: eslint --cache --fix, prettier --write

stories + some logic changes
  packages/react-components/src/components/Search.tsx
  packages/react-components/src/stories/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

unit tests
  packages/react-components/src/components/Search.spec.tsx
  packages/react-components/src/components/Search.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

Fix loader thickness
  packages/react-components/src/components/Loader/Loader.module.scss
Due: stylelint --fix, prettier --write

Inherit icon color by default
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Modal/Modal.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Set default icon type for some components
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Tag/Tag.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Disable ts eslint literal expression
  .eslintrc
  packages/react-components/src/components/Icon/Icon.tsx
Due: eslint --cache --fix, prettier --write

DEL-195 Decor tokens in themes
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/designTokens.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix numeric input story
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.stories.tsx
  packages/react-components/src/components/NumericInput/helpers.ts
Due: eslint --cache --fix, prettier --write

Forms WIP
  packages/react-components/src/components/Checkbox/CheckboxField.stories.tsx
  packages/react-components/src/components/FieldGroup/FieldGroup.stories.tsx
  packages/react-components/src/components/Form/Form.stories.tsx
  packages/react-components/src/components/FormGroup/FormGroup.stories.tsx
  packages/react-components/src/components/InputField/InputField.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TextField/TextField.stories.tsx
Due: eslint --cache --fix, prettier --write

Fix numeric input story (#308)
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.stories.tsx
  packages/react-components/src/components/NumericInput/helpers.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.3
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

v1.0.0-alpha.4
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Missing files prop in pkg.json rc
  packages/react-components/package.json
Due: none

v1.0.0-alpha.5
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fix in tests
  packages/react-components/src/components/Search/Search.spec.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

theme and better hover
  packages/react-components/src/components/Tooltip.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

additional props in story
  packages/react-components/src/components/Tooltip.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

story props
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

respect theme in all tooltips
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

polishing stuff
  packages/react-components/src/components/Tooltip.tsx
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix width of interactive tooltip
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

aplha5
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

v1.0.0-alpha.6
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

css corrections
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

more props in stories
  packages/react-components/src/stories/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fixing image
  packages/styles/src/components/_tooltip.scss
Due: stylelint --fix, prettier --write

corrections
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/styles/src/components/_tooltip.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after discussion
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

transform icon files
  package.json
  packages/icons/.babelrc
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

v1.0.0-alpha.7
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fade out did not work
  packages/react-components/src/components/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
