Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

fix(DatePicker): fix for clsx import (#913)
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/foundations/spacing-token.ts
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.10.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): removing tanstack virtualization
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): adding Virtuoso virtualization
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): adding item horizontal padding wrapper
  packages/react-components/src/components/PickerV2/components/PickerList.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): fixing DatePickerRangeCalendarsWrapper export path
  packages/react-components/src/components/DatePicker/index.ts
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fixing DatePickerRangeCalendarsWrapper export path (#914)
  packages/react-components/src/components/DatePicker/index.ts
Due: eslint --cache --fix, prettier --write

v1.10.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(PickerListItem): item paddings
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

useClick hook props
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

feat(Tooltip): useClick hook props for Tooltip component (#915)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

v1.11.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(PickerListItem): item paddings
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

fix(PickerListItem): improvement
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): no items
  packages/react-components/src/components/PickerV2/components/PickerList.module.scss
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(PickerList): modify list height when default height is bigger
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/constants.ts
Due: eslint --cache --fix, prettier --write

fix(PickerList): improvement
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix(PickerList): adding listClassName prop
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/types.ts
Due: eslint --cache --fix, prettier --write

fix(PickerList): list height improvements
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(PickerList): prop renaming
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix(Popover): add event parameter to onOpen, onClose callbacks
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, prettier --write

refactor(Picker): adding optional click and dismiss hook props
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/types.ts
Due: eslint --cache --fix, prettier --write

refactor(Picker and Popover): adding support for nested floating elements via FloatingTree
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

deps(Picker): removing unused floating libraries
  package-lock.json
  packages/react-components/package.json
Due: none

deps(Picker): removing popper from deps
  package-lock.json
  packages/react-components/package.json
Due: none

selected menu option feature
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionMenu): Possibility to check the selected options (#918)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.12.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

refactor(Picker): replacing Picker with PickerV2 components
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/components/PickerList.module.scss
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/PickerV2/Picker.module.scss
  packages/react-components/src/components/PickerV2/Picker.stories.css
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/PickerV2/constants.ts
  packages/react-components/src/components/PickerV2/helpers.ts
  packages/react-components/src/components/PickerV2/index.ts
  packages/react-components/src/components/PickerV2/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionBar): removing unused floating-ui mock
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): refactoring tests WIP
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): refactoring tests WIP
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, prettier --write

refactor(Picker): refactoring tests WIP
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): adding select all option
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, prettier --write

refactor(Picker): show selectAll when more than 1 element available
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): showAll improved styling
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Picker): fixing selectAll logic
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): fixing selectAll logic with additional helper
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/helpers.ts
Due: eslint --cache --fix, prettier --write

refactor(Picker): removing tests for future refactor
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
Due: eslint --cache --fix, prettier --write

refactor(Picker): placeholder color
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
