Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

ref for button component
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

Ref for button component (#516)
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.43
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Revert "Ref for button component (#516)"
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.44
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

rewrite the Checkbox comoponent to input
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes to pass CI
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

clean up imports
  packages/react-components/src/components/Checkbox/Checkbox.tsx
Due: eslint --cache --fix, prettier --write

legacy tokens update
  packages/react-components/src/themes/legacy.scss
Due: stylelint --fix, prettier --write

legacy tokens update (#519)
  packages/react-components/src/themes/legacy.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.45
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

shadow tokens update
  packages/react-components/src/foundations/shadow.css
Due: stylelint --fix, prettier --write

v1.0.0-alpha.46
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

new icons
  packages/icons/svg/tabler/bold-filled.svg
  packages/icons/svg/tabler/bold.svg
  packages/icons/svg/tabler/italic-filled.svg
  packages/icons/svg/tabler/italic.svg
  packages/icons/svg/tabler/player-record-filled.svg
  packages/icons/svg/tabler/player-record.svg
  packages/icons/svg/tabler/strikethrough-filled.svg
  packages/icons/svg/tabler/strikethrough.svg
  packages/icons/svg/tabler/text formatting-filled.svg
  packages/icons/svg/tabler/text formatting.svg
  packages/icons/svg/tabler/underline-filled.svg
  packages/icons/svg/tabler/underline.svg
Due: none

new icons
  packages/icons/svg/tabler/grid-dots-filled.svg
  packages/icons/svg/tabler/grid-dots.svg
  packages/icons/svg/tabler/player-record-filled.svg
  packages/icons/svg/tabler/users-group-filled.svg
  packages/icons/svg/tabler/users-group.svg
Due: none

some style changes in icons grid
  packages/react-components/src/stories/components/iconsShowcase.css
Due: stylelint --fix, prettier --write

DS-226 - New icons (#520)
  packages/icons/svg/tabler/bold-filled.svg
  packages/icons/svg/tabler/bold.svg
  packages/icons/svg/tabler/grid-dots-filled.svg
  packages/icons/svg/tabler/grid-dots.svg
  packages/icons/svg/tabler/italic-filled.svg
  packages/icons/svg/tabler/italic.svg
  packages/icons/svg/tabler/player-record-filled.svg
  packages/icons/svg/tabler/player-record.svg
  packages/icons/svg/tabler/strikethrough-filled.svg
  packages/icons/svg/tabler/strikethrough.svg
  packages/icons/svg/tabler/text formatting-filled.svg
  packages/icons/svg/tabler/text formatting.svg
  packages/icons/svg/tabler/underline-filled.svg
  packages/icons/svg/tabler/underline.svg
  packages/icons/svg/tabler/users-group-filled.svg
  packages/icons/svg/tabler/users-group.svg
  packages/react-components/src/stories/components/iconsShowcase.css
Due: stylelint --fix, prettier --write

fix for modal footer styles
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.47
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

windows icon for tabler lib
  packages/icons/svg/tabler/windows-filled.svg
  packages/icons/svg/tabler/windows.svg
Due: none

fix for wektor colors
  packages/icons/svg/tabler/sound_on-filled.svg
  packages/icons/svg/tabler/windows-filled.svg
  packages/icons/svg/tabler/windows.svg
Due: none

Windows icon for tabler lib (#522)
  packages/icons/svg/tabler/sound_on-filled.svg
  packages/icons/svg/tabler/windows-filled.svg
  packages/icons/svg/tabler/windows.svg
Due: none

change bg-color token
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

wip
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

add check asset I also scaled it down so that there's no need for scaling the pseudoelement
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/check.svg
Due: stylelint --fix, prettier --write

fix automated changes
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

fix spacing
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

restore old margin
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

ActionMenu with defined items, keyboard functionality, UI
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

chnges in documentation
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, prettier --write

unit tests
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

some changes in documentation
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write
