Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(FileUploadProgress): tests updates
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.spec.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
Due: eslint --cache --fix, prettier --write

fix(Tests): fix test file
  packages/react-components/src/components/Modal/Modal.spec.tsx
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

fix(FileUploadProgress): tests updates (#1188)
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.spec.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
Due: eslint --cache --fix, prettier --write

fix(Progress): tests updates
  packages/react-components/src/components/Progress/Progress.helpers.spec.tsx
  packages/react-components/src/components/Progress/Progress.helpers.ts
  packages/react-components/src/components/Progress/ProgressBar.spec.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/constants.ts
  packages/react-components/src/components/Progress/helpers.ts
Due: eslint --cache --fix, prettier --write

build(ReactComponents): changing build packages naming
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

allow all button props in tooltip button, make secondButton optional
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

feat(Interactive): allow all Button props in tooltip button, make secondButton optional (#1191)
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(Progress): tests updates (#1190)
  packages/react-components/src/components/Progress/Progress.helpers.spec.tsx
  packages/react-components/src/components/Progress/Progress.helpers.ts
  packages/react-components/src/components/Progress/ProgressBar.spec.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/constants.ts
  packages/react-components/src/components/Progress/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(UploadBar): tests updates
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.spec.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): tests updates
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): tests updates
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Typography): styles update and new paragraph size
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/TextExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tab): reverting role back to button
  packages/react-components/src/components/Icon/IconsShowcase/helpers.ts
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(UploadBar): tests updates (#1193)
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.spec.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): tests updates (#1194)
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): changes after review
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): tests updates (#1195)
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Tab): reverting role back to button
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): changing start to flex-start values
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/Icon/IconsShowcase/style.scss
Due: stylelint --fix, prettier --write

fix(Typography): styles update and new paragraph size (#1196)
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/TextExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tab): reverting role back to button (#1197)
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): changing start to flex-start values (#1198)
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/Icon/IconsShowcase/style.scss
Due: stylelint --fix, prettier --write

fix(Button): removing testId from button's icon component as it will override consumer's testid
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): removing hardcoded testId from cloneElement in Button (#1201)
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

v1.26.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(PromoBannerV2): ui issue with overflow fix
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

feat(ThemeProvider): adding tests and removing legacy.scss
  packages/react-components/src/providers/ThemeProvider.spec.tsx
  packages/react-components/src/providers/ThemeProvider.tsx
  packages/react-components/src/themes/legacy.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(PromoBannerV2): ui styles update
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

fix(PromoBannerV2): ui issue with overflow fix (#1203)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): interaction tests experiment
  package-lock.json
  packages/react-components/.storybook/main.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): adding triggerOnHover prop to allow enabling both handlers
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fix
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): test
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): tests fix
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Modal): animation change
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

fix(Tooltip): adding triggerOnHover prop to allow enabling both handlers (#1209)
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
