Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Fix type issues for Tooltip components and stories
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.13
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Fix a typo in CssTooltip docs (#326)
  packages/design-system/src/components/TooltipNew/CssTooltip.md
Due: prettier --write

added missing component to export
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.14
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

added missing Picker component export
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.15
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature-template.md
Due: prettier --write

Update issue template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Update issue template for feature (remove cehcklist)
  .github/ISSUE_TEMPLATE/feature.md
Due: prettier --write

Remove unused template
  .github/ISSUE_TEMPLATE/feature-template.md
Due: prettier --write

Update bug issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

improvements for Picker component
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Introducing FormField composition approach (#316)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.spec.tsx
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Checkbox/CheckboxField.stories.tsx
  packages/react-components/src/components/Checkbox/CheckboxField.tsx
  packages/react-components/src/components/Checkbox/index.ts
  packages/react-components/src/components/Form/Form.stories.tsx
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.spec.tsx
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/FormField/index.ts
  packages/react-components/src/components/FormGroup/FormGroup.stories.tsx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Input/index.ts
  packages/react-components/src/components/InputField/InputField.module.scss
  packages/react-components/src/components/InputField/InputField.spec.tsx
  packages/react-components/src/components/InputField/InputField.stories.tsx
  packages/react-components/src/components/InputField/InputField.tsx
  packages/react-components/src/components/InputField/index.ts
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInputField.tsx
  packages/react-components/src/components/NumericInput/index.ts
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TextField/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in prop naming
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

test fix + stacking context pattern
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/utils/StackingContextLevel.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Improvements for Picker component (#336)
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/utils/StackingContextLevel.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

[Toast] Use content tokens instead of hardcoded colors.
  packages/react-components/src/components/Toast/Toast.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.16
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Make icon columns auto-adjustable
  packages/react-components/src/stories/ColorTokens.stories.mdx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/Typography.stories.mdx
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/stories/components/iconsShowcase.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

Remove unused import
  packages/react-components/src/stories/components/ColorTokens.tsx
Due: eslint --cache --fix, prettier --write

#346 Make mdx docs readable for dark theme by applying styles on Canvas wrapper (#347)
  packages/react-components/src/stories/ColorTokens.stories.mdx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/Typography.stories.mdx
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/stories/components/iconsShowcase.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

temp commit to move changes
  packages/react-components/package-lock.json
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#344 Handle Switch disabled state visually.
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#330 Replace Visiblity On icon to outline version
  packages/icons/svg/material/visibility_on.svg
Due: none

Simplify stories
  packages/react-components/src/components/Switch/Switch.stories.tsx
Due: eslint --cache --fix, prettier --write

Reorganize states story
  packages/react-components/src/components/Switch/Switch.stories.tsx
Due: eslint --cache --fix, prettier --write

multiselect mode with tags, select all option, unit tests, css changes
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add StoryDescriptor component for wrapping components that require additional description
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, prettier --write

fix for selecting logic and tests
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

Pull request template
  .github/pull_request_template.md
Due: prettier --write

changes after review
  .github/pull_request_template.md
Due: prettier --write

Pull request template concept
  .github/pull_request_template.md
Due: prettier --write

Pull request template concept (#360)
  .github/pull_request_template.md
Due: prettier --write

#344 Handle Switch disabled state visually (#353)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#330 Replace Visiblity On icon to outline version (#354)
  packages/icons/svg/material/visibility_on.svg
Due: none

Add one test case for Badge content
  packages/react-components/src/components/Badge/Badge.spec.tsx
Due: eslint --cache --fix, prettier --write

#341 Reorganize Badge component to reflect Figma designs
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

revert package-lock
  packages/react-components/package-lock.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
