Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

code changes
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

background color change for list group headers
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

proper height
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

provide means to show icon in segmented control
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

stay true to the type of field we have picked
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

[SegmentedControl] provide means to show icon in segmented control (#468)
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

Feature/463 card padding fix (#466)
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for button test
  packages/react-components/src/components/Button/Button.spec.tsx
Due: eslint --cache --fix, prettier --write

fix for button test (#469)
  packages/react-components/src/components/Button/Button.spec.tsx
Due: eslint --cache --fix, prettier --write

changed icon type across DS
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/stories/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

changed icon type across DS (#470)
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/stories/components/IconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

icon fixc
  packages/react-components/src/components/Tag/Tag.spec.tsx
Due: eslint --cache --fix, prettier --write

icon fixc (#471)
  packages/react-components/src/components/Tag/Tag.spec.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.28
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

new color for tags
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

away with card constraints
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

export picker list component
  packages/react-components/src/components/Picker/index.ts
Due: eslint --cache --fix, prettier --write

[fixes] Card width, Tag background color, Picker interface (#473)
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/components/Tag/Tag.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.29
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

add aria-pressed attribute to buttons inside segmented control
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

Add aria-pressed attribute to buttons inside segmented control (#475)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

missing propeties
  packages/react-components/src/components/SegmentedControl/index.ts
Due: eslint --cache --fix, prettier --write

SegmentedControl - export missing type (#476)
  packages/react-components/src/components/SegmentedControl/index.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.30
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

missing components export
  packages/react-components/src/components/UploadBar/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

missing components export (#480)
  packages/react-components/src/components/UploadBar/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

tag icon size
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

Provide means for changing icon size used in Tag and by extension Picker component (#483)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

fix: adding missing children type
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, prettier --write

#394 [Picker] background color change for list group headers (#464)
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

#399 [Tab] Improvements (#462)
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.stories.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

tabler icons - wip
  packages/icons/index.d.ts
  packages/icons/svg/tabler/api_app.svg
  packages/react-components/.storybook/main.js
  packages/react-components/src/stories/TablerIcons.stories.mdx
  packages/react-components/src/stories/components/TablerIconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

another tabler icons - wip
  packages/icons/svg/tabler/24-hours.svg
  packages/icons/svg/tabler/abacus.svg
Due: none

adjusted component logic and styles
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adjusted unit tests
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

remove default value
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

test chromatic
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

adjusted unit test, warning fix
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

fixes for Picker component
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes for tests
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write
