Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Accordion): change label height based on child component (#1359)
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): change label height based on child component (#1359) (#1360)
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.38.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

v1.38.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

feat(InviteAgents): new component boilerplate
  packages/react-components/src/components/InviteAgents/InviteAgents.mdx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/index.ts
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): component WIP
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): component WIP
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): adding memoization WIP
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): tooltip statuses
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): tweaking counting logic
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): removing always visible on tooltip
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): improving styles and story
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): story fix, adding animated label WIP
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): animation improvement
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): only unavailable state
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): improvements
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): fixes and improvements
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): improving styles
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): adjusting styles
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
Due: stylelint --fix, prettier --write

feat(InviteAgents): adding new prop and exporting component
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): adding tests
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): redesigning component
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): adding interactive tooltip
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): adding interactive tooltip
  packages/react-components/src/components/InviteAgents/InviteAgents.mdx
Due: none

feat(InviteAgents): texts styling fix
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): copy fix
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): interactive improvements
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): tooltip max-width
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
Due: stylelint --fix, prettier --write

feat(InviteAgents): changing copy
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): review fixes
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.mdx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, prettier --write

feat(InviteAgents): new component (#1363)
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.mdx
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
  packages/react-components/src/components/InviteAgents/index.ts
  packages/react-components/src/components/InviteAgents/types.ts
  packages/react-components/src/index.ts
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.1.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(InviteAgents): fixing floating strategy for ActionMenu
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): fixing animated expansion of button on focus event
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/animated-label.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): close on escape
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): adjusting animated button
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
Due: stylelint --fix, prettier --write

fix(InviteAgents): using custom animated button
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.module.scss
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(InviteAgents): removing unused styles
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
