Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

feat(Metrics): send to server option WIP
  packages/metrics/src/constants.ts
  packages/metrics/src/flagmanService.ts
  packages/metrics/src/index.ts
  packages/metrics/src/metricsGenerator.ts
  packages/metrics/src/types.ts
  packages/metrics/src/utils.ts
Due: eslint --cache --fix, prettier --write

build(react-components,icons): Tree-shaking for react-components; icons package build improvements (#1000)
  nx.json
  package-lock.json
  packages/icons/README.md
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/scripts/createEntryConfig.js
  packages/icons/scripts/updateExports.js
  packages/icons/tsconfig.json
  packages/icons/vite.config.ts
  packages/react-components/.storybook/main.js
  packages/react-components/README.md
  packages/react-components/package.json
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Metrics): adding applicationName param
  packages/metrics/src/metricsGenerator.ts
  packages/metrics/src/tokenScan.ts
  packages/metrics/src/types.ts
Due: eslint --cache --fix, prettier --write

feat(Metrics): using console.log logger
  packages/metrics/README.md
  packages/metrics/src/constants.ts
  packages/metrics/src/flagmanService.ts
  packages/metrics/src/metricsGenerator.ts
  packages/metrics/src/types.ts
  packages/metrics/src/utils.ts
Due: eslint --cache --fix, prettier --write

v1.17.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Tag): styles and stories refactor
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/src/components/Tag/styles/base.scss
  packages/react-components/src/components/Tag/styles/kind.scss
  packages/react-components/src/components/Tag/styles/outline.scss
  packages/react-components/src/components/Tag/styles/size.scss
  packages/react-components/src/components/Tag/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tag): icon only variant
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/styles/outline.scss
  packages/react-components/src/components/Tag/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(build): fixing build process
  packages/react-components/src/foundations/index.ts
  packages/react-components/src/index.ts
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.17.1-alpha.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Button): add active/focus state to button of high-contrast kind
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Button): add box-shadow to Button link
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Button): remove unecessary style
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Button): add box-shadow on focus to base button styles
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/foundations/shadow.css
Due: stylelint --fix, prettier --write

fix(Button): add active/focus state to Button component (#1009)
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/foundations/shadow.css
Due: stylelint --fix, prettier --write

fix(Tag): dismissibleOnHover prop to show close button only on hover
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/styles/base.scss
  packages/react-components/src/components/Tag/styles/outline.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(build): renaming css chunks
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(Tag): close button fix
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

v1.17.1-alpha.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tag): hover state for close button
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

fix(Tag): new variants
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/styles/kind.scss
  packages/react-components/src/components/Tag/styles/outline.scss
  packages/react-components/src/components/Tag/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(build): disable css splitting
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.17.1-alpha.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tag): docs improve, some logic changes related to close button
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tag): disable source code in canvas on doc page
  packages/react-components/src/components/Tag/Tag.mdx
Due: none

fix(Tag): close on hover icon position styles update
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/styles/dismissible.scss
Due: stylelint --fix, prettier --write

fix(build): reverting components tree-shaking
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.17.1-alpha.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tag): added flag to set the component to icon-only mode, which will fix some issues
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

feat(icons): menu icon
  .vscode/settings.json
  packages/icons/svg/menu.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(icons): add vscode dir to gitignore
  .gitignore
  .vscode/settings.json
Due: none

Update .gitignore
  .gitignore
Due: none

fix(Icon): Menu icon (#1013)
  .gitignore
  packages/icons/svg/menu.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Tag): disable prop to hide close icon
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

fix(Tag): types and docs changes
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/constants.ts
  packages/react-components/src/components/Tag/types.ts
Due: eslint --cache --fix, prettier --write

fix(Tag): fix the types issue
  packages/react-components/src/components/Tag/constants.ts
Due: eslint --cache --fix, prettier --write

fix(Tag): New variants, Icon only, docs update, improvements (#1011)
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/constants.ts
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/src/components/Tag/styles/base.scss
  packages/react-components/src/components/Tag/styles/dismissible.scss
  packages/react-components/src/components/Tag/styles/kind.scss
  packages/react-components/src/components/Tag/styles/outline.scss
  packages/react-components/src/components/Tag/styles/size.scss
  packages/react-components/src/components/Tag/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Typography): tokens updates, modal and card components header changes
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(build): removing emotion/css
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

fix(build): enabling js splitting without css sideeffects
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.17.1-alpha.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
