Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix(build): removing glob and build related plugin from storybook
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(Color): new tokens, tokens update
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Color): docs update
  packages/react-components/src/stories/foundations/Color/data.ts
Due: eslint --cache --fix, prettier --write

fix(build): Reverting tree-shaking components due to css injection issues (#1014)
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/foundations/index.ts
  packages/react-components/src/index.ts
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.17.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Typography): fix
  packages/react-components/src/components/Typography/Typography.module.scss
Due: stylelint --fix, prettier --write

fix(Typography): tokens updates, modal and card components header changes (#1016)
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Color): new tokens, tokens update (#1017)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Color): use root with light theme as default theme
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix(Typography): added customColor ad textAlign additional props
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/types.ts
Due: eslint --cache --fix, prettier --write

fix(Input): change color for disabled state if value is given
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Input): styles changes
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Skeleton): new component
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/Skeleton.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/index.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "feat(Skeleton): new component"
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/Skeleton.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/index.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Skeleton): new component
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/Skeleton.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Skeleton): style fix
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

feat(Skeleton): docs story name change
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(FormField): docs controls changes, style changes
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): fix the focus state for keyboard control
  packages/react-components/src/components/Button/styles/base.scss
Due: stylelint --fix, prettier --write

fix(Color): use root with light theme as default theme (#1018)
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix(Typography): added customColor ad textAlign additional props (#1019)
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/types.ts
Due: eslint --cache --fix, prettier --write

fix(Input): change color for disabled state if value is given (#1021)
  packages/react-components/src/components/Input/Input.module.scss
Due: stylelint --fix, prettier --write

feat(Skeleton): update tokens enum and docs, naming changes
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/Skeleton.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonAvatar.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonAvatar.tsx
  packages/react-components/src/components/Skeleton/SkeletonPlaceholder.stories.tsx
  packages/react-components/src/components/Skeleton/index.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(TagInput): adding additional tag value type to setup tags appearance
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/src/components/Tag/types.ts
  packages/react-components/src/components/TagInput/EditableTag.tsx
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
  packages/react-components/src/components/TagInput/types.ts
Due: eslint --cache --fix, prettier --write

fix(Tag): adding more desc for new value prop in Tag component
  packages/react-components/src/components/Tag/types.ts
Due: eslint --cache --fix, prettier --write

fix(TagInput): fixing bug for adding empty string onBlur event; adding new customizable tag story
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

feat(Skeleton): docs update
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
Due: eslint --cache --fix, prettier --write

fix(FormField): style changes
  packages/react-components/src/components/FormField/FormField.module.scss
Due: stylelint --fix, prettier --write

fix(FormField): style changes
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(TagInput): moving files
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/components/EditableTag.tsx
  packages/react-components/src/components/TagInput/components/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/components/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
Due: eslint --cache --fix, prettier --write

fix(FormField): Docs controls changes, style changes (#1026)
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(TagInput): improving docs
  packages/react-components/src/components/TagInput/TagInput.mdx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

fix(TagInput): improving types
  packages/react-components/src/components/TagInput/types.ts
Due: eslint --cache --fix, prettier --write

fix(ColorTokens): adding new colors
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

fix(build): running TS check on pre-commit hook
  .husky/pre-commit
  packages/react-components/package.json
Due: none

fix(build): adding token generation to lint-staged pre-commit
  .lintstagedrc
  .lintstagedrc.json
  packages/react-components/package.json
Due: none

fix(build): testing color change
  .lintstagedrc.json
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write

fix(build): testing color change
  .lintstagedrc.json
  packages/react-components/scripts/generateDesignTokenEnum.js
Due: eslint --cache --fix, prettier --write

fix(build): adding color enums and color groups
  .husky/pre-commit
  .lintstagedrc.json
  packages/react-components/package.json
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(metrics): package lock
  package-lock.json
Due: none
