Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Set publish access to public
  packages/icons/package.json
  packages/react-components/package.json
  packages/styles/package.json
Due: none

v1.0.0-alpha.1
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/styles/package-lock.json
  packages/styles/package.json
Due: none

DS-00-tag-input: Tag input base
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
  packages/react-components/src/stories/TagInput.stories.tsx
  packages/styles/src/components/_tag-input.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-tag-input: Keyboard & paste support
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/constants/keyCodes.ts
  packages/react-components/src/stories/TagInput.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: email validator
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
  packages/react-components/src/constants/keyCodes.ts
  packages/react-components/src/stories/TagInput.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: tag remove icon
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/styles/src/components/_tag-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-tag-input: editable tags & error state
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/TagInput/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/stories/TagInput.stories.tsx
  packages/styles/src/components/_tag-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-tag-input: improvements
  packages/react-components/src/stories/TagInput.stories.tsx
  packages/styles/src/components/_tag-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-tag-input: allowing tag adding when in wrong format
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: naming improvement
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
Due: eslint --cache --fix, prettier --write

use prevState to correct handle onKeyDown events
  packages/react-components/src/stories/NumericInput.stories.tsx
  packages/react-components/src/stories/NumericInputField.stories.tsx
  packages/react-components/src/stories/helpers.ts
Due: eslint --cache --fix, prettier --write

DS-186 ButtonGroup component (#283)
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/ButtonGroup.spec.tsx
  packages/react-components/src/components/ButtonGroup.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
  packages/react-components/src/components/Form.spec.tsx
  packages/react-components/src/components/RadioButton.spec.tsx
  packages/react-components/src/components/Switch.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/stories/ButtonGroup.stories.tsx
  packages/react-components/src/stories/Switch.stories.tsx
  packages/react-components/src/test-utils.ts
  packages/react-components/src/utils/noop.ts
  packages/styles/src/components/_button.scss
  packages/styles/src/components/_buttonGroup.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Docs design adjustments after CR
  packages/react-components/package-lock.json
  packages/react-components/src/stories/foundations/DesignTokens.stories.mdx
  packages/react-components/src/stories/foundations/components/ColorTokens.tsx
  packages/react-components/src/stories/foundations/components/DesignTokens.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
  packages/react-components/src/stories/foundations/components/iconsShowcase.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

Color Tokens palette (#286)
  packages/example-react/src/App.js
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/package-lock.json
  packages/react-components/src/index.ts
  packages/react-components/src/stories/foundations/DesignTokens.stories.mdx
  packages/react-components/src/stories/foundations/components/ColorTokens.tsx
  packages/react-components/src/stories/foundations/components/IconsShowcase.tsx
  packages/react-components/src/stories/foundations/components/iconsShowcase.css
  packages/styles/package-lock.json
  packages/styles/package.json
  packages/styles/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Theme switcher for storybook (#287)
  packages/react-components/.storybook/global.css
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix secondary badge color + fonts (#288)
  packages/styles/src/components/_badge.scss
Due: stylelint --fix, prettier --write

Adjust typography and icons in Alert component
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/AlertIcon.tsx
Due: eslint --cache --fix, prettier --write

Remove old react-svg-icon dep
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/components/Toast.tsx
  packages/react-components/src/components/ToastIcon.tsx
  packages/styles/src/components/_promo-banner.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix unit test by providing Proxy mapper for icons package
  packages/react-components/mocks/icon.ts
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

Toast colors adjustments
  packages/react-components/src/components/Toast.tsx
  packages/styles/src/components/_toast.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-182 Fixes for Alert component + remove old icon dependency (#289)
  packages/icons/package-lock.json
  packages/react-components/mocks/icon.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Alert.tsx
  packages/react-components/src/components/AlertIcon.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/PromoBanner.tsx
  packages/react-components/src/components/Toast.tsx
  packages/react-components/src/components/ToastIcon.tsx
  packages/styles/src/components/_promo-banner.scss
  packages/styles/src/components/_toast.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Extract themes as separate css dist files
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/legacy.scss
  packages/styles/src/themes/light.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.2
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/styles/package-lock.json
  packages/styles/package.json
Due: none

Fix missing Color Tokens story
  packages/react-components/src/stories/foundations/ColorTokens.stories.mdx
Due: none

DS-00-tag-input: review fixes
  packages/react-components/src/components/TagInput/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/constants/keyCodes.ts
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: review fixes
  packages/react-components/src/components/TagInput/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/Tag.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: adding tests
  packages/react-components/src/components/TagInput/Tag.spec.tsx
  packages/react-components/src/components/TagInput/TagInput.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: removing duplicate validation
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: using email regex from AA
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: fix
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

DS-00-tag-input: Filter component
  packages/react-components/src/components/Filter.tsx
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/stories/Filter.stories.tsx
  packages/styles/src/components/_filter.scss
  packages/styles/src/components/_tag-input.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-tag-input: Tag input padding
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/styles/src/components/_tag-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-00-grouping-input: test update
  packages/react-components/src/components/Filter.spec.tsx
Due: eslint --cache --fix, prettier --write

package-lock update
  packages/react-components/package-lock.json
Due: none

DS-00-grouping-input: fix
  packages/react-components/src/stories/Filter.stories.tsx
  packages/styles/src/components/_filter.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

simple select field with styles
  packages/react-components/src/components/Select/Select.tsx
  packages/react-components/src/components/Select/SelectList.tsx
  packages/react-components/src/components/Select/interfaces.ts
  packages/react-components/src/components/constants.ts
  packages/react-components/src/stories/Select.stories.tsx
  packages/styles/src/components/_select.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

update
  packages/react-components/src/components/Select/Select.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/NumericInput.tsx
Due: eslint --cache --fix, prettier --write

DS-169 - Text field, input field and numeric input (#273)
  packages/react-components/src/components/InputField.spec.tsx
  packages/react-components/src/components/InputField.tsx
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput.tsx
  packages/react-components/src/components/NumericInputField.tsx
  packages/react-components/src/components/TextField.spec.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/InputField.stories.tsx
  packages/react-components/src/stories/NumericInput.stories.tsx
  packages/react-components/src/stories/NumericInputField.stories.tsx
  packages/react-components/src/stories/TextField.stories.tsx
  packages/react-components/src/stories/helpers.ts
  packages/styles/src/components/_icon.scss
  packages/styles/src/components/_input-field.scss
  packages/styles/src/components/_numeric-input.scss
  packages/styles/src/components/_text-field.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
