Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

add type attribute
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix picker content color
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

add type attribute to PickerTrigger button (#948)
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): adding additional aria-disabled for easier testing
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

styles fixes
  packages/react-components/src/components/Button/styles/icon.scss
Due: stylelint --fix, prettier --write

fix(Picker): adding custom z-index to align with our modals
  packages/react-components/src/components/Picker/components/PickerList.module.scss
Due: stylelint --fix, prettier --write

fix(Tooltip): adding children props to Tooltip props definition
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): adding margin to icons
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): Fixes for Picker and related components (#950)
  packages/react-components/src/components/Picker/components/PickerList.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.16.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

move margin to cta container for small and medium sizes
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

overflow hidden for container
  packages/react-components/src/components/Textarea/Textarea.module.scss
Due: stylelint --fix, prettier --write

add mising icon
  packages/icons/entryConfig.ts
  packages/icons/svg/ChipCopilotOutlined.svg
Due: eslint --cache --fix, prettier --write

fix(Alert): move margin to cta container for small and medium sizes (#953)
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

add foundations section for shadow tokens
  packages/react-components/src/stories/Shadow.stories.mdx
  packages/react-components/src/stories/components/Shadow.tsx
Due: eslint --cache --fix, prettier --write

add examples for shadow foundations section
  packages/react-components/src/stories/components/ShadowExamples.module.scss
  packages/react-components/src/stories/components/ShadowExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

arrow placement for large container
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): fix for color in list options
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): fix for color in list options
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): fix for hovered element outline
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

chore(Icons): updating exports on postbuild hook
  packages/icons/package.json
Due: none

chore(Icons): fix scrypt
  packages/icons/scripts/updateExports.js
Due: eslint --cache --fix, prettier --write

fix(Picker): Minor fixes (#959)
  packages/icons/package.json
  packages/icons/scripts/updateExports.js
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for the issue with labeled header on small screen
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalBase.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): Styles fixes (#952)
  packages/react-components/src/components/Button/styles/icon.scss
Due: stylelint --fix, prettier --write

use full names of tokens
  packages/react-components/src/stories/components/Shadow.tsx
Due: eslint --cache --fix, prettier --write

update
  packages/icons/package.json
Due: none

styles update
  packages/react-components/src/components/Textarea/Textarea.module.scss
Due: stylelint --fix, prettier --write

fix(Alert): Close button placement for large container (#958)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icons): Add missing icon (#955)
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/ChipCopilotOutlined.svg
Due: eslint --cache --fix, prettier --write

fix(Textarea): overflow hidden for container (#954)
  packages/react-components/src/components/Textarea/Textarea.module.scss
Due: stylelint --fix, prettier --write

fix(Modal): Fix for the issue with labeled header on small screen (#961)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalBase.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): Arrow styles updates (#944)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.16.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Avatar): handle emojis as text input
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Avatar): clean up test cases
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
Due: eslint --cache --fix, prettier --write

fix(Avatar): handle emojis as text input (#967)
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
Due: eslint --cache --fix, prettier --write

adding new icons
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/discount-filled.svg
  packages/icons/svg/discount.svg
Due: eslint --cache --fix, prettier --write

update svg stroke/fill to currentcolor
  packages/icons/svg/discount-filled.svg
  packages/icons/svg/discount.svg
Due: none

fix(Icon): Add new icons (#968)
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/discount-filled.svg
  packages/icons/svg/discount.svg
Due: eslint --cache --fix, prettier --write
