Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

small change
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

changes related to accessibility + tests update
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

some styles changes
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

some changes in styles
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

story update
  packages/react-components/src/components/Search/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

updated story for collapsed search
  packages/react-components/src/components/Search/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

fix for collapsing search
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

refactored stories for picker component
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

accessibility addon for Storybook
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

Accessibility addon for Storybook (#494)
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

visual bug fixes
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#406 - Search - adjusted logic and styles (#488)
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

visual bug fix + story update
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

pass additional props (like data-testid) to the component
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

modal with new header flow + labelled variant + stories
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/modal-image.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

test fixes, a11y props for modal
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/assets/modal-image.png
Due: eslint --cache --fix, prettier --write

#465 - Badge - visual bug fix + story update (#496)
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#451 - Alert - Possibility to pass additional props (like data-testid) to the component (#497)
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

styles fixes
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

chromatic test
  packages/react-components/.npmrc
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Search/Search.stories.tsx
Due: eslint --cache --fix, prettier --write

added onClose prop to pass handler for popover close action
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

test commit
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

#500 - Popover - onClose prop to pass handler for popover close action (#501)
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.31
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

test commit
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

Revert "styles fixes"
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

change
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, prettier --write

test commit
  package.json
Due: none

test
  .github/workflows/chromatic.yml
Due: none

change
  .github/workflows/chromatic.yml
Due: none

test
  package.json
Due: none

fix for node v18
  package.json
  packages/react-components/package-lock.json
Due: none

fix for node v18
  package.json
Due: none

fix for node v18
  packages/react-components/package.json
Due: none
