Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

fix(AppFrame): simple label group padding fix
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): small code change and test update
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): moved animation related logic to dedicated hook
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/hooks/useAppFrameAnimations.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): animations update (#1256)
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/hooks/useAppFrameAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Badge): deprecate some props and new UpdateBadge and StatusBadge components
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/StatusBadge/StatusBadge.module.scss
  packages/react-components/src/components/StatusBadge/StatusBadge.stories.tsx
  packages/react-components/src/components/StatusBadge/StatusBadge.tsx
  packages/react-components/src/components/StatusBadge/index.ts
  packages/react-components/src/components/UpdateBadge/UpdateBadge.module.scss
  packages/react-components/src/components/UpdateBadge/UpdateBadge.stories.tsx
  packages/react-components/src/components/UpdateBadge/UpdateBadge.tsx
  packages/react-components/src/components/UpdateBadge/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Badge): styles update
  packages/react-components/src/components/StatusBadge/StatusBadge.module.scss
Due: stylelint --fix, prettier --write

feat(Badge): changes after review
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/StatusBadge/StatusBadge.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): add LinkedIn icons
  packages/icons/svg/linkedin_colored.svg
  packages/icons/svg/linkedin_mono.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for event listeners
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

feat(Badge): update color token
  packages/react-components/src/components/UpdateBadge/UpdateBadge.module.scss
Due: stylelint --fix, prettier --write

feat(Badge): deprecate some props and new UpdateBadge and StatusBadge components (#1258)
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/StatusBadge/StatusBadge.module.scss
  packages/react-components/src/components/StatusBadge/StatusBadge.stories.tsx
  packages/react-components/src/components/StatusBadge/StatusBadge.tsx
  packages/react-components/src/components/StatusBadge/index.ts
  packages/react-components/src/components/UpdateBadge/UpdateBadge.module.scss
  packages/react-components/src/components/UpdateBadge/UpdateBadge.stories.tsx
  packages/react-components/src/components/UpdateBadge/UpdateBadge.tsx
  packages/react-components/src/components/UpdateBadge/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icon): add LinkedIn icons (#1259)
  packages/icons/svg/linkedin_colored.svg
  packages/icons/svg/linkedin_mono.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v1.30.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(DetailsCard): expand card on label click
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): fix for event listeners (#1260)
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
Due: eslint --cache --fix, prettier --write

feat(Icon): adding Platform product logo
  packages/icons/svg/platform-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): adding arrows-sort icon
  packages/icons/svg/arrows-sort.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): adding arrows-sort icon (#1266)
  packages/icons/svg/arrows-sort.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): adding Platform product logo (#1264)
  packages/icons/svg/platform-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(DetailsCard): changes after review
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

fix(DetailsCard): expand card on label click (#1261)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.30.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Picker): fixed the issue with virtual focus when filtering the list
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fixed the issue with virtual focus when filtering the list (#1267)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): main nav scrollbar fix for safari
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): changes in the top bar
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): main nav scrollbar fix for safari (#1269)
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): new component
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/components/index.ts
  packages/react-components/src/components/OnboardingChecklist/index.ts
  packages/react-components/src/components/OnboardingChecklist/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): line decorator
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): update
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/index.ts
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): media query update
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
Due: stylelint --fix, prettier --write

feat(OnboardingChecklist): resize observer
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, prettier --write

fix(Modal): adding export for ActionModalContent
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, prettier --write

fix(Modal): adding export for ActionModalContent (#1271)
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, prettier --write

feat(OnboradingChecklist): complete state
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): replace key prop value
  .gitignore
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): change token background
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Icon): add arrow merge icon
  packages/icons/svg/arrows_merge.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): icon for complete state
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): reopen after complete
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum
