Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

refactor(Progress, UploadBar): migrate to emotion (#1565)
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/styles.ts
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/components/UploadBar/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(PromoBannerV2): fixes
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(PromoBannerV2): fixes
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Loader): migrate from CSS modules to emotion
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Loader/styles.ts
  packages/react-components/src/components/Loader/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): enhance multi-select table interaction and styling
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): adjust overflow for visible table header
  packages/react-components/src/components/Table/Table.module.scss
Due: stylelint --fix, prettier --write

fix(Table): remove redundant padding in table header
  packages/react-components/src/components/Table/Table.module.scss
Due: stylelint --fix, prettier --write

refactor(Color): reorganize data visualization color groups
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

fix(Table): adjust stories visibility styling
  packages/react-components/src/components/Table/Table.module.scss
Due: stylelint --fix, prettier --write

fix(Table): improve header visibility and transition styling
  packages/react-components/src/components/Table/Table.module.scss
Due: stylelint --fix, prettier --write

fix(Table): add hidden state for selectable table header
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Color): enhance categorical color documentation with detailed options
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

refactor(Modal): migrate styles to emotion part 1
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Modal): migrate styles to emotion part 1"
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Color): improve color sorting with numeric Intl.Collator
  packages/react-components/src/stories/foundations/Color/helpers.ts
Due: eslint --cache --fix, prettier --write

feat(Tokens): add data visualization color palette (#1535)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/helpers.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/stories/foundations/Radius/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Table): add multi-select table type with styling updates (#1531)
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.spec.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/stories-helpers.tsx
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(PromoBannerV2): style changes
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.styles.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(PromoBannerV2): fix
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

refactor(PromoBannerV2): fix
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.styles.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
Due: eslint --cache --fix, prettier --write

refactor(PromoBannerV2): workflows cache version update
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

refactor(Styles): update emotion styles
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(Styles): workflows update
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

refactor(PromoBannerV2): migrate to emotion (#1571)
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.styles.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/index.ts
  packages/react-components/src/components/PromoBannerV2/styles.ts
  packages/react-components/src/components/PromoBannerV2/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Styles): update emotion styles (#1574)
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
Due: eslint --cache --fix, prettier --write

refactor(Loader): migrate from CSS modules to emotion (#1573)
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Loader/styles.ts
  packages/react-components/src/components/Loader/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ListItem): migrate from CSS modules to emotion (#1572)
  packages/react-components/src/components/ListItem/ListItem.module.scss
  packages/react-components/src/components/ListItem/ListItem.tsx
  packages/react-components/src/components/ListItem/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Link): migrate from SCSS modules to emotion (#1570)
  packages/react-components/src/components/Link/Link.module.scss
  packages/react-components/src/components/Link/Link.tsx
  packages/react-components/src/components/Link/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Link): migrate from SCSS modules to emotion (#1570)"
  packages/react-components/src/components/Link/Link.module.scss
  packages/react-components/src/components/Link/Link.tsx
  packages/react-components/src/components/Link/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(ListItem): migrate from CSS modules to emotion (#1572)"
  packages/react-components/src/components/ListItem/ListItem.module.scss
  packages/react-components/src/components/ListItem/ListItem.tsx
  packages/react-components/src/components/ListItem/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Loader): migrate from CSS modules to emotion (#1573)"
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Loader/styles.ts
  packages/react-components/src/components/Loader/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Styles): update emotion styles (#1574)"
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
Due: eslint --cache --fix, prettier --write

Revert "refactor(PromoBannerV2): migrate to emotion (#1571)"
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.styles.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/PromoBannerV2/index.ts
  packages/react-components/src/components/PromoBannerV2/styles.ts
  packages/react-components/src/components/PromoBannerV2/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Progress, UploadBar): migrate to emotion (#1565)"
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/Progress/styles.ts
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/components/UploadBar/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Stepper): migrate styles to emotion (#1564)"
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/components/Stepper/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(OverflowTooltipText): refactor styles to emotion (#1561)"
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.module.scss
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/components/OverflowTooltipText/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Skeleton): migrate from SCSS to Emotion CSS (#1557)"
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/SkeletonAvatar.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(ActionBar): migrate styles to emotion (#1540)"
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles.ts
  packages/react-components/src/components/ActionBar/styles/select-indicator.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Card): migrate from CSS modules to emotion (#1547)"
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/Card/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Tab): migrate from CSS modules to emotion (#1553)"
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tab/TabsWrapper.tsx
  packages/react-components/src/components/Tab/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
