Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

[Switch] Allow accessible name for switch input element (#445)
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

#437: Add class name prop to `SearchInput` (#441)
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

away with state props
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

selective size options
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

#396 ButtonGroup rename SegmentedControl + component improvements (#422)
  packages/react-components/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/react-components/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-components/src/components/ButtonGroup/index.ts
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
  packages/react-components/src/components/SegmentedControl/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

#440 Change on focus property from box shadow to filter (#439)
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

version bump
  packages/react-components/package-lock.json
Due: none

v1.0.0-alpha.25
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

changes after review
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

changes after testing
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixed issue with select all option
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

change logic related to the select all option
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

#338 Changes in Picker component related to enabling the multiselect option (#357)
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.26
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

change the prop name
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/ButtonGroup/ButtonGroup.tsx
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/utils/constants.ts
  packages/react-components/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

export new Size type
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

custom component as item body
  packages/react-components/src/components/Picker/Picker.stories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#403 Changes in Toast component related to designs (#443)
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

small change
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#404 Textarea component (#442)
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
  packages/react-components/src/components/Textarea/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after tests, added possibility to set the place of the icon
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#342 Support type prop to set the type of input, adjusted styles to fit with designs, added Icon functionality (#369)
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/stories/components/Spacing.css
  packages/react-components/src/stories/components/SpacingExamples.module.scss
  packages/react-components/src/utils/constants.ts
  packages/react-components/src/utils/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

more tests related to custom components passed as options
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
Due: eslint --cache --fix, prettier --write

hide header if title not available
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

by default place children components in column
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

going back to default layout
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

#343 Extend the Picker options interface and logic to enable passing the own component as item (#450)
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

drop condition
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

[CARD] use default layout for nested components (#454)
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

[Card] hide header if title not available (#452)
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

Update RELEASE.md
  docs/RELEASE.md
Due: prettier --write

interface fix
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

Interface fix for Picker (#458)
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

styles formatting
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Toast/Toast.module.scss
Due: stylelint --fix, prettier --write

Styles formatting (#459)
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Toast/Toast.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.27
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

slash height of title in half if image is not provided
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

tab component improvements
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.stories.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
