Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Button updated tokens (partial), SB changes related to the dark mode
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Card updated tokens
  packages/react-components/src/components/Card/Card.module.scss
Due: stylelint --fix, prettier --write

Button updatek token with dedicated tokens
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

Button updated tokens
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Button styles logic changes
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

DatePicker updated tokens
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
Due: stylelint --fix, prettier --write

Progress components updated tokens
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.module.scss
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
Due: stylelint --fix, prettier --write

Icon updated tokens
  packages/react-components/src/components/Icon/Icon.module.scss
Due: stylelint --fix, prettier --write

Modal updated tokens + fixes for mobile views, Picker fixed the issue with passing attribute props + styles for active/focused element, updated the value for --content-basic-gradient-01 token
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Picker updated tokens + removed label and error in text form
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Popover updated tokens
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

PromoBanner updated tokens
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Search updated tokens
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

SegmentedControl updated tokens
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
Due: stylelint --fix, prettier --write

Switch updated tokens
  packages/react-components/src/components/Switch/Switch.module.scss
Due: stylelint --fix, prettier --write

Tabs updated tokens
  packages/react-components/src/components/Tab/Tab.module.scss
Due: stylelint --fix, prettier --write

Tag updated tokens + more variants + stories update
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Toast updated tokens + some UI fixes
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Tooltip updated tokens
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

Checkbox updated tokens
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Form updated tokens
  packages/react-components/src/components/Form/Form.module.scss
Due: stylelint --fix, prettier --write

Input, FormGroup, FormField updated tokens
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormGroup/FormGroup.module.scss
  packages/react-components/src/components/Input/Input.module.scss
Due: stylelint --fix, prettier --write

NumericInput, RadioButton, TagInput, Textarea updated tokens
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/Textarea/Textarea.module.scss
Due: stylelint --fix, prettier --write

add data-testid to picker trigger
  packages/react-components/package-lock.json
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix after review
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

fix after review
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/.storybook/preview-head.html
Due: none

v1.0.0-alpha.39
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Modal - removed overflow prop from modal body, added flex-direction
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.40
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Modal - fix for changing header and footer size
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.41
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

double
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, prettier --write

Tooltip - let interactive tooltip get data for buttons
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#511 - Tooltip - let interactive tooltip get data for buttons (#512)
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.42
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none
