Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

new tokens for all alert kinds
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

ActionMenu docs update
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/stories/components/BlockColumns.module.scss
  packages/react-components/src/stories/components/BlockColumns.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

changes after review
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

ui fix
  packages/react-components/src/components/Alert/Alert.module.scss
Due: stylelint --fix, prettier --write

#642 - Alert - New tokens for all alert kinds (#643)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

ActionMenu - docs update (#645)
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/stories/components/BlockColumns.module.scss
  packages/react-components/src/stories/components/BlockColumns.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding blocks plugin and figma embedded component plugin
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/src/components/Alert/Alert.mdx
Due: eslint --cache --fix, prettier --write

showing story and args
  packages/react-components/src/components/Alert/Alert.mdx
Due: none

Alert
  packages/react-components/src/components/Alert/Alert.mdx
Due: none

new link
  packages/react-components/src/components/Alert/Alert.mdx
Due: none

package lock update
  packages/example-react/package-lock.json
Due: none

Alert docs
  packages/react-components/package-lock.json
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
Due: none

wip
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
Due: eslint --cache --fix, prettier --write

Numeric input
  packages/react-components/src/components/NumericInput/NumericInput.mdx
Due: none

Picker
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

Feature/alert docs (#644)
  packages/example-react/package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

replacing storybook-addon-designs with @storybook/addon-designs plugin
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
Due: eslint --cache --fix, prettier --write

New Figma iFrame plugin (#646)
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
Due: eslint --cache --fix, prettier --write

fix for documentation
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

change
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
Due: none

ActionMenu - Fix for documentation (#647)
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

Avatar docs update
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/src/components/Avatar/Avatar.mdx
Due: none

Avatar - Docs update (#648)
  packages/react-components/src/components/Avatar/Avatar.mdx
Due: none

docs update
  packages/react-components/src/components/Badge/Badge.mdx
Due: none

docs for Popover and Progress components
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Popover/Popover.mdx
  packages/react-components/src/components/Progress/ProgressBar.mdx
  packages/react-components/src/components/Progress/ProgressBar.stories.tsx
  packages/react-components/src/components/Progress/ProgressCircle.mdx
  packages/react-components/src/components/Progress/ProgressCircle.stories.tsx
Due: eslint --cache --fix, prettier --write

fixing docs
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Picker/Picker.mdx
  packages/react-components/src/components/Popover/Popover.mdx
Due: none

more docs
  packages/react-components/src/components/NumericInput/NumericInput.mdx
  packages/react-components/src/components/Progress/ProgressBar.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.mdx
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/Search/Search.mdx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.mdx
  packages/react-components/src/components/Switch/Switch.mdx
Due: eslint --cache --fix, prettier --write

docs update
  packages/react-components/src/components/Button/Button.mdx
Due: none

docs update
  packages/react-components/src/components/Card/Card.mdx
Due: none

more docs
  packages/react-components/src/components/Tab/TabsWrapper.mdx
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/TagInput/TagInput.mdx
  packages/react-components/src/components/Textarea/Textarea.mdx
  packages/react-components/src/components/Toast/Toast.mdx
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/UploadBar/UploadBar.mdx
Due: none

link fix
  packages/react-components/src/components/UploadBar/UploadBar.mdx
Due: none

radio story fix
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
Due: eslint --cache --fix, prettier --write

checkbox docs
  packages/react-components/src/components/Checkbox/Checkbox.mdx
Due: none

rangedatepicker docs
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
Due: none

docs update
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Loader/Loader.mdx
  packages/react-components/src/components/Modal/Modal.mdx
Due: none

fixing mask and story fo Checkbox component
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
