Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

chore(deps): upgrade lerna to v8.2.3
  package-lock.json
  package.json
Due: none

chore(deps): upgrade vitest to v3.2.4
  package-lock.json
  packages/react-components/package.json
Due: none

chore(deps): simplify config
  packages/react-components/.storybook/main.ts
  packages/react-components/tsconfig.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

chore(deps): upgrade vitest/coverage-v8 to 3.2.4
  package-lock.json
  packages/react-components/package.json
Due: none

chore(deps): upgrade vitest/coverage-v8 to patch security issues (#1640)
  package-lock.json
  packages/react-components/package.json
Due: none

v2.31.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(deps): security patch vue-template-compiler
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(user-guide): add hideOverlay prop
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

fix(deps): Security patch of vue-template-compiler (#1644)
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(user-guide): hideOverlay prop comment update
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

fix(user-guide): update story
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(user-guide): disable arg
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(user-guide): add hideOverlay prop (#1647)
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

v2.32.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(deps): update vite
  package-lock.json
  packages/example-react/package.json
  packages/example-react/tsconfig.node.json
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/react-components/tsconfig.node.json
Due: none

fix(deps): fix package version
  lerna.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(deps): fix one more
  packages/react-components/package.json
Due: none

fix(deps): update vite to 7.1.7
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(deps): update vite to 7.1.7 (#1650)
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(deps): resolve micromatch vulnerability
  package-lock.json
  package.json
Due: none

fix(deps): Resolve micromatch vulnerability (#1651)
  package-lock.json
  package.json
Due: none

fix(ProductSwitcher): remove target="_blank" from anchor tag
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

docs(vite): update docs after vite upgrade and stylesheet name change
  packages/example-react/src/main.tsx
  packages/react-components/README.md
Due: eslint --cache --fix, prettier --write

fix(docs): fix readme
  packages/react-components/README.md
Due: prettier --write

feat(ProductSwitcher): remove target="_blank" from anchor tag (#1653)
  packages/example-react/src/main.tsx
  packages/react-components/README.md
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

v2.33.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(table): add custom bg color option
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(table): add table bg color stories
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): add prop to customize cta
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

test(UserGuide): add UserGuideStep test
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuideStep): fix story
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(table): Add `customBackgroundColor` prop (#1655)
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuideStep): cr - rename prop
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuideStep): Extend `UserGuideStep` with prop to customize CTA (#1657)
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
Due: eslint --cache --fix, prettier --write

v2.34.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none
