Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix for node v18
  package.json
  packages/react-components/package.json
Due: none

fix for node v18
  packages/react-components/package.json
Due: none

style fixes
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#479 #477 #395 - Picker - bug fixes (#491)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for upload header size
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
Due: stylelint --fix, prettier --write

#433 - Upload Bar - Visual bug fixes (#495)
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

removed ActionModal component + stories setup for Modal component
  packages/react-components/src/components/Modal/ActionModal.tsx
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, prettier --write

#400 - Modal - New header flow with labeled variant (#498)
  packages/react-components/src/components/Modal/ActionModal.tsx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/assets/modal-image.png
  packages/react-components/src/components/Modal/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

new design tokens
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

view fix
  packages/react-components/src/stories/components/ColorTokens.tsx
Due: eslint --cache --fix, prettier --write

styles fixes related to the new tokens
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/Switch/Switch.module.scss
Due: stylelint --fix, prettier --write

New design tokens (#506)
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Progress/ProgressBar.module.scss
  packages/react-components/src/components/Progress/ProgressCircle.module.scss
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

update
  packages/react-components/package-lock.json
Due: none

v1.0.0-alpha.32
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fix for Tabs component
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.33
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fix for Input component - onFocus and onBlur effects
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.34
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

v1.0.0-alpha.35
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

data-testid for Input component fix
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.36
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

tokens update
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Tokens update (#508)
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-y.0
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

new tokens in loader component
  packages/react-components/src/components/Loader/Loader.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.0
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

correct tokens for link component
  packages/react-components/src/components/Link/Link.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.1
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

v1.0.0-alpha.37
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

new tokens in badge component
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write

v1.0.0-alpha.38
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

SB preview changes, Alert updated tokens, Icon updated tokens (partialy)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Icon/Icon.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Avatar updated tokens
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Badge updated tokens
  packages/react-components/src/components/Badge/Badge.module.scss
Due: stylelint --fix, prettier --write
