Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

AA-7719 ButtonGroup > Improving box-shadow for :focus and :active states (#166)
  packages/design-system/src/components/ButtonGroup/style.scss
Due: none

bump version, update changelog
  packages/design-system/CHANGELOG.md
  packages/design-system/package-lock.json
  packages/design-system/package.json
Due: prettier --write

Add badge
  packages/design-system/src/scss/variables/colors.scss
  src/components/Badge/Badge.js
  src/components/Badge/Badge.md
  src/components/Badge/Badge.test.js
  src/components/Badge/__snapshots__/Badge.test.js.snap
  src/components/Badge/index.js
  src/components/Badge/style.scss
  styleguide.config.js
Due: prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Remove light-color
  packages/design-system/src/scss/variables/colors.scss
Due: none

Add types
  src/interfaces/badge.d.ts
Due: prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Fix badge
  packages/design-system/src/components/Badge/Badge.js
  packages/design-system/src/components/Badge/Badge.md
  packages/design-system/src/components/Badge/Badge.test.js
  packages/design-system/src/components/Badge/__snapshots__/Badge.test.js.snap
  packages/design-system/src/components/Badge/index.js
  packages/design-system/src/components/Badge/style.scss
  packages/design-system/src/components/index.js
  packages/design-system/src/interfaces/badge.d.ts
  packages/design-system/src/interfaces/index.d.ts
  packages/design-system/src/scss/variables/colors.scss
  src/components/Badge/Badge.js
  src/components/Badge/__snapshots__/Badge.test.js.snap
  src/components/Badge/index.js
  src/components/Badge/style.scss
  src/interfaces/badge.d.ts
  styleguide.config.js
Due: prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Fix docs & classname
  packages/design-system/src/components/Badge/Badge.js
  packages/design-system/src/components/Badge/Badge.md
Due: prettier --write

Remove overflow: hidden
  packages/design-system/src/components/Badge/style.scss
Due: none

Badge component (#85)
  packages/design-system/src/components/Badge/Badge.js
  packages/design-system/src/components/Badge/Badge.md
  packages/design-system/src/components/Badge/Badge.test.js
  packages/design-system/src/components/Badge/__snapshots__/Badge.test.js.snap
  packages/design-system/src/components/Badge/index.js
  packages/design-system/src/components/Badge/style.scss
  packages/design-system/src/components/index.js
  packages/design-system/src/interfaces/badge.d.ts
  packages/design-system/src/interfaces/index.d.ts
  packages/design-system/src/scss/variables/colors.scss
  styleguide.config.js
Due: prettier --write

bump version, changelog update
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
Due: prettier --write

deps update
  packages/design-system/package-lock.json
Due: none

Updates
  build/1.578a402c.js
  build/1.d17d16ae.js
  build/bundle.3ae16332.js
  build/bundle.57e11cf5.js
  index.html
Due: none

added header into select list items
  packages/design-system/src/components/SelectField/Select.js
  packages/design-system/src/components/SelectField/SelectField.md
  packages/design-system/src/components/SelectField/SelectList.js
  packages/design-system/src/components/SelectField/style.scss
  packages/design-system/src/interfaces/forms.d.ts
Due: prettier --write

adjust inputs height
  packages/design-system/src/components/InputField/style.scss
  packages/design-system/src/components/MultiSelectField/style.scss
  packages/design-system/src/components/SelectField/style.scss
Due: none

do not render clear icon in select
  packages/design-system/src/components/SelectField/ClearButton.js
  packages/design-system/src/components/SelectField/Select.js
  packages/design-system/src/components/SelectField/style.scss
Due: none

input and select field height
  packages/design-system/src/components/InputField/style.scss
  packages/design-system/src/components/SelectField/style.scss
Due: none

remove unused prop
  packages/design-system/src/components/SelectField/Select.js
Due: none

fix multiselect spacing
  packages/design-system/src/components/MultiSelectField/MultiSelect.js
  packages/design-system/src/components/MultiSelectField/style.scss
Due: none

beta version
  packages/design-system/package.json
Due: none

remove styles, added beta.2
  packages/design-system/package.json
  packages/design-system/src/components/SelectField/Select.js
  packages/design-system/src/components/SelectField/style.scss
Due: none

revert clear icon changes
  packages/design-system/src/components/SelectField/ClearButton.js
  packages/design-system/src/components/SelectField/Select.js
  packages/design-system/src/components/SelectField/style.scss
Due: none

update changelog
  packages/design-system/CHANGELOG.md
  packages/design-system/package-lock.json
Due: prettier --write

fix version
  packages/design-system/package.json
Due: none

adjust inputs (#171)
  packages/design-system/CHANGELOG.md
  packages/design-system/package-lock.json
  packages/design-system/package.json
  packages/design-system/src/components/InputField/style.scss
  packages/design-system/src/components/MultiSelectField/MultiSelect.js
  packages/design-system/src/components/MultiSelectField/style.scss
  packages/design-system/src/components/SelectField/ClearButton.js
  packages/design-system/src/components/SelectField/Select.js
  packages/design-system/src/components/SelectField/SelectField.md
  packages/design-system/src/components/SelectField/SelectList.js
  packages/design-system/src/components/SelectField/style.scss
  packages/design-system/src/interfaces/forms.d.ts
Due: prettier --write

Updates
  build/bundle.57e11cf5.js
  build/bundle.b2c67a7f.js
  index.html
Due: none

merge
  styleguide.config.js
Due: none

adding themes variables, using theming in Button and Toast components
  docs/colors/colors.md
  docs/customized-components/ThemeWrapper.js
  package-lock.json
  package.json
  packages/design-system/package-lock.json
  packages/design-system/src/components/Button/Button.js
  packages/design-system/src/components/Button/style.scss
  packages/design-system/src/components/InAppMessage/InAppMessageFooter.js
  packages/design-system/src/components/ThemeProvider/ThemeProvider.js
  packages/design-system/src/components/ThemeProvider/withTheme.js
  packages/design-system/src/components/Toast/Toast.js
  packages/design-system/src/components/Toast/style.scss
  packages/themes/generate-files.ts
  packages/themes/package-lock.json
  packages/themes/src/legacy.ts
  packages/themes/src/light.ts
  packages/themes/src/tokens.ts
  packages/themes/src/types.ts
  styleguide.config.js
  webpack.config.js
Due: prettier --write

runing npm audit fix on project
  packages/colors/package-lock.json
  packages/colors/package.json
Due: none

version bump
  packages/colors/package-lock.json
Due: none

using class on html element to styld elements
  docs/customized-components/Menu.js
  docs/customized-components/StyleGuideRenderer.js
  docs/customized-components/ThemeWrapper.js
  packages/design-system/src/components/Button/Button.js
  packages/design-system/src/components/Button/style.scss
  packages/design-system/src/components/ThemeProvider/ThemeContext.js
  packages/design-system/src/components/ThemeProvider/ThemeProvider.js
  packages/design-system/src/components/ThemeProvider/withTheme.js
  packages/design-system/src/components/Toast/Toast.js
  packages/design-system/src/components/Toast/style.scss
  packages/design-system/src/interfaces/theme.d.ts
  packages/themes/src/legacy.ts
  styleguide.config.js
Due: none

no test for themes lib
  packages/themes/package.json
Due: none

fixing tests for Button
  packages/design-system/src/components/Button/Button.js
  packages/design-system/src/components/Button/Button.test.js
Due: none

changing color of datepicker, divider, adding new tokens
  docs/colors/colors.md
  packages/design-system/src/components/DatePicker/style.scss
  packages/design-system/src/components/Divider/style.scss
  packages/themes/src/legacy.ts
  packages/themes/src/light.ts
  packages/themes/src/tokens.ts
  packages/themes/src/types.ts
Due: prettier --write

Running npm audit fix on colors package to fix deps (#174)
  packages/colors/package-lock.json
  packages/colors/package.json
Due: none

themable badge
  packages/design-system/src/components/Badge/style.scss
  packages/design-system/src/components/ButtonGroup/style.scss
  packages/themes/src/legacy.ts
  packages/themes/src/light.ts
  packages/themes/src/tokens.ts
  packages/themes/src/types.ts
Due: none

themable ButtonGroup and Card components
  packages/design-system/src/components/ButtonGroup/style.scss
  packages/design-system/src/components/Card/style.scss
Due: none

themable loader components
  packages/design-system/src/components/Loader/style.scss
  packages/design-system/src/components/Progress/style.scss
Due: none

themeable tooltips
  packages/design-system/src/components/TooltipNew/style.scss
  packages/themes/src/legacy.ts
  packages/themes/src/light.ts
  packages/themes/src/tokens.ts
  packages/themes/src/types.ts
Due: none

fixing colors
  packages/design-system/src/components/TooltipNew/CssTooltip.js
  packages/design-system/src/components/TooltipNew/style.scss
Due: none

adjust upload components
  packages/design-system/src/components/UploadBar/style.scss
  packages/design-system/src/scss/mixins/button.scss
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md)
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
