Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

docs(Color): refactoring color tokens page
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/docs/foundations/Color/Color.stories.mdx
  packages/react-components/src/docs/foundations/Color/ColorTokens.tsx
  packages/react-components/src/docs/foundations/ColorTokens.stories.mdx
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): color constants
  packages/react-components/src/docs/foundations/Color/constants.ts
  packages/react-components/src/docs/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): table of colors
  packages/react-components/src/docs/foundations/Color/Color.stories.mdx
  packages/react-components/src/docs/foundations/Color/ColorTable.tsx
  packages/react-components/src/docs/foundations/Color/ColorTokens.tsx
  packages/react-components/src/docs/foundations/Color/constants.ts
  packages/react-components/src/docs/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): table of colors
  packages/react-components/src/docs/components/Table/Table.css
  packages/react-components/src/docs/foundations/Color/Color.stories.mdx
  packages/react-components/src/docs/foundations/Color/ColorTable.tsx
  packages/react-components/src/docs/foundations/Color/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): table of colors
  packages/react-components/src/docs/foundations/Color/ColorTable.tsx
  packages/react-components/src/docs/foundations/Shadow/Shadow.stories.mdx
  packages/react-components/src/docs/foundations/Shadow/constants.ts
  packages/react-components/src/docs/helpers.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): refactor
  packages/react-components/src/docs/foundations/Color/constants.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): improvements
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/docs/foundations/Color/constants.ts
  packages/react-components/src/docs/foundations/Color/types.ts
  packages/react-components/src/docs/foundations/Shadow/constants.ts
  packages/react-components/src/docs/foundations/Shadow/types.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): shadow page WIP
  packages/react-components/src/docs/foundations/Shadow/Shadow.stories.mdx
  packages/react-components/src/docs/foundations/Shadow/ShadowTable.tsx
  packages/react-components/src/docs/foundations/Shadow/constants.ts
Due: eslint --cache --fix, prettier --write

docs(ColorPage): shadow page
  packages/react-components/src/docs/components/Shadow/Shadow.tsx
  packages/react-components/src/docs/components/Shadow/ShadowExamples.module.scss
  packages/react-components/src/docs/components/Shadow/ShadowExamples.tsx
  packages/react-components/src/docs/components/Table/Table.css
  packages/react-components/src/docs/foundations/Color/Color.stories.mdx
  packages/react-components/src/docs/foundations/Shadow/Shadow.stories.mdx
  packages/react-components/src/docs/foundations/Shadow/ShadowTable.tsx
  packages/react-components/src/docs/foundations/Shadow/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): shared table component
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/foundations/Color/ColorTable.tsx
Due: eslint --cache --fix, prettier --write

docs(ColorPage): shadow page uses shared table component
  packages/react-components/src/docs/components/Table/Table.css
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/foundations/Color/ColorTable.module.scss
  packages/react-components/src/docs/foundations/Color/ColorTable.tsx
  packages/react-components/src/docs/foundations/Shadow/ShadowTable.module.scss
  packages/react-components/src/docs/foundations/Shadow/ShadowTable.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): renderExample as optional prop
  packages/react-components/src/docs/components/Table/Table.tsx
Due: eslint --cache --fix, prettier --write

docs(ColorPage): radius table WIP
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/foundations/Radius.stories.mdx
  packages/react-components/src/docs/foundations/Radius/Radius.stories.mdx
  packages/react-components/src/docs/foundations/Radius/RadiusTable.module.scss
  packages/react-components/src/docs/foundations/Radius/RadiusTable.tsx
  packages/react-components/src/docs/foundations/Radius/constants.ts
  packages/react-components/src/docs/foundations/Radius/types.ts
  packages/react-components/src/foundations/radius-token.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): radius table deprecated info
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/foundations/Radius/RadiusTable.module.scss
  packages/react-components/src/docs/foundations/Radius/constants.ts
  packages/react-components/src/docs/foundations/Radius/types.ts
  packages/react-components/src/docs/helpers.ts
  packages/react-components/src/foundations/radius-token.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): removing old radius example
  packages/react-components/src/docs/components/Radius/Radius.tsx
  packages/react-components/src/docs/components/Radius/RadiusExamples.module.scss
  packages/react-components/src/docs/components/Radius/RadiusExamples.tsx
  packages/react-components/src/docs/foundations/Radius/Radius.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(ColorPage): improving Table typing
  packages/react-components/src/docs/components/Table/Table.tsx
Due: eslint --cache --fix, prettier --write

docs(SpacingPage): improving Table typing
  packages/react-components/src/docs/foundations/Spacing.stories.mdx
  packages/react-components/src/docs/foundations/Spacing/Spacing.stories.mdx
  packages/react-components/src/docs/foundations/Spacing/SpacingTable.module.scss
  packages/react-components/src/docs/foundations/Spacing/SpacingTable.tsx
  packages/react-components/src/docs/foundations/Spacing/constants.ts
  packages/react-components/src/docs/foundations/Spacing/types.ts
  packages/react-components/src/foundations/spacing-token.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): adding radius desc
  packages/react-components/src/docs/foundations/Radius/constants.ts
Due: eslint --cache --fix, prettier --write

docs(Foundations): removing old spacing examples
  packages/react-components/src/docs/components/Spacing/Spacing.tsx
  packages/react-components/src/docs/components/Spacing/SpacingExamples.module.scss
  packages/react-components/src/docs/components/Spacing/SpacingExamples.tsx
  packages/react-components/src/docs/components/Table/Table.scss
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/components/Transition/TransitionTable.tsx
  packages/react-components/src/docs/foundations/Spacing/Spacing.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): adding no-wrap rule for css token values in table
  packages/react-components/src/docs/components/Table/Table.scss
  packages/react-components/src/docs/components/Table/Table.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): common table component styles rewrite
  packages/react-components/src/docs/components/Table/Table.scss
  packages/react-components/src/docs/components/Table/Table.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): shadow desc; copy css tokens on click
  packages/react-components/src/docs/components/Table/Table.scss
  packages/react-components/src/docs/components/Table/Table.tsx
  packages/react-components/src/docs/foundations/Shadow/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): adding missing spacing tokens; spacing descriptions
  packages/react-components/src/docs/foundations/Spacing/constants.ts
  packages/react-components/src/foundations/spacing-token.ts
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): transitions WIP
  packages/react-components/src/stories/foundations/Transition.stories.mdx
  packages/react-components/src/stories/foundations/Transition/Transition.stories.mdx
  packages/react-components/src/stories/foundations/Transition/types.ts
Due: eslint --cache --fix, prettier --write

docs(Foundations): renaming value field to token field
  packages/react-components/src/stories/components/Table/Table.tsx
  packages/react-components/src/stories/foundations/Color/constants.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/stories/foundations/Radius/constants.ts
  packages/react-components/src/stories/foundations/Radius/types.ts
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/stories/foundations/Shadow/types.ts
  packages/react-components/src/stories/foundations/Spacing/constants.ts
  packages/react-components/src/stories/foundations/Spacing/types.ts
Due: eslint --cache --fix, prettier --write

docs(Foundations): transition descriptions
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/stories/components/Transition/TransitionTable.tsx
  packages/react-components/src/stories/components/Transition/transitionDelay.ts
  packages/react-components/src/stories/components/Transition/transitionDuration.ts
  packages/react-components/src/stories/components/Transition/transitionTiming.ts
  packages/react-components/src/stories/foundations/Transition/Transition.stories.mdx
  packages/react-components/src/stories/foundations/Transition/TransitionTable.tsx
  packages/react-components/src/stories/foundations/Transition/constants.ts
  packages/react-components/src/stories/foundations/Transition/types.ts
Due: eslint --cache --fix, prettier --write

font change
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/index.scss
Due: stylelint --fix, prettier --write

docs(Foundations): transition examples
  packages/react-components/src/stories/foundations/Transition/Transition.stories.mdx
  packages/react-components/src/stories/foundations/Transition/components/TransitionDurationExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionExample.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): transition examples
  packages/react-components/src/stories/foundations/Transition/Transition.stories.mdx
  packages/react-components/src/stories/foundations/Transition/components/TransitionDelayExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionExample.module.scss
  packages/react-components/src/stories/foundations/Transition/components/TransitionTimingExample.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): typo fixes
  packages/react-components/src/stories/foundations/Transition/components/TransitionDelayExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionDurationExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionTimingExample.tsx
Due: eslint --cache --fix, prettier --write

test
  .github/workflows/chromatic.yml
Due: none

test
  packages/react-components/package.json
Due: none

test
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

test
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

test
  .github/workflows/chromatic.yml
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write
