Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

#807 - ActionMenu - Group header styles change, improved logic for keyboard control (#812)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

improving cache mechanism
  nx.json
Due: none

more examples + info component
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCardInfo.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

removing umd build for dsrc package
  packages/icons/.eslintrc
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

eslint change
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.icons.4
  lerna.json
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix for TS error when input is empty and no item is selected
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

#768 - Picker - Fix for TS error when input is empty and no item is selected (#818)
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.13
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

more examples
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/assets/clock-light.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

updating package.json
  package-lock.json
  packages/react-components/package.json
Due: none

last changes + unit tests
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/assets/DetailsCard.spec.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for selecting items issue
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

spacing for floating button
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
Due: stylelint --fix, prettier --write

#820 - Picker - Fix for keyboard control issue after filtering the list (#821)
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-y.0
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

fix
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

v1.0.0-beta.14
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

DS-806: Adding new icons; renaming a few existing
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/CHIP_copilot_colored.svg
  packages/icons/svg/CHIP_copilot_mono.svg
  packages/icons/svg/android-colored.svg
  packages/icons/svg/android.svg
  packages/icons/svg/android_colored.svg
  packages/icons/svg/bookmark-filled.svg
  packages/icons/svg/bookmark.svg
  packages/icons/svg/chat_bot_colored.svg
  packages/icons/svg/chat_bot_mono.svg
  packages/icons/svg/help_desk_colored.svg
  packages/icons/svg/help_desk_mono.svg
  packages/icons/svg/knowledge_base_colored.svg
  packages/icons/svg/knowledge_base_mono.svg
  packages/icons/svg/live_chat_colored.svg
  packages/icons/svg/live_chat_mono.svg
  packages/icons/svg/mood_angry.svg
  packages/icons/svg/open_widget_colored.svg
  packages/icons/svg/open_widget_mono.svg
  packages/icons/svg/wand-filled.svg
  packages/icons/svg/wand.svg
Due: eslint --cache --fix, prettier --write

DS-806: icon color fixes
  packages/icons/svg/alert-spam-filled.svg
  packages/icons/svg/alert-spam.svg
  packages/icons/svg/messages-filled.svg
  packages/icons/svg/messages.svg
  packages/icons/svg/messenger.svg
  packages/icons/svg/report-filled.svg
  packages/icons/svg/report.svg
Due: none

DS-806: adding a new line
  packages/icons/package.json
Due: none

DS-806: Adding new icons; renaming a few existing (#822)
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/CHIP_copilot_colored.svg
  packages/icons/svg/CHIP_copilot_mono.svg
  packages/icons/svg/alert-spam-filled.svg
  packages/icons/svg/alert-spam.svg
  packages/icons/svg/android-colored.svg
  packages/icons/svg/android.svg
  packages/icons/svg/android_colored.svg
  packages/icons/svg/bookmark-filled.svg
  packages/icons/svg/bookmark.svg
  packages/icons/svg/chat_bot_colored.svg
  packages/icons/svg/chat_bot_mono.svg
  packages/icons/svg/help_desk_colored.svg
  packages/icons/svg/help_desk_mono.svg
  packages/icons/svg/knowledge_base_colored.svg
  packages/icons/svg/knowledge_base_mono.svg
  packages/icons/svg/live_chat_colored.svg
  packages/icons/svg/live_chat_mono.svg
  packages/icons/svg/messages-filled.svg
  packages/icons/svg/messages.svg
  packages/icons/svg/messenger.svg
  packages/icons/svg/mood_angry.svg
  packages/icons/svg/open_widget_colored.svg
  packages/icons/svg/open_widget_mono.svg
  packages/icons/svg/report-filled.svg
  packages/icons/svg/report.svg
  packages/icons/svg/wand-filled.svg
  packages/icons/svg/wand.svg
Due: eslint --cache --fix, prettier --write

v1.0.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

changes after review
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.tsx
  packages/react-components/src/components/DetailsCardInfo/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/stories/assets/clock-light.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-824: vite config and tsconfig cleanup
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
  packages/example-react/vite.config.ts
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

DS-824: adding new icons
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/add_emoji.svg
  packages/icons/svg/ai_summary-filled.svg
  packages/icons/svg/ai_summary.svg
  packages/icons/svg/instagram.svg
  packages/icons/svg/instagram_colored.svg
  packages/icons/svg/line.svg
  packages/icons/svg/line_colored.svg
  packages/icons/svg/repeat.svg
  packages/icons/svg/replace.svg
Due: eslint --cache --fix, prettier --write

DS-824: Adding new icons (#825)
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
  packages/example-react/vite.config.ts
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/add_emoji.svg
  packages/icons/svg/ai_summary-filled.svg
  packages/icons/svg/ai_summary.svg
  packages/icons/svg/instagram.svg
  packages/icons/svg/instagram_colored.svg
  packages/icons/svg/line.svg
  packages/icons/svg/line_colored.svg
  packages/icons/svg/repeat.svg
  packages/icons/svg/replace.svg
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix test after changes
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
Due: eslint --cache --fix, prettier --write

#802 - DetailsCard - New component dedicated to details section (#814)
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/index.ts
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.tsx
  packages/react-components/src/components/DetailsCardInfo/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/stories/assets/clock-light.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.1.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(DesignToken): adding missing color token SurfaceAccentEmphasisMediumPositive in enum
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

changes in logic WIP
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

floating-ui usage
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DesignToken): adding missing colour token (#829)
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

fix(DesignToken): adding missing color token SurfaceAccentEmphasisMediumNegative in enum
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

fix(DesignToken): adding missing color token (#834)
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
