Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

build(react-components): improving ts config
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/react-components/tsconfig.node.json
Due: none

fix(Button): tests updates (#1153)
  packages/react-components/src/components/Button/Button.helpers.spec.ts
  packages/react-components/src/components/Button/Button.helpers.ts
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

Update packages/react-components/src/components/Card/Card.spec.tsx
  packages/react-components/src/components/Card/Card.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Checkbox): tests updates (#1155)
  packages/react-components/src/components/Checkbox/Checkbox.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(RadioButton): tests updates (#1156)
  packages/react-components/src/components/RadioButton/RadioButton.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Loader): tests updates (#1157)
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Loader/Loader.tsx
Due: eslint --cache --fix, prettier --write

fix(Toast): tests updates (#1158)
  packages/react-components/src/components/Toast/Toast.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Card): fix
  packages/react-components/src/components/Card/Card.spec.tsx
Due: eslint --cache --fix, prettier --write

build(vite): changing vite config files
  packages/icons/.eslintignore
  packages/icons/.eslintrc
  packages/icons/vite.config.mts
  packages/react-components/tsconfig.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(Card): tests updates (#1154)
  packages/react-components/src/components/Card/Card.spec.tsx
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

fix(Search): fix
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

fix(Search): tests updates (#1160)
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

build(RTL): temporary downgrading user-event version and fixing rest of the tests
  .eslintrc
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Tag/Tag.spec.tsx
Due: eslint --cache --fix, prettier --write

chore(DatePicker): removing DatePicker; TODO: revert and fix it!
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/index.ts
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(Storybook): updating storybook to 8.1.7
  package-lock.json
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

fix(mock-date): replacing date mock lib
  package-lock.json
  packages/react-components/.storybook/main.ts
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

build(vite): fixing scss imports issues on build
  package-lock.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
Due: none

build(vite): updating plugin-react in example package; coverage package
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ActionMenu): fix for the menu height
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionMenu): scroll ui change
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(Textarea): change after review
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Textarea): tests updates (#1162)
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): ui fix for scrolls
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

Revert "chore(DatePicker): removing DatePicker; TODO: revert and fix it!"
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/index.ts
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): reverting picker version despite peerDeps react mismatch
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

fix(SegmentedControl): tests updates
  packages/react-components/src/components/Card/Card.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

feat(icons): add new icon
  packages/icons/svg/player_stop.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(icons): add new icon (#1170)
  packages/icons/svg/player_stop.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v1.23.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Picker): fix for types
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(Input): tests updates (#1161)
  packages/react-components/src/components/Input/Input.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(SegmentedControl): tests updates (#1169)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.spec.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

build(Typescript): update to 5.4.5
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

build(vite): update Vite to 5.3.1
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(ActionCard): new component
  packages/react-components/src/components/ActionCard/ActionCard.mdx
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.spec.tsx
  packages/react-components/src/components/ActionCard/ActionCard.stories.tsx
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/types.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/stories/assets/chat-window.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DesignToken): adding new One gradients
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Tab): possibility to add icon to button
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.stories.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icon): added new sizes
  packages/react-components/src/components/Icon/Icon.tsx
Due: eslint --cache --fix, prettier --write

feat(ThemeProvider): adding the ThemeProvider and removing legacy theme
  packages/example-react/src/App.tsx
  packages/example-react/src/main.tsx
  packages/example-react/tsconfig.json
  packages/react-components/.storybook/preview.js
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/providers/ThemeProvider.tsx
  packages/react-components/src/providers/constants.ts
  packages/react-components/src/providers/helpers.ts
  packages/react-components/src/providers/index.ts
  packages/react-components/src/providers/types.ts
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ActionCard): change after review
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
