Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Icons): adding new icon
  packages/icons/svg/layout_sidebar_left.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): adding new icon (#1231)
  packages/icons/svg/layout_sidebar_left.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): fixing icon name
  packages/icons/svg/plugin_connected.svg
Due: none

fix(Icons): fixing icon name
  packages/icons/svg/plug_connected.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): fixing icon name (#1233)
  packages/icons/svg/plug_connected.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v1.28.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(ActionBar): hideInMenu prop fix
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

build(GithubActions): automatically insert branch name
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-pr-description.yml
Due: prettier --write

build(GithubActions): automatically insert branch name (#1236)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-pr-description.yml
Due: prettier --write

fix(ActionBar): change after review
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): hideInMenu prop fix (#1235)
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

v1.28.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

chore(Actionbar): linter fix
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

build(React): react-compiler linter; strictMode in storybook; ModalPortal refactor
  .eslintrc
  package-lock.json
  package.json
  packages/react-components/.storybook/main.ts
  packages/react-components/src/components/Modal/components/ModalPortal.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): more nav options
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): correct a11y elements based on MDN docs
  packages/react-components/src/components/AppFrame/components/NavBar.module.scss
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): correct a11y elements based on MDN docs
  packages/react-components/src/components/AppFrame/components/NavBar.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): update
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): top bar hide/show
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(icons): add new icon
  packages/icons/svg/hello_colored.svg
  packages/icons/svg/hello_mono.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(icons): add new icon for hello (#1239)
  packages/icons/svg/hello_colored.svg
  packages/icons/svg/hello_mono.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): interface and logic changes
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar.tsx
  packages/react-components/src/components/AppFrame/components/NavBarItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavBarItem.tsx
  packages/react-components/src/components/AppFrame/components/NavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/NavBarList.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): cleaning
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavBar/NavBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar/NavBar.tsx
  packages/react-components/src/components/AppFrame/components/NavBar/NavBarItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar/NavBarItem.tsx
  packages/react-components/src/components/AppFrame/components/NavBar/NavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/NavBar/NavBarList.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBar.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBar.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBarList.tsx
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBarListItem.module.scss
  packages/react-components/src/components/AppFrame/components/SubNavBar/SubNavBarListItem.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavBar/NavBar.tsx
  packages/react-components/src/components/AppFrame/components/NavBar/NavBarList.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.module.scss
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationList.module.scss
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationList.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBar.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBar.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBarList.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBarList.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBarListItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SubNavBarListItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): components names changes
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationList.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationList.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationList.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): fixing overflow on selected custom elements
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): docs
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

build(GHAction): fix for branch name insertion
  .github/workflows/update-pr-description.yml
Due: none

feat(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

fix(Modal): docs update
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/NavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/index.ts
  packages/react-components/src/providers/AppFrameProvider.tsx
  packages/react-components/src/providers/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): changes after review
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Modal): animation update, new variant, close button always visible (#1224)
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Modal/components/ActionModalContent.module.scss
  packages/react-components/src/components/Modal/components/ActionModalContent.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DesignToken): adding new tokens; token updates
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DesignToken): updating values
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DesignToken): updating tokens; adding new (#1248)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(AppFrame): unit tests and some changes
  packages/react-components/src/components/AppFrame/AppFrame.spec.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/types.ts
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/constants.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/providers/AppFrameProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
