Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix(Picker): Remove blue notch from selected item in a picker list (#860)
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

feat(Button): Add new link-inverted button kind (#859)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/helpers.ts
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(TagInput): allowing passing additional props to TagInput; adding inputClassName
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

fix(EmailTagInput): Passing props to TagInput component (#862)
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

fix(TagInput): add tag on blur
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

fix(Icons): updating a few icons
  packages/icons/svg/people-filled.svg
  packages/icons/svg/report-filled.svg
  packages/icons/svg/settings-filled.svg
  packages/icons/svg/settings.svg
Due: none

fix(Icons): updating a few icons (#865)
  packages/icons/svg/people-filled.svg
  packages/icons/svg/report-filled.svg
  packages/icons/svg/settings-filled.svg
  packages/icons/svg/settings.svg
Due: none

feat(TagInput): Add tag on blur (#863)
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

v1.3.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fixes after reivew
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

unit test fixes + bug fix with executing handlers
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

docs update
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ShadowToken): adding new shadow tokens
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

change in tests
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(ShadowToken): adding new shadow tokens (#867)
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): refactoring props
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): adding focus ring on :focus-visible
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

fix(Button): moving kind styles to separate file
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

fix(Button): base and size mixins
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

fix(Button): extracting styles to separate files
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/components/Button/styles/loader.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: stylelint --fix, prettier --write

docs(PromoBanner): adding deprecated banner to story
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

docs(PromoBanner): fix
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
Due: none

fix(Button): #861 - update active and focus states (#870)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/icon.scss
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Button/styles/loader.scss
  packages/react-components/src/components/Button/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(PromoBanner): add information about component deprecation (#871)
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
Due: eslint --cache --fix, prettier --write

changes
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix after test
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

Update packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Popover): refactor component using floating-ui
  packages/react-components/src/components/Popover/Popover.mdx
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Popover/Popover.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/index.ts
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Popover): story styles
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Popover): story styling fix
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Popover): improving types
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, prettier --write

feat(Popover): additional props
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, prettier --write

feat(Popover): tests
  packages/react-components/src/components/Popover/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Popover): review fixes
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Tooltip): Code refactor, added more options for transition and delay control (#855)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/utils/StackingContextLevel.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write
