Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

change font-size for content
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
Due: stylelint --fix, prettier --write

Add StoryDescriptor to Badge stories
  packages/react-components/src/components/Badge/Badge.stories.tsx
Due: eslint --cache --fix, prettier --write

#340 Change font-size for content and header in PromoBanner to fit with designs (#361)
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
Due: stylelint --fix, prettier --write

#341 Reorganize Badge component to reflect Figma designs (#356)
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.17
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

component as picker item
  packages/react-components/src/components/Picker/Picker.stories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#339 Apply missing tokens to Input and TagInput components
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

spacing variables for the css usage
  packages/react-components/src/utils/Spacing.scss
Due: stylelint --fix, prettier --write

Update themes package-lock
  packages/themes/package-lock.json
Due: none

Updates
  build/bundle.5215351e.js
  build/bundle.e1f9a962.js
  index.html
Due: eslint --cache --fix, prettier --write

Update CHANGELOG and publish script
  package.json
  packages/design-system/CHANGELOG.md
Due: prettier --write

Publish
  packages/colors/package-lock.json
  packages/colors/package.json
  packages/design-system/package-lock.json
  packages/design-system/package.json
  packages/themes/package-lock.json
  packages/themes/package.json
Due: none

Update CHANGELOG
  packages/design-system/CHANGELOG.md
Due: prettier --write

Publish
  packages/design-system/package-lock.json
  packages/design-system/package.json
Due: none

Bump version to 0.13.5 in order to sync with npm version state
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
Due: prettier --write

Publish
  packages/design-system/package-lock.json
Due: none

moved scss mixins to css variables, added page related to Spacing in Foundations
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/spacing/spacing.scss
  packages/react-components/src/spacing/spacingTokens.ts
  packages/react-components/src/stories/Spacing.stories.mdx
  packages/react-components/src/stories/components/Spacing.css
  packages/react-components/src/stories/components/Spacing.tsx
  packages/react-components/src/stories/components/SpacingExamples.module.scss
  packages/react-components/src/stories/components/SpacingExamples.tsx
  packages/react-components/src/utils/Spacing.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

#339 Apply missing tokens to Input and TagInput components (#364)
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

input styles update, added icon functionality, added kinds with password
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

unit tests
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/foundations/spacing-token.ts
  packages/react-components/src/foundations/spacing.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

Add bunch of icons to Switch component, add new Loader cover state
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add medium size for switch
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review: moved trigger body as component, interfaces changes, removed internal state of selected items
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

update tests
  packages/react-components/src/components/Picker/Picker.spec.tsx
Due: eslint --cache --fix, prettier --write

#345 Spacing variables for the css usage (#367)
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/foundations/spacing-token.ts
  packages/react-components/src/foundations/spacing.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Spacing.stories.mdx
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/stories/components/Spacing.css
  packages/react-components/src/stories/components/Spacing.tsx
  packages/react-components/src/stories/components/SpacingExamples.module.scss
  packages/react-components/src/stories/components/SpacingExamples.tsx
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

update README that includes the details how to setup the project
  README.md
Due: prettier --write

update README
  README.md
Due: prettier --write

Rename basic to large size
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add disabled styles for loading state
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

Add loader cover story
  packages/react-components/src/components/Loader/Loader.stories.tsx
Due: eslint --cache --fix, prettier --write

#373 Avatar component
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add switch tests
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

Fix switch story
  packages/react-components/src/components/Switch/Switch.stories.tsx
Due: eslint --cache --fix, prettier --write

add add_reaction icon
  packages/icons/svg/material/add_reaction.svg
Due: none

Add add_reaction icon (#376)
  packages/icons/svg/material/add_reaction.svg
Due: none

Remove cover size, add unique loader style in switch component
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Introduce gap for StoryDescriptor to avoid margin issues. Decrease the rim width for larger Avatars.
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
