Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

added additional tests to the tooltip spec
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

[Tooltip] Added additional tests (#533)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

create float button
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

added possibility to hide clear button, docs improvements
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

missed change
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

add small class
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

change to xsmall class
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

remove new size
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Button - component api docs update (#541)
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

added cta buttons, changes in logic to fit the design, updated documentation, added additional spacing token
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

css fix, unit test for CTA buttons
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.spec.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#536 - Popover - Add param to disable closing by esc press, docs update (#542)
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

#535 - Picker - Added possibility to hide clear button, docs improvements (#545)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

remove args from buttons
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

#543 - Button - Create Float button (#544)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.53
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

changes after review
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#546 - Alert - Improvements: optional CTA buttons, documentation update (#547)
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.spec.tsx
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

component api docs update
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

missed spacing token export
  packages/react-components/src/foundations/spacing-token.ts
Due: eslint --cache --fix, prettier --write

New button variant, UI fixes
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

hide description if error message is given
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, prettier --write

test fix
  packages/react-components/src/components/FormField/FormField.spec.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

#548 - Button - New button variant, UI fixes (#564)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#410 - FormField - Hide description if error message is given (#565)
  packages/react-components/src/components/FormField/FormField.spec.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, prettier --write

Card - component api docs update (#563)
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

add options to deps list
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

add onfocus and onblur
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, prettier --write

textarea test
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-274: Add onfocus and onblur to Texarea component (#568)
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, prettier --write

Add `options` to dependency list in `Picker` component (#567)
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.54
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

poc
  packages/react-components/package-lock.json
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

poc
  packages/react-components/src/components/Modal/Modal.stories.tsx
Due: eslint --cache --fix, prettier --write

poc
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding color-scheme support to PickerList
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/foundations/color-scheme.css
  packages/react-components/src/index.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fixes, docs update
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

poc
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

adding new icons
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
  packages/icons/svg/tabler/twitter-filled.svg
  packages/icons/svg/tabler/twitter.svg
Due: none
