Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Update packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

#670 - Toast - Spacing change (#679)
  packages/react-components/src/components/Toast/Toast.module.scss
Due: stylelint --fix, prettier --write

#566 - ActionMenu - Option to prevent closing when option is selected (#678)
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

#387 - Switch - Docs update (#686)
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

fixes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

release changes
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Button/Button.mdx
Due: none

v1.0.0-beta.1
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fix in docs after release
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Alert/Alert.mdx
  packages/react-components/src/components/Avatar/Avatar.mdx
  packages/react-components/src/components/Button/Button.mdx
Due: none

missing change in README
  README.md
Due: prettier --write

new radius tokens naming
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

#681 - Button - Updated button border radius (#691)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

#682 - Update border-radius for components (#692)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

reverting github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
Due: prettier --write

WIP: upgrading lerna to new version with npm workspaces
  lerna.json
  package-lock.json
  package.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
Due: none

enabling legacyRootApi because Storybook detected react 18
  packages/react-components/.storybook/main.js
Due: eslint --cache --fix, prettier --write

upgrading storybook version
  package-lock.json
  package.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

adding todo
  packages/react-components/.storybook/main.js
Due: eslint --cache --fix, prettier --write

adding lerna cache (nx)
  nx.json
Due: none

lerna caching config update
  nx.json
Due: none

updating Release docs
  docs/RELEASE.md
Due: prettier --write

refreshed ui
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/ModalHeader.module.scss
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

updating lerna to 7.1.4
  nx.json
  package-lock.json
  package.json
Due: none

test fix
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

test fix
  packages/react-components/src/components/Modal/Modal.spec.tsx
Due: eslint --cache --fix, prettier --write

fixing example-react app
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

#687 - Modal - Refreshed UI (#700)
  packages/react-components/src/components/Modal/Modal.mdx
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/ModalHeader.module.scss
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

#685 - Picker - UI refresh (#695)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

restricting unused code in tsconfig; additional prettier rules; code fixes
  .prettierrc
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

additional ESLint rules; fixing files with ESLint
  .eslintrc
  package-lock.json
  package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/Loader/Loader.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/components/NumericInput/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/TagInput/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.spec.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/stories/components/IconsShowcase.tsx
  packages/react-components/src/stories/components/TablerIconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

ui refresh for tag input
  packages/react-components/src/components/TagInput/TagInput.module.scss
Due: stylelint --fix, prettier --write

refresh ui changes
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
Due: stylelint --fix, prettier --write

Reverting Github issue templates (#698)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
Due: prettier --write

Upgrading Lerna and Storybook versions (#699)
  docs/RELEASE.md
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
  packages/icons/package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

changes in avatar sizes
  packages/react-components/src/components/Avatar/Avatar.module.scss
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#688 - Segmented Control - UI Refresh (#703)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
Due: stylelint --fix, prettier --write

#689 - Tag input - UI refresh for tag input (#702)
  packages/react-components/src/components/TagInput/TagInput.module.scss
Due: stylelint --fix, prettier --write

Enabling no-undef and no-useless-escape rules
  .eslintrc
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/Alert/Alert.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Tab/Tab.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Toast/Toast.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/SpotlightOverlay.tsx
Due: eslint --cache --fix, prettier --write

Changing warn to error for no-undef and no-useless-escape rules
  .eslintrc
Due: none

feature fix
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write
