Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix tests
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/constants.ts
Due: eslint --cache --fix, prettier --write

cr fix
  packages/react-components/src/components/ProgressBar.spec.tsx
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/ProgressCircle.spec.tsx
  packages/react-components/src/components/ProgressCircle.tsx
  packages/react-components/src/components/helpers.ts
  packages/styles/src/components/_progress.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-160: modals
  package-lock.json
  package.json
  packages/react-components/src/components/Modal/ActionModal.tsx
  packages/react-components/src/components/Modal/ActionModalActions.tsx
  packages/react-components/src/components/Modal/ActionModalContent.tsx
  packages/react-components/src/components/Modal/ActionModalHeading.tsx
  packages/react-components/src/components/Modal/ActionModalIcon.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalBody.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/constants/keyCodes.ts
  packages/react-components/src/stories/ActionModal.stories.tsx
  packages/react-components/src/stories/Modal.stories.tsx
  packages/styles/src/components/_modal.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

base test on role not class
  packages/react-components/src/components/ProgressBar.spec.tsx
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/ProgressCircle.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-160: modal portal story
  packages/react-components/src/stories/ModalPortal.stories.tsx
Due: eslint --cache --fix, prettier --write

cr fix missing commit
  packages/react-components/src/components/ProgressCircle.tsx
Due: eslint --cache --fix, prettier --write

DS-160: fixing storybook and color tokens
  packages/react-components/src/stories/ActionModal.stories.tsx
  packages/react-components/src/stories/Modal.stories.tsx
  packages/react-components/src/stories/ModalPortal.stories.tsx
  packages/styles/src/components/_modal.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-160: close button styling fix
  packages/styles/src/components/_modal.scss
Due: stylelint --fix, prettier --write

DS-160: fix
  packages/react-components/src/stories/Modal.stories.tsx
Due: eslint --cache --fix, prettier --write

Progress components (#279)
  packages/react-components/.storybook/global.css
  packages/react-components/src/components/ProgressBar.spec.tsx
  packages/react-components/src/components/ProgressBar.tsx
  packages/react-components/src/components/ProgressCircle.spec.tsx
  packages/react-components/src/components/ProgressCircle.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/components/helpers.ts
  packages/react-components/src/stories/ProgressCircle.stories.tsx
  packages/react-components/src/stories/Progressbar.stories.tsx
  packages/styles/src/components/_progress.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

migrate Form component (#280)
  packages/react-components/src/components/Form.spec.tsx
  packages/react-components/src/components/Form.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Form.stories.tsx
  packages/styles/src/components/_form.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/InputField.spec.tsx
  packages/react-components/src/components/InputField.tsx
  packages/react-components/src/components/NumericInput.spec.tsx
  packages/react-components/src/components/NumericInput.tsx
  packages/react-components/src/components/NumericInputField.tsx
  packages/react-components/src/components/TextField.spec.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/InputField.stories.tsx
  packages/react-components/src/stories/NumericInput.stories.tsx
  packages/react-components/src/stories/NumericInputField.stories.tsx
  packages/react-components/src/stories/TextField.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-171: Radio & checkbox stories improvements
  packages/react-components/src/stories/CheckboxField.stories.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-171: Field & Form group stories improvements
  packages/react-components/src/stories/FieldGroup.stories.tsx
  packages/react-components/src/stories/FormGroup.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-171: adding unit tests
  packages/react-components/src/components/FieldGroup.spec.tsx
  packages/react-components/src/components/FormGroup.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-171: FieldGroup & FormGroup (#277)
  packages/react-components/src/components/FieldError.tsx
  packages/react-components/src/components/FieldGroup.spec.tsx
  packages/react-components/src/components/FieldGroup.tsx
  packages/react-components/src/components/FieldLabel.tsx
  packages/react-components/src/components/FormGroup.spec.tsx
  packages/react-components/src/components/FormGroup.tsx
  packages/react-components/src/stories/CheckboxField.stories.tsx
  packages/react-components/src/stories/FieldGroup.stories.tsx
  packages/react-components/src/stories/FormGroup.stories.tsx
  packages/react-components/src/stories/RadioButton.stories.tsx
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_field-group.scss
  packages/styles/src/components/_field-label.scss
  packages/styles/src/components/_form-group.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

DS-160: partial review fixes
  package.json
  packages/react-components/package.json
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalBody.tsx
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/stories/Modal.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-160: partial review fixes
  package-lock.json
  packages/react-components/package-lock.json
Due: none

DS-160: package lock v2
  package-lock.json
  packages/react-components/package-lock.json
Due: none

DS-160: action modal refactor
  packages/react-components/src/components/Modal/ActionModal.tsx
  packages/react-components/src/components/Modal/ActionModalActions.tsx
  packages/react-components/src/components/Modal/ActionModalContent.tsx
  packages/react-components/src/components/Modal/ActionModalHeading.tsx
  packages/react-components/src/components/Modal/ActionModalIcon.tsx
Due: eslint --cache --fix, prettier --write

DS-160: modal refactor
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBody.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

DS-160: adding modal base tests
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
Due: eslint --cache --fix, prettier --write

Added ButtonGroup component
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/ButtonGroup.tsx
  packages/react-components/src/components/Switch.tsx
  packages/react-components/src/components/constants.ts
  packages/react-components/src/stories/ButtonGroup.stories.tsx
  packages/react-components/src/stories/Switch.stories.tsx
  packages/react-components/src/utils/noop.ts
  packages/styles/src/components/_buttonGroup.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Update packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-160: modals (#281)
  package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Modal/ActionModal.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalBase.spec.tsx
  packages/react-components/src/components/Modal/ModalBase.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/constants/keyCodes.ts
  packages/react-components/src/stories/Modal.stories.tsx
  packages/styles/src/components/_modal.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix TS cast problem
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/ButtonGroup.tsx
Due: eslint --cache --fix, prettier --write

icons switcheroo
  packages/icons/src/material/description.svg
  packages/icons/src/material/file_copy.svg
  packages/icons/src/material/visibility_off.svg
Due: none

new icons
  packages/icons/src/material/duble_arrow_left.svg
  packages/icons/src/material/duble_arrow_right.svg
  packages/icons/src/material/folder.svg
  packages/icons/src/material/image.svg
  packages/icons/src/material/video.svg
Due: none

icons name typo
  packages/icons/src/material/double_arrow_left.svg
  packages/icons/src/material/double_arrow_right.svg
Due: none

icon showcase header
  packages/react-components/src/stories/foundations/Icons.stories.mdx
Due: none

default values listed in component story
  packages/react-components/src/stories/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

DS-189 Icons - added five more icons, three switched to the outlined version. (#285)
  packages/icons/src/material/description.svg
  packages/icons/src/material/double_arrow_left.svg
  packages/icons/src/material/double_arrow_right.svg
  packages/icons/src/material/file_copy.svg
  packages/icons/src/material/folder.svg
  packages/icons/src/material/image.svg
  packages/icons/src/material/video.svg
  packages/icons/src/material/visibility_off.svg
  packages/react-components/src/stories/Icon.stories.tsx
  packages/react-components/src/stories/foundations/Icons.stories.mdx
Due: eslint --cache --fix, prettier --write

Added unit tests for ButtonGroup
  packages/react-components/src/components/ButtonGroup.spec.tsx
  packages/react-components/src/components/ButtonGroup.tsx
  packages/react-components/src/components/CheckboxField.spec.tsx
  packages/react-components/src/components/Form.spec.tsx
  packages/react-components/src/components/RadioButton.spec.tsx
  packages/react-components/src/test-utils.ts
Due: eslint --cache --fix, prettier --write

Fixed Button height
  packages/styles/src/components/_button.scss
Due: stylelint --fix, prettier --write

Added more stories for ButtonGroup
  packages/react-components/src/stories/ButtonGroup.stories.tsx
Due: eslint --cache --fix, prettier --write

Color pallete + adjustments in build styles
  packages/example-react/src/App.js
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/src/index.ts
  packages/react-components/src/stories/foundations/DesignTokens.stories.mdx
  packages/react-components/src/stories/foundations/components/DesignTokens.tsx
  packages/styles/package-lock.json
  packages/styles/package.json
  packages/styles/src/index.ts
Due: eslint --cache --fix, prettier --write

Added theme switcher
  packages/react-components/.storybook/global.css
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

Set default content color
  packages/react-components/.storybook/global.css
Due: stylelint --fix, prettier --write

Fix secondary badge color + fonts
  packages/styles/src/components/_badge.scss
Due: stylelint --fix, prettier --write

Use noop instead of inline function
  packages/react-components/src/components/Form.spec.tsx
Due: eslint --cache --fix, prettier --write
