Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

added flag to set the position strategy
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

feat(Tooltip): Added flag to set the position strategy (#900)
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

v1.7.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): handling select in different way
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): keyboard nav fixes
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): removing typeahead
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): group header WIP
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/constants.ts
  packages/react-components/src/components/PickerV2/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): set list to have the same width as trigger
  packages/react-components/src/components/PickerV2/Picker.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): group header styles fix
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerTrigger.tsx
  packages/react-components/src/components/PickerV2/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

dynamic set max-height of expanded element based on content
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

small fix
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): onselect and onremove improvement
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTriggerBody.tsx
  packages/react-components/src/components/PickerV2/constants.ts
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): onremove improvement
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

antoher method to changes max-height
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

test fix
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

added optinal button click handler
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): autocomplete
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): using item keys instead of indexes
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): applying className and id props
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, prettier --write

feat(DetailsCard): Dynamic set max-height of expanded element based on content, added onClick prop to pass own handler on label click (#904)
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.spec.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.8.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): adding disabled item styles
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/constants.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): improvements
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
  packages/react-components/src/components/PickerV2/components/PickerListItem.tsx
  packages/react-components/src/components/PickerV2/constants.ts
Due: eslint --cache --fix, prettier --write

feat(Picker): no items view
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.module.scss
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): no items view
  packages/react-components/src/components/PickerV2/components/PickerList.module.scss
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): disabled state improvements
  packages/react-components/src/components/PickerV2/Picker.module.scss
  packages/react-components/src/components/PickerV2/Picker.stories.css
  packages/react-components/src/components/PickerV2/Picker.stories.tsx
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerTrigger.module.scss
  packages/react-components/src/components/PickerV2/components/PickerTrigger.tsx
  packages/react-components/src/components/PickerV2/constants.ts
  packages/react-components/src/components/PickerV2/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Tag): set tabIndex to -1
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker): fixing tab indexing
  packages/react-components/src/components/PickerV2/Picker.tsx
  packages/react-components/src/components/PickerV2/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

new tokens
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

added new css file to storybook preview
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

more transition tokens
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/foundations/transition.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(TransitionTokens): Transition types and duration tokens + new color token (#908)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/foundations/transition-token.ts
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/index.scss
  packages/react-components/src/index.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.9.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Picker): header styling fix
  packages/react-components/src/components/PickerV2/components/PickerListItem.module.scss
Due: stylelint --fix, prettier --write

new messagebox token
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(MessageBox token): New messagebox token (#910)
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): fix clsx import
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Tokens): adding missing tokens
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/foundations/spacing-token.ts
  packages/react-components/src/foundations/spacing.css
Due: eslint --cache --fix, stylelint --fix, prettier --write
