Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

style(Typography): docs update, changes after review
  .github/workflows/chromatic.yml
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/docs/components/Typography/DisplayExamples.tsx
  packages/react-components/src/docs/components/Typography/HeadingExamples.tsx
  packages/react-components/src/docs/components/Typography/TextExamples.tsx
  packages/react-components/src/docs/foundations/Typography.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

style(Typography): small changes in types
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
Due: eslint --cache --fix, prettier --write

style(Typography): code cleaning
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/Typography.stories.mdx
  packages/react-components/src/stories/foundations/Typography/components/DisplayExamples.tsx
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
  packages/react-components/src/stories/foundations/Typography/components/TextExamples.tsx
Due: eslint --cache --fix, prettier --write

v1.16.6
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Modal): overlay with scroll if modal in large modals
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

fix(Modal): used floatingUI component for modal overlay
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/components/ModalBase.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(Vite): excluding some dts typings
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(Vite): removing unused scripts; vite mode; storybook main cleanup
  nx.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(Vite): build with separate css (es only)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(Vite): add cjs format
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

style(Typography): use typography inside components
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Textarea/Textarea.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

style(Typography): avatar initials changes
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

style(Typography): changes after review
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

style(Typography): Styles updates for typography components (#987)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/NumericInput/NumericInput.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTrigger.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.module.scss
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/Textarea/Textarea.module.scss
  packages/react-components/src/components/Textarea/Textarea.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/index.scss
  packages/react-components/src/stories/foundations/Typography/Typography.stories.mdx
  packages/react-components/src/stories/foundations/Typography/components/DisplayExamples.tsx
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
  packages/react-components/src/stories/foundations/Typography/components/TextExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Modal): added zindex to prevent elements overflow
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/utils/StackingContextLevel.scss
Due: stylelint --fix, prettier --write

fix(Modal): Possibility to scroll down the overlay if modal is larger than window (#997)
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/components/ModalBase.tsx
  packages/react-components/src/utils/StackingContextLevel.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.16.7
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

build(Vite): disable lib-inject-css for storybook builds
  package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

docs(readme): removing local img
  packages/icons/README.md
  packages/react-components/README.md
Due: prettier --write

build(CSS): transforming index.scss separately from the main build process
  package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(js-chunks): moving chunks into separated folder
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(Input): fix for input with typography
  packages/react-components/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

fix(Input): fix for TagInput and Textarea with typography
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, prettier --write

fix(Input): Fixes for typography component usage in Input, TagInput and Textarea (#1002)
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, prettier --write

v1.16.8
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

build(icons): using globbing for export fields instead of script
  packages/icons/package.json
  packages/icons/scripts/updateExports.js
Due: eslint --cache --fix, prettier --write

build(icons): using glob in vite to build entries for icons
  package-lock.json
  packages/icons/package.json
  packages/icons/scripts/createEntryConfig.js
  packages/icons/tsconfig.json
  packages/icons/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(icons): replacing import.meta statement
  nx.json
  packages/icons/entryConfig.ts
  packages/icons/vite.config.ts
Due: eslint --cache --fix, prettier --write

build(icons): updating readme file
  packages/icons/README.md
Due: prettier --write

Fix memory leak in legacy PromoBanner
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

fix(PromoBanner): Fix memory leak (#1004)
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, prettier --write

v1.16.9
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Icon): removing undefined style
  packages/react-components/src/components/Icon/Icon.tsx
Due: eslint --cache --fix, prettier --write

fix(Tab): fix import from utils
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): removing color inherit style
  packages/react-components/src/components/Button/styles/icon.scss
Due: stylelint --fix, prettier --write

feat(Metrics): new Metrics subpackage
  package-lock.json
  packages/metrics/.gitignore
  packages/metrics/src/global.d.ts
  packages/metrics/src/index.ts
  packages/metrics/src/metricsGenerator.ts
  packages/metrics/src/tokenScan.ts
  packages/metrics/src/types.ts
  packages/metrics/src/utils.ts
Due: eslint --cache --fix, prettier --write

feat(Metrics): new Metrics subpackage
  packages/metrics/package.json
  packages/metrics/tsconfig.json
Due: none

feat(icons): add missing ticket priority icons
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/double_arrow_down.svg
  packages/icons/svg/double_arrow_up.svg
  packages/icons/svg/point-filled.svg
  packages/icons/svg/point.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(icons): add extra readme step
  packages/icons/README.md
Due: prettier --write

feat(Icons): Add missing ticket priority icons (#1005)
  packages/icons/README.md
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/double_arrow_down.svg
  packages/icons/svg/double_arrow_up.svg
  packages/icons/svg/point-filled.svg
  packages/icons/svg/point.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write
