Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(AppFrame): theme in elements change
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): custom footer for side navigation
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): test update
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(GlobalAlert): adding new component
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
  packages/react-components/src/components/GlobalAlert/GlobalAlert.tsx
  packages/react-components/src/components/GlobalAlert/helpers.ts
  packages/react-components/src/components/GlobalAlert/index.ts
  packages/react-components/src/components/GlobalAlert/styles/background-color.scss
  packages/react-components/src/components/GlobalAlert/styles/icon-color.scss
  packages/react-components/src/components/GlobalAlert/types.ts
  packages/react-components/src/index.ts
  packages/react-components/src/utils/useClickOutside.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): styles improvement
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
Due: stylelint --fix, prettier --write

feat(GlobalAlert): adding animation
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
  packages/react-components/src/components/GlobalAlert/GlobalAlert.tsx
  packages/react-components/src/components/GlobalAlert/styles/animation.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): storybook styling
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): fixes for styling
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
  packages/react-components/src/components/GlobalAlert/GlobalAlert.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): new story
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing overflow on selected custom elements (#1244)
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.28.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/foundations/shadow.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): new story with kinds
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(GlobalAlert): adding component doc page
  packages/react-components/src/components/GlobalAlert/GlobalAlert.mdx
  packages/react-components/src/components/GlobalAlert/GlobalAlert.stories.tsx
  packages/react-components/src/components/GlobalAlert/GlobalAlert.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): fix after test fails
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

feat(GlobalAlert): adding tests
  packages/react-components/src/components/GlobalAlert/GlobalAlert.spec.tsx
  packages/react-components/src/components/GlobalAlert/GlobalAlert.tsx
Due: eslint --cache --fix, prettier --write

feat(GlobalAlert): adding tests
  packages/react-components/src/components/GlobalAlert/helpers.spec.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): animation value change
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
Due: stylelint --fix, prettier --write

feat(AppFrame): focus state ui update
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/foundations/shadow.css
Due: stylelint --fix, prettier --write

chore(Github): adding codeowners file
  .github/CODEOWNERS
Due: none

chore(Github): updating PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(Github): adding codeowners file (#1251)
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat(AppFrame): docs and styles update
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): docs update
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): set clearSearchAfterSelection as true by default
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): non collapsible list margin
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Picker): set clearSearchAfterSelection as true by default (#1252)
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

feat(GlobalAlert): review fixes
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
  packages/react-components/src/components/GlobalAlert/GlobalAlert.spec.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(GlobalAlert): review fixes
  .stylelintrc.json
  packages/react-components/src/components/GlobalAlert/GlobalAlert.module.scss
Due: stylelint --fix, prettier --write

v1.29.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): ellipsis in side navigation items
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): side nav open fix
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): font size fix
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
Due: stylelint --fix, prettier --write

feat(AppFrame): set default nav option
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): story update
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

feat(AppFrame): small fix
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): new component (#1227)
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.spec.tsx
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.module.scss
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/Navigation.tsx
  packages/react-components/src/components/AppFrame/components/Navigation/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/NavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/SideNavigation.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/constants.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/index.ts
  packages/react-components/src/providers/AppFrameProvider.tsx
  packages/react-components/src/providers/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): side navigation group animation update
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
