Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

rewrite the Checkbox component to input (#518)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/Checkbox/check.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.0.0-alpha.56
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

597: Triggering onClose and onOpen callbacks when visibility changes on hover action
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

597: Adding tests
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
Due: eslint --cache --fix, prettier --write

426: DevEx Improvements in Input and Tag Input components (#594)
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

573: Popover - fix for closeOnEsc prop (#595)
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

521: Picker - setting horizontal scroll in PickerList as auto (#596)
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

597: review fixes
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

597: Tooltip - onOpen, onClose fixes (#598)
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.57
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

update box-shadow value
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

storybook update
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: eslint --cache --fix, prettier --write

vite dts library logLevel set to error, example-react vite version update
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

updating package-lock
  packages/example-react/package-lock.json
Due: none

#601 - Picker - Update box-shadow value (#603)
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write

re-initializing package-locks and fixing TostWrapper interface
  package-lock.json
  packages/example-react/package-lock.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/src/components/Toast/ToastWrapper.tsx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

dts plugin log level set to error only
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

add backward compatibility
  packages/react-components/src/components/Modal/Modal.tsx
Due: eslint --cache --fix, prettier --write

UI fixes + docs update
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.stories.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

icons docs update
  package-lock.json
  package.json
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/TablerIcons.stories.mdx
Due: eslint --cache --fix, prettier --write

ui fixes
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

chromatic version update; enabling TurboSnap feature
  .github/workflows/chromatic.yml
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

restore Modal component structure
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#562 - Tooltip - Ui fixes (#608)
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fixes
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
Due: stylelint --fix, prettier --write

test commit to check if turbosnap works correctly - to revert
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

Revert "test commit to check if turbosnap works correctly - to revert"
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
Due: stylelint --fix, prettier --write

#549 - Checkbox - UI fixes (#610)
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
Due: stylelint --fix, prettier --write

Storybook update (#602)
  package-lock.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/react-components/.storybook/main.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/Toast/ToastWrapper.tsx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

ui fixes
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Icons docs update (#607)
  package-lock.json
  package.json
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/TablerIcons.stories.mdx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Loader/Loader.tsx
Due: eslint --cache --fix, prettier --write

#555 - Progress - UI fixes + docs update (#606)
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Loader/Loader.module.scss
  packages/react-components/src/components/Loader/Loader.stories.tsx
  packages/react-components/src/components/Loader/Loader.tsx
  packages/react-components/src/components/Progress/ProgressBar.tsx
  packages/react-components/src/components/Progress/ProgressCircle.stories.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fixes, some logic for inline label positioning
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review + docs update
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes after review
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#554 - FormField - UI fixes, docs update (#612)
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

implicitly set order of build tasks execution
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none
