Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(Tab): stories update
  packages/react-components/src/components/Tab/Tab.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/constants.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/stories-constants.tsx
Due: eslint --cache --fix, prettier --write

fix(FormGroup): tests updates
  packages/react-components/src/components/FormGroup/FormGroup.spec.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(DesignToken): adding new One gradients (#1173)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

Update packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/ActionCard.tsx
Due: eslint --cache --fix, prettier --write

feat(ActionCard): New component (#1172)
  packages/react-components/src/components/ActionCard/ActionCard.mdx
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.spec.tsx
  packages/react-components/src/components/ActionCard/ActionCard.stories.tsx
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/types.ts
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/stories/assets/chat-window.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Input): ts error fix
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/Input/Input.spec.tsx
Due: eslint --cache --fix, prettier --write

v1.24.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ActionCard): added missing index file update
  packages/react-components/src/components/ActionCard/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

v1.24.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Modal): tests updates
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/components/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Icons): removing unnecessary tags from DeleteFilled SVG icon
  packages/icons/svg/delete-filled.svg
Due: none

fix(Icons): removing unnecessary tags from DeleteFilled SVG icon (#1179)
  packages/icons/svg/delete-filled.svg
Due: none

v1.24.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(ThemeProvider): adding docs and adjusting Vite config
  packages/react-components/src/stories/foundations/Theme/Theme.mdx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): fix for the menu height (#1168)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/stories-constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): tests updates
  packages/react-components/src/components/Tooltip/Tooltip.helpers.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.helpers.ts
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Info.spec.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.spec.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(FieldGroup): tests updates
  packages/react-components/src/components/FieldGroup/FieldGroup.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Tab): Possibility to add icon to button (#1174)
  packages/react-components/src/components/Tab/Tab.module.scss
  packages/react-components/src/components/Tab/Tab.stories.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(FormGroup): tests updates (#1177)
  packages/react-components/src/components/FormGroup/FormGroup.spec.tsx
  packages/react-components/src/components/FormGroup/FormGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(Modal): tests updates (#1178)
  packages/react-components/src/components/Modal/Modal.spec.tsx
  packages/react-components/src/components/Modal/components/ModalBase.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): tests updates (#1180)
  packages/react-components/src/components/Tooltip/Tooltip.helpers.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.helpers.ts
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Info.spec.tsx
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.spec.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(FieldGroup): tests updates (#1181)
  packages/react-components/src/components/FieldGroup/FieldGroup.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Icon): changes after review
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Icon): Added new sizes (#1175)
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Icon/Icon.tsx
Due: eslint --cache --fix, prettier --write

v1.25.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(ThemeProvider): updating docs
  packages/example-react/src/App.tsx
  packages/example-react/src/main.tsx
  packages/react-components/src/providers/ThemeProvider.tsx
  packages/react-components/src/stories/documentation/welcome.mdx
  packages/react-components/src/stories/foundations/Theme/Theme.mdx
Due: eslint --cache --fix, prettier --write

fix(PromoBanner): tests updates
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

fix(Tab): tests updates
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.spec.tsx
  packages/react-components/src/components/Tab/TabsWrapper.tsx
Due: eslint --cache --fix, prettier --write

fix(PromoBanner): tests updates (#1183)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.spec.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

fix(TagInput): tests updates
  packages/react-components/src/components/TagInput/TagInput.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Tab): changes after review
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
Due: eslint --cache --fix, prettier --write

fix(Tab): tests updates (#1184)
  packages/react-components/src/components/Tab/Tab.spec.tsx
  packages/react-components/src/components/Tab/Tab.tsx
  packages/react-components/src/components/Tab/TabsWrapper.spec.tsx
  packages/react-components/src/components/Tab/TabsWrapper.tsx
Due: eslint --cache --fix, prettier --write

fix(NumericInput): tests updates
  packages/react-components/src/components/NumericInput/NumericInput.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Popover): tests updates
  packages/react-components/src/components/Popover/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(TagInput): tests updates (#1185)
  packages/react-components/src/components/TagInput/TagInput.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(NumericInput): tests updates (#1186)
  packages/react-components/src/components/NumericInput/NumericInput.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(Popover): tests updates (#1187)
  packages/react-components/src/components/Popover/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write
