Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

docs(FormField): better documentation
  packages/react-components/src/components/FormField/FormField.mdx
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(FormField): better storybook order
  packages/react-components/.storybook/preview.js
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing disabled color token
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

fix(FormField): docu fix
  packages/react-components/src/components/FormField/FormField.mdx
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(Input, FormField): better docs for Input and FormField components (#1391)
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/FormField/FormField.mdx
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(DesignToken): updating design tokens
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DesignToken): updating design tokens
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(PromoBanner): updating docs
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
Due: none

fix(PromoBanner): updating docs
  .eslintignore
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
Due: none

fix(AppFrame): side menu group auto open logic update and some fixes
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

docs(PromoBannerV2): fix docs (#1397)
  .eslintignore
  packages/react-components/src/components/PromoBanner/PromoBanner.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
Due: none

fix(DesignToken): review fixes
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(DesignToken): updating design tokens (#1396)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(DesignToken): updating design tokens (#1395)
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/themes/dark.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Picker): fixing disabled color token (#1394)
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): changes after review
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

fix(AppFrame): docs update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

fix(AppFrame): last update
  packages/react-components/src/components/AppFrame/AppFrame.mdx
Due: none

fix(AppFrame): side menu group auto open logic update and some fixes (#1398)
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(package): updating dependencies
  package-lock.json
  packages/react-components/tsconfig.json
Due: none

build(package): updating dependencies (#1399)
  package-lock.json
  packages/react-components/tsconfig.json
Due: none

chore(linter): fixing linter issues
  packages/react-components/src/foundations/design-token.ts
Due: eslint --cache --fix, prettier --write

build(metrics): updating deps
  packages/metrics/package.json
Due: none

v2.4.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

fix(metrics): moving scanner to dependencies
  packages/metrics/package.json
Due: none

fix(metrics): moving scanner to dependencies (#1401)
  packages/metrics/package.json
Due: none

v2.4.4
  lerna.json
  package-lock.json
  packages/metrics/package.json
Due: none

url and client fix
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): TeamChat url and client fix (#1402)
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): top bar styles update and interfaces fix
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.4.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

ci(Chromatic): adding delay to components with animation
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): top bar styles update and interfaces fix (#1403)
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.4.6
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Tooltip): fix tests
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/test/setup.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): adding optional prop to hide tooltip on ref hidden
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): hide when reference is hidden
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
