Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(SelectableCard): docs update
  packages/react-components/src/components/SelectableCard/SelectableCard.mdx
Due: none

feat(Table): fixes after CR - part 3
  packages/react-components/src/components/Table/Table.mdx
  packages/react-components/src/components/Table/Table.spec.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/styles/strips.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): upgrade stripped props to support painting columns
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/styles/strips.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): change stories copy
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, prettier --write

Feat(Table): fixes after CR - part 2
  packages/react-components/src/components/Table/Table.mdx
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableBody.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/hooks.ts
Due: eslint --cache --fix, prettier --write

Feat(Table): fixes after DR - part 4
  packages/react-components/src/components/Table/Table.stories.tsx
Due: eslint --cache --fix, prettier --write

Feat(Table): fixes after DR - part 2
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/styles/pin.scss
Due: stylelint --fix, prettier --write

feat(Table): add test for TableBody, TableHeader, TableRow
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/TableBody.spec.tsx
  packages/react-components/src/components/Table/TableHeader.spec.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.spec.tsx
  packages/react-components/src/components/Table/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

Feat(Table): fixes after CR
  packages/react-components/src/components/Table/Table.spec.tsx
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
Due: eslint --cache --fix, prettier --write

Feat(Table): fixes after DR - part 3
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): init new table
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/hooks.ts
  packages/react-components/src/components/Table/index.ts
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/styles/size.scss
  packages/react-components/src/components/Table/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): support left column pin
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/stories-constants.tsx
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Feat(Table): add storybook
  packages/react-components/src/components/Table/Table.mdx
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, prettier --write

feat(Table): add action bar for bulk functions
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): add tests for Table component
  packages/react-components/src/components/Table/Table.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Table): self code review for table component
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableBody.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/styles/size.scss
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Feat(Table): fixes after DR
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/styles/size.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): code cleanup
  packages/react-components/src/components/Table/Table.mdx
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/helpers.tsx
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, prettier --write

v2.10.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(SelectableCard): changes after review
  packages/react-components/src/components/SelectableCard/SelectableCard.mdx
  packages/react-components/src/components/SelectableCard/SelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.css
  packages/react-components/src/components/SelectableCard/SelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.components.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.spec.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/types.ts
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveGrid/InteractiveGrid.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.components.tsx
  packages/react-components/src/hooks/useInteractive.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(SelectableCard): test fix
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(SelectableCards): new component thumbnail variant (#1445)
  packages/react-components/src/components/Avatar/Avatar.tsx
  packages/react-components/src/components/SelectableCard/SelectableCard.mdx
  packages/react-components/src/components/SelectableCard/SelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/SelectableCard.spec.tsx
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.css
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/SelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.components.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.spec.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/types.ts
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveGrid/InteractiveGrid.module.scss
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveGrid/InteractiveGrid.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveGrid/index.ts
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.components.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.spec.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/types.ts
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.components.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.module.scss
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.spec.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/types.ts
  packages/react-components/src/components/SelectableCard/components/index.ts
  packages/react-components/src/components/SelectableCard/index.ts
  packages/react-components/src/components/SelectableCard/types.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useInteractive.ts
  packages/react-components/src/index.ts
  packages/react-components/src/utils/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(docs): removed external links for images and used static
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/constants.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/stories/assets/avatar.jpg
  packages/react-components/src/stories/assets/folder.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write
