Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Recreating similar Icon component
  packages/icons/lib/icon/Icon.tsx
  packages/icons/lib/icon/constants.ts
  packages/icons/lib/icon/types.ts
Due: eslint --cache --fix, prettier --write

Adding scss support to the bundle
  package-lock.json
  packages/icons/lib/icon/Icon.module.scss
  packages/icons/lib/icon/Icon.tsx
  packages/icons/lib/icon/constants.ts
  packages/icons/package.json
  packages/icons/src/App.tsx
  packages/icons/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Removing unused assets
  packages/icons/public/vite.svg
  packages/icons/src/assets/react.svg
Due: none

Type guard for icon set and name
  .eslintignore
  packages/icons/lib/icon/Icon.tsx
  packages/icons/src/App.tsx
Due: eslint --cache --fix, prettier --write

Generate the icon list based on files in the assets folder
  packages/icons/generate-icons-list.js
  packages/icons/lib/icon/Icon.tsx
  packages/icons/lib/icon/icons.ts
  packages/icons/package.json
  packages/icons/src/App.tsx
Due: eslint --cache --fix, prettier --write

Updating nx cache scripts
  nx.json
Due: none

updating vite config
  packages/icons/.prettierignore
  packages/icons/lib/icon/Icon.tsx
  packages/icons/src/App.tsx
  packages/icons/vite.config.ts
Due: eslint --cache --fix, prettier --write

adding eslintignore
  packages/icons/.eslintignore
Due: none

adding root prettierignore rule
  .prettierignore
  packages/icons/.eslintignore
  packages/icons/.prettierignore
Due: none

adding root prettierignore rule
  .prettierignore
  packages/icons/lib/icon/icons.ts
Due: eslint --cache --fix, prettier --write

reverting icons.d.ts
  package-lock.json
  packages/icons/src/App.tsx
  packages/icons/vite.config.ts
Due: eslint --cache --fix, prettier --write

border radius for docs example
  packages/react-components/src/components/Modal/Modal.stories.css
Due: stylelint --fix, prettier --write

exporting additional types for the icon component; changing the react version to be the same
  package-lock.json
  packages/example-react/src/App.tsx
  packages/example-react/tsconfig.json
  packages/example-react/vite.config.ts
  packages/icons/lib/icon/Icon.tsx
  packages/icons/lib/icon/index.ts
  packages/icons/lib/icon/types.ts
  packages/icons/lib/main.ts
  packages/icons/package.json
Due: eslint --cache --fix, prettier --write

[Modal] - Label heading fix for "full space content" Modal type + Avatar in the modal header (#793)
  packages/react-components/src/components/Avatar/index.ts
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.module.scss
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

test fix
  packages/react-components/src/components/ActionBar/ActionBar.spec.tsx
Due: eslint --cache --fix, prettier --write

remove props from picker
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

remove issues before release
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-beta.10
  lerna.json
  package-lock.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

improving lerna caching for build tasks
  nx.json
  packages/icons/package.json
  packages/react-components/src/components/Icon/Icon.mdx
Due: none

package.json fix
  package.json
Due: none

nx caching
  nx.json
Due: none

linter fixes
  .eslintignore
  packages/icons/.eslintignore
  packages/icons/package.json
Due: none

fixes in mdx files
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/TablerIcons.stories.mdx
Due: none

button stories fix
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-icons-remake.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

new tag size
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

spacing changes
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

reducing the number of supported formats for components library
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-icons-remake.2
  lerna.json
  package-lock.json
  packages/react-components/package.json
Due: none

Adding tabler set as default set for Icon component; adjusting components library
  packages/example-react/src/App.tsx
  packages/icons/lib/icon/Icon.tsx
  packages/icons/package.json
  packages/icons/src/App.tsx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Input/Input.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/Tag/Tag.spec.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, prettier --write

removing explicit tabler set
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Modal/components/ModalCloseButton.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

fix for Alert icons; fix for components library tsconfig file
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/tsconfig.json
Due: eslint --cache --fix, prettier --write

removing unused entries from package json
  packages/react-components/package.json
Due: none

Reverting icons from #797
  packages/icons/lib/assets/tabler/alert-spam-filled.svg
  packages/icons/lib/assets/tabler/alert-spam.svg
  packages/icons/lib/assets/tabler/facebook-filled.svg
  packages/icons/lib/assets/tabler/facebook.svg
  packages/icons/lib/assets/tabler/messages-filled.svg
  packages/icons/lib/assets/tabler/messages.svg
  packages/icons/lib/assets/tabler/messenger-colored.svg
  packages/icons/lib/assets/tabler/messenger.svg
  packages/icons/lib/assets/tabler/report-filled.svg
  packages/icons/lib/assets/tabler/report.svg
Due: none

generating icons.ts after adding new icons
  packages/icons/lib/icon/icons.ts
Due: eslint --cache --fix, prettier --write

reverting facebook icon
  packages/icons/lib/assets/tabler/facebook.svg
  packages/icons/lib/icon/icons.ts
Due: eslint --cache --fix, prettier --write

improvements
  packages/icons/lib/icon/Icon.tsx
  packages/icons/lib/icon/constants.ts
  packages/icons/lib/icon/index.ts
  packages/icons/lib/icon/types.ts
  packages/icons/lib/main.ts
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/Icon.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Tag/Tag.mdx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/stories/Icons.stories.mdx
Due: eslint --cache --fix, prettier --write

icons showcase stories
  packages/react-components/src/stories/Icons.stories.mdx
  packages/react-components/src/stories/TablerIcons.stories.mdx
  packages/react-components/src/stories/components/IconsShowcase.tsx
  packages/react-components/src/stories/components/TablerIconsShowcase.tsx
Due: eslint --cache --fix, prettier --write

readme fixes
  README.md
Due: prettier --write
