Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(Tokens): update light theme AI surface gradients
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Picker): fix clearSearchAfterSelection prop for single type selection (#1510)
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

feat(SegmentedControl): add support for icon-only buttons
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

fix(SegmentedControl): correct button ID in WithIcons story
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(PromoBannerV2): add aria-label to close button for improved accessibility
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

docs(FormField): add example of character counter implementation
  packages/react-components/src/components/FormField/FormField.mdx
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(FormField): add multiple character counter positioning examples
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(SideNavigationGroup): extend component, make it controllable (#1513)
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/constants.ts
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
  packages/react-components/src/hooks/useAnimations.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Tokens): update dark theme AI surface gradients
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(Shadow, Token): add shadow token and update color tokens (#1523)
  packages/react-components/src/foundations/shadow-token.ts
  packages/react-components/src/foundations/shadow.css
  packages/react-components/src/stories/foundations/Shadow/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v2.22.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): add fallback height for older browsers (#1519)
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
Due: stylelint --fix, prettier --write

fix(Popover, Tooltip): disable transitions in Chromatic tests - test1
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Popover, Tooltip): move Chromatic test transition duration to default args - test2
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): test rendering ui3
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): test rendering 4
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
Due: eslint --cache --fix, prettier --write

v2.22.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Table): add multi-select table type with styling updates
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.stories.tsx
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.spec.tsx
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Table/stories-helpers.tsx
  packages/react-components/src/components/Table/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Checkbox): update display and remove min-height styling
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

fix(Table): update display and checkbox styling for multi-select table
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): fix sizing for images and videos
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(FieldField): replace Info icon with Error icon (#1522)
  packages/react-components/src/components/FieldError/FieldError.tsx
Due: eslint --cache --fix, prettier --write

docs(Skeleton): add example of SkeletonText with custom width (#1521)
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Tooltip): use local video asset for interactive tooltip example
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/onboarding_final.mp4
Due: eslint --cache --fix, prettier --write

feat(SegmentedControl): add support for icon-only buttons (#1525)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

docs(Popover, Tooltip): disable transitions in Chromatic tests (#1530)
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

build(deps-dev): bump vitest from 1.6.0 to 3.0.5 (#1518)
  package-lock.json
  packages/react-components/package.json
Due: none

docs(FormField): add example of character counter implementation (#1527)
  packages/react-components/src/components/FormField/FormField.mdx
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(UserGuide): fix sizing for images and videos (#1532)
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(PromoBannerV2): add aria-label to close button for improved accessibility (#1526)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

feat(Tooltip): add support for interactive tooltips with video (#1524)
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/onboarding_final.mp4
  packages/react-components/src/components/Tooltip/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Button): remove 'basic' button kind from stories and add depreciation note (#1516)
  packages/react-components/src/components/Button/Button.mdx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

v2.23.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Table): refine styling
  packages/react-components/src/components/Table/Table.module.scss
  packages/react-components/src/components/Table/Table.tsx
  packages/react-components/src/components/Table/TableHeader.module.scss
  packages/react-components/src/components/Table/TableHeader.tsx
  packages/react-components/src/components/Table/TableRow.module.scss
  packages/react-components/src/components/Table/TableRow.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Table): add border radius to table header
  packages/react-components/src/components/Table/Table.module.scss
Due: stylelint --fix, prettier --write

feat(Tokens): add data visualization color palette
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/foundations/radius-token.ts
  packages/react-components/src/foundations/radius.css
  packages/react-components/src/stories/foundations/Color/Color.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/stories/foundations/Radius/constants.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(TimePicker): new component
  packages/react-components/src/components/TimePicker/TimePicker.stories.tsx
  packages/react-components/src/components/TimePicker/TimePicker.tsx
  packages/react-components/src/components/TimePicker/index.ts
  packages/react-components/src/components/TimePicker/styles.ts
  packages/react-components/src/components/TimePicker/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(ActionCard): moved to emotion
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/styles.ts
  packages/react-components/src/styles/animations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionBar): migrate styles to emotion
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionBar): clean up styles and use design tokens
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles.ts
  packages/react-components/src/components/ActionBar/styles/select-indicator.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write
