Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

move css to common namespace
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

target first and last cell
  packages/react-components/src/components/Datepicker/DatePicker.module.scss
Due: stylelint --fix, prettier --write

pr fixes
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/helpers.ts
Due: eslint --cache --fix, prettier --write

folder rename step 2
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Update test to avoid timezone issues.
  packages/react-components/src/components/Datepicker/DatePicker.spec.tsx
Due: eslint --cache --fix, prettier --write

rangedatepicker test
  packages/react-components/src/components/Datepicker/RangeDatePicker.spec.tsx
Due: eslint --cache --fix, prettier --write

removed classnames
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
Due: eslint --cache --fix, prettier --write

package lock update
  packages/react-components/package-lock.json
Due: none

lock update
  packages/react-components/package-lock.json
Due: none

lock
  packages/react-components/package-lock.json
Due: none

component export
  packages/react-components/src/components/DatePicker/index.ts
Due: eslint --cache --fix, prettier --write

#331 Datepicker component (#300)
  packages/icons/svg/material/chevron-double-left.svg
  packages/icons/svg/material/chevron-double-right.svg
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/index.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

set zindex on popover
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

#390 Card component refactoring
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.spec.tsx
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Remove unused type
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, prettier --write

Remove doubled test case
  packages/react-components/src/components/Card/Card.spec.tsx
Due: eslint --cache --fix, prettier --write

create TESTING.md
  TESTING.md
Due: prettier --write

introduce black-locked token and use it with switch icon
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

use zindex variable
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/utils/StackingContextLevel.scss
Due: stylelint --fix, prettier --write

follow agent app convention
  packages/react-components/src/utils/StackingContextLevel.scss
Due: stylelint --fix, prettier --write

#390 Card component refactoring (#397)
  .stylelintrc.json
  package-lock.json
  package.json
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.spec.tsx
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Bump package-lock.json file for react-components
  packages/react-components/package-lock.json
Due: none

v1.0.0-alpha.21
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Remove disabled attribute from button, add aria-disabled, prevent onClick if disabled is true
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

merge unit tests
  packages/react-components/src/components/Button/Button.spec.tsx
Due: eslint --cache --fix, prettier --write

Remove disabled attribute from button (#412)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.spec.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

apply properly color to the icon
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

import variable
  packages/react-components/src/components/Popover/Popover.module.scss
Due: stylelint --fix, prettier --write

Apply suggestions from code review
  TESTING.md
Due: prettier --write

added more info about Visual Regression
  TESTING.md
Due: prettier --write

apply style
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

proper content black locked colours
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

#332 z-index for Popover component (#398)
  packages/react-components/src/components/Popover/Popover.module.scss
  packages/react-components/src/utils/StackingContextLevel.scss
Due: stylelint --fix, prettier --write

#380 introduce black-locked token and use it with switch icon (#402)
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Apply suggestions from code review part 2
  TESTING.md
Due: prettier --write

Improve the documentation of the release process
  RELEASE.md
Due: prettier --write

Apply suggestions from code review part 3
  TESTING.md
Due: prettier --write

update README.md
  README.md
Due: prettier --write

First version of testing documentation in Design System (#401)
  README.md
  TESTING.md
Due: prettier --write

v1.0.0-alpha.22
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none
