Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(AppFrame): nav bar scroll fix and sub nav chevron update (#1414)
  packages/react-components/src/components/AppFrame/components/NavigationGroup/NavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationItem/SideNavigationItem.tsx
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SearchInput/SearchInput.tsx
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.5.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(useAnimations): hook fix
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

fix(useAnimations): hook fix (#1417)
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

v2.5.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

TeamChat as default
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.mdx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(Button): fixing animated label logic
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/animated-label.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): TeamChat as default product (#1421)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.mdx
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

v2.6.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): update Text Accounts name and icon
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(useAnimations): fix for animations hook
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

fix(useAnimations): fix for animations hook (#1424)
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, prettier --write

v2.6.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

remove teamchat from default products
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): update Text Accounts name and icon (#1423)
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): Revert TeamChat as default product (#1425)
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

v2.6.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(UploadFile): boilerplate
  packages/react-components/src/components/UploadFile/UploadFile.stories.tsx
  packages/react-components/src/components/UploadFile/UploadFile.tsx
  packages/react-components/src/components/UploadFile/index.ts
  packages/react-components/src/components/UploadFile/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(Icons): add new icon
  packages/icons/svg/brush.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(UploadFile): component basic structure WIP
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/UploadFile/UploadFile.module.scss
  packages/react-components/src/components/UploadFile/UploadFile.stories.tsx
  packages/react-components/src/components/UploadFile/UploadFile.tsx
  packages/react-components/src/components/UploadFile/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icons): add new icon (#1427)
  packages/icons/svg/brush.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Badge): update styles for secondary kind
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Badge): update styles for secondary kind (#1430)
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.7.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(Icon): add caret up caret down and multiple choice icons
  packages/icons/svg/caret_down-filled.svg
  packages/icons/svg/caret_down.svg
  packages/icons/svg/caret_up-filled.svg
  packages/icons/svg/caret_up.svg
  packages/icons/svg/multi_choice-filled.svg
  packages/icons/svg/multi_choice.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): add icons
  packages/icons/svg/arrows_diagonal.svg
  packages/icons/svg/arrows_diagonal_minimize.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): add minimize-maximize icons (#1433)
  packages/icons/svg/arrows_diagonal.svg
  packages/icons/svg/arrows_diagonal_minimize.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): change button kind for top bar alert warning kind
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
Due: eslint --cache --fix, prettier --write

fix(useAnimations): flag to enable sleep wake scenarios
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/hooks/useAnimations.ts
  packages/react-components/src/hooks/useSleepWakeSync.ts
Due: eslint --cache --fix, prettier --write

fix(Button): test
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): chroma test
  .github/workflows/chromatic.yml
Due: none

fix(Button): test
  .github/workflows/chromatic.yml
Due: none

fix(AppFrame): update
  packages/react-components/src/hooks/useSleepWakeSync.ts
Due: eslint --cache --fix, prettier --write

fix(useAnimations): flag to enable sleep wake scenarios (#1435)
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/hooks/useAnimations.ts
  packages/react-components/src/hooks/useSleepWakeSync.ts
Due: eslint --cache --fix, prettier --write

v2.8.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(AppFrame): change button kind for top bar alert warning kind (#1434)
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
Due: eslint --cache --fix, prettier --write

feat(Accordion): new promo version
  packages/react-components/src/components/Accordion/Accordion.mdx
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/hooks.ts
  packages/react-components/src/components/Accordion/index.ts
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): hook changes
  packages/react-components/src/components/Accordion/hooks.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): changes after review
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): test fix
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
