Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

more stories for Select
  packages/react-components/src/stories/Select.stories.tsx
Due: eslint --cache --fix, prettier --write

little change in interface
  packages/react-components/src/components/Select/Select.tsx
Due: eslint --cache --fix, prettier --write

DS-00-grouping-input (for AA purposes) (#290)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Filter.spec.tsx
  packages/react-components/src/components/Filter.tsx
  packages/react-components/src/components/TagInput/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/Tag.tsx
  packages/react-components/src/components/TagInput/TagInput.spec.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
  packages/react-components/src/constants/keyCodes.ts
  packages/react-components/src/stories/Filter.stories.tsx
  packages/react-components/src/stories/TagInput.stories.tsx
  packages/styles/src/components/_filter.scss
  packages/styles/src/components/_tag-input.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: kind prop WIP
  packages/react-components/src/components/Tag.spec.tsx
  packages/react-components/src/components/Tag.tsx
  packages/react-components/src/components/TagInput/EditableTag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/stories/Filter.stories.tsx
  packages/react-components/src/stories/Tag.stories.tsx
  packages/styles/src/components/_tag.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: colors fix
  packages/react-components/src/components/Tag.spec.tsx
  packages/styles/src/components/_tag.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: adding icon and avatar props
  packages/react-components/src/components/Tag.tsx
  packages/react-components/src/components/TagInput/EditableTag.tsx
  packages/react-components/src/stories/Tag.stories.tsx
  packages/styles/src/components/_tag.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: focus fix, adding error label
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/styles/src/components/_tag-input.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: tests fix
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

AA-12778: stories fix
  packages/react-components/src/stories/Tag.stories.tsx
Due: eslint --cache --fix, prettier --write

AA-12778: FieldError and FieldDescription fix
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TextField.tsx
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_text-field.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: adding todo note
  packages/styles/src/components/_tag.scss
Due: stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Select/Select.tsx
  packages/react-components/src/components/Select/SelectList.tsx
  packages/react-components/src/components/Select/interfaces.ts
  packages/react-components/src/stories/Select.stories.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Select/Select.tsx
  packages/react-components/src/components/Select/SelectList.tsx
  packages/react-components/src/stories/Select.stories.tsx
  packages/styles/src/components/_select.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

missing change
  packages/react-components/src/components/Select/Select.tsx
Due: eslint --cache --fix, prettier --write

fix for keyboard selecting issue
  packages/react-components/src/components/Select/SelectList.tsx
Due: eslint --cache --fix, prettier --write

new icons
  packages/icons/src/material/duble_arrow_left.svg
  packages/icons/src/material/duble_arrow_right.svg
Due: none

icons name typo
  packages/icons/src/material/duble_arrow_left.svg
  packages/icons/src/material/duble_arrow_right.svg
Due: none

dropdown v1
  packages/react-components/package.json
  packages/react-components/src/components/dropdown/Dropdown.tsx
  packages/react-components/src/components/dropdown/DropdownList.tsx
  packages/react-components/src/components/dropdown/DropdownListItem.tsx
  packages/react-components/src/components/dropdown/constants.ts
  packages/react-components/src/components/dropdown/index.ts
Due: eslint --cache --fix, prettier --write

disabling ts didnt work - nuclear option
  package-lock.json
  packages/react-components/src/components/dropdown/Dropdown.tsx
  packages/react-components/src/components/dropdown/DropdownListItem.tsx
  packages/react-components/src/components/dropdown/helpers.ts
  packages/react-components/src/stories/Dropdown.stories.tsx
  packages/react-components/src/stories/foundations/components/DropdownExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListExample.tsx
  packages/styles/src/components/_dropdown.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: adding custom color prop
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tag.tsx
  packages/styles/src/components/_tag.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: icons custom color & tag storybook improvements
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/components/Tag.tsx
  packages/react-components/src/stories/Tag.stories.tsx
  packages/styles/src/components/_tag.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

popper2
  packages/react-components/src/components/dropdown/Dropdown.tsx
  packages/react-components/src/stories/Dropdown.stories.tsx
  packages/react-components/src/stories/foundations/components/DropdownExample.tsx
  packages/styles/src/components/_dropdown.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

AA-12778: adding more tests
  packages/react-components/src/components/Tag.spec.tsx
  packages/react-components/src/components/Tag.tsx
Due: eslint --cache --fix, prettier --write

AA-12778: Tag component (#293)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Filter.spec.tsx
  packages/react-components/src/components/Filter.tsx
  packages/react-components/src/components/Icon.tsx
  packages/react-components/src/components/Tag.spec.tsx
  packages/react-components/src/components/Tag.tsx
  packages/react-components/src/components/TagInput/EditableTag.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/Filter.stories.tsx
  packages/react-components/src/stories/Tag.stories.tsx
  packages/styles/src/components/_field-description.scss
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_filter.scss
  packages/styles/src/components/_tag-input.scss
  packages/styles/src/components/_tag.scss
  packages/styles/src/components/_text-field.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

drop down component with helpers
  packages/react-components/package.json
  packages/react-components/src/components/dropdown/Dropdown.tsx
  packages/react-components/src/components/dropdown/DropdownList.tsx
  packages/react-components/src/components/dropdown/DropdownListItem.tsx
  packages/react-components/src/components/dropdown/helpers.ts
  packages/styles/src/components/_dropdown.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

dropdown examples
  packages/react-components/src/stories/Dropdown.stories.tsx
  packages/react-components/src/stories/foundations/components/DropdownExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListBodyPropExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListNotSelectableExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListSelectableExample.tsx
Due: eslint --cache --fix, prettier --write

Pin volta
  package.json
Due: none

Upgrade storybook
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

Added Link component
  packages/react-components/src/components/Link.tsx
  packages/react-components/src/stories/Link.stories.tsx
  packages/styles/src/components/_link.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Button as a link element
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/stories/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

Button as a link and kind=link
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/Link.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add test for button tag
  packages/react-components/src/components/Button.spec.tsx
Due: eslint --cache --fix, prettier --write

Missing Link in the index
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix for selectable example
  packages/react-components/src/components/dropdown/DropdownList.tsx
  packages/react-components/src/stories/foundations/components/DropdownListSelectableExample.tsx
Due: eslint --cache --fix, prettier --write

remove arrow
  packages/react-components/src/components/dropdown/Dropdown.tsx
  packages/react-components/src/stories/foundations/components/DropdownExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListBodyPropExample.tsx
  packages/react-components/src/stories/foundations/components/DropdownListSelectableExample.tsx
Due: eslint --cache --fix, prettier --write

header fix
  packages/react-components/src/stories/Dropdown.stories.tsx
Due: eslint --cache --fix, prettier --write

examples rename
  packages/react-components/src/stories/Dropdown.stories.tsx
Due: eslint --cache --fix, prettier --write

dropdown example
  packages/react-components/src/stories/foundations/components/DropdownExample.tsx
Due: eslint --cache --fix, prettier --write

missed this one
  packages/react-components/src/components/dropdown/DropdownList.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Select/Select.tsx
  packages/react-components/src/stories/Select.stories.tsx
  packages/styles/src/components/_select.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
