Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

fix for spacing in small promo
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

new size
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#727 - PromoBannerV2 - Updates in documentation and new typography tokens (#750)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/stories/Typography.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

radius token
  packages/react-components/src/components/Tag/Tag.module.scss
Due: stylelint --fix, prettier --write

new variant
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add Avatar background color handling based on initials
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

Remove CSS variable case from component testing due to issues with window mocking
  packages/react-components/src/components/Avatar/Avatar.spec.tsx
Due: eslint --cache --fix, prettier --write

Make getBackgroundColor test use actual initials instead of names
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
Due: eslint --cache --fix, prettier --write

Extend getInitials tests to handle all limit cases
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
Due: eslint --cache --fix, prettier --write

Avatar background color handling based on initials (#753)
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Avatar/Avatar.tsx
Due: eslint --cache --fix, prettier --write

#748 - Tag - New size + documentation update (#751)
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

#749 - Button - New variant (#752)
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixing non-text content styling; Tooltip type exporting
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/index.ts
Due: eslint --cache --fix, prettier --write

stories fix
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Toast/ToastWrapper.stories.tsx
Due: eslint --cache --fix, prettier --write

stories fix
  packages/react-components/src/components/Modal/StoriesComponents.tsx
Due: eslint --cache --fix, prettier --write

Fixing non-text content styling. Tooltip type exporting. (#754)
  packages/react-components/src/components/Modal/Modal.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Toast/ToastWrapper.stories.tsx
  packages/react-components/src/components/Tooltip/index.ts
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding new icons
  packages/icons/svg/tabler/logout-filled.svg
Due: none

changes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding new icons
  packages/icons/svg/tabler/arrow_vertical.svg
  packages/icons/svg/tabler/arrows_vertical.svg
  packages/icons/svg/tabler/ballpen-filled.svg
  packages/icons/svg/tabler/ballpen.svg
  packages/icons/svg/tabler/bell_exclamation-filled.svg
  packages/icons/svg/tabler/bell_exclamation.svg
  packages/icons/svg/tabler/call-filled.svg
  packages/icons/svg/tabler/call.svg
  packages/icons/svg/tabler/device_laptop-filled.svg
  packages/icons/svg/tabler/device_laptop.svg
  packages/icons/svg/tabler/device_mobile-check.svg
  packages/icons/svg/tabler/device_mobile_check-filled.svg
  packages/icons/svg/tabler/device_mobile_cog-filled.svg
  packages/icons/svg/tabler/device_mobile_cog.svg
  packages/icons/svg/tabler/dismiss_chat-filled.svg
  packages/icons/svg/tabler/dismiss_chat.svg
  packages/icons/svg/tabler/logout-filled.svg
  packages/icons/svg/tabler/logout.svg
  packages/icons/svg/tabler/paw-filled.svg
  packages/icons/svg/tabler/paw.svg
  packages/icons/svg/tabler/spy-filled.svg
  packages/icons/svg/tabler/spy.svg
  packages/icons/svg/tabler/text_formatting-filled.svg
  packages/icons/svg/tabler/text_formatting.svg
Due: none

add export
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

option set icon on the left/right side
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

adding colored brands icons
  packages/icons/svg/tabler/CHIP_copilot-colored.svg
  packages/icons/svg/tabler/android-colored.svg
  packages/icons/svg/tabler/apple_messages_for_business-colored.svg
  packages/icons/svg/tabler/big_commerce-colored.svg
  packages/icons/svg/tabler/chat_bot-colored.svg
  packages/icons/svg/tabler/cloudflare-colored.svg
  packages/icons/svg/tabler/drupal-colored.svg
  packages/icons/svg/tabler/edge-colored.svg
  packages/icons/svg/tabler/facebook-colored.svg
  packages/icons/svg/tabler/firefox-colored.svg
  packages/icons/svg/tabler/google_chrome-colored.svg
  packages/icons/svg/tabler/google_dark_mode-colored.svg
  packages/icons/svg/tabler/google_light_mode-colored.svg
  packages/icons/svg/tabler/google_tag_manager-colored.svg
  packages/icons/svg/tabler/helpdesk-colored.svg
  packages/icons/svg/tabler/internet_explorer-colored.svg
  packages/icons/svg/tabler/joomla-colored.svg
  packages/icons/svg/tabler/knowledgebase-colored.svg
  packages/icons/svg/tabler/livechat-colored.svg
  packages/icons/svg/tabler/magento-colored.svg
  packages/icons/svg/tabler/okta-colored.svg
  packages/icons/svg/tabler/openwidget-colored.svg
  packages/icons/svg/tabler/opera-colored.svg
  packages/icons/svg/tabler/safari-colored.svg
  packages/icons/svg/tabler/segment-colored.svg
  packages/icons/svg/tabler/shopify-colored.svg
  packages/icons/svg/tabler/weebly-colored.svg
  packages/icons/svg/tabler/windows-colored.svg
  packages/icons/svg/tabler/woocommerce-colored.svg
  packages/icons/svg/tabler/wordpress-colored.svg
Due: none

original brand icons
  packages/icons/svg/tabler/android-filled.svg
  packages/icons/svg/tabler/android.svg
  packages/icons/svg/tabler/apple-filled.svg
  packages/icons/svg/tabler/apple.svg
  packages/icons/svg/tabler/facebook.svg
  packages/icons/svg/tabler/linux-filled.svg
  packages/icons/svg/tabler/linux.svg
  packages/icons/svg/tabler/twitter-filled.svg
  packages/icons/svg/tabler/twitter.svg
  packages/icons/svg/tabler/windows-filled.svg
  packages/icons/svg/tabler/windows.svg
  packages/icons/svg/tabler/x-app.svg
Due: none

removing mask
  packages/icons/svg/tabler/facebook-filled.svg
  packages/icons/svg/tabler/target_arrow-filled.svg
  packages/icons/svg/tabler/target_arrow.svg
  packages/icons/svg/tabler/text_logo.svg
  packages/icons/svg/tabler/users-group.svg
  packages/icons/svg/tabler/users_group-filled.svg
Due: none

briefcase icons fix
  packages/icons/svg/tabler/briefcase-filled.svg
  packages/icons/svg/tabler/briefcase.svg
Due: none

comment fixes
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
  packages/react-components/src/components/Picker/constants.ts
  packages/react-components/src/components/Picker/index.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Tag story improvement
  packages/react-components/src/components/Tag/Tag.stories.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

#486 - Tag - Option set icon on the left/right side (#756)
  packages/react-components/src/components/Tag/Tag.module.scss
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Update packages/react-components/src/components/Avatar/Avatar.helpers.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
Due: eslint --cache --fix, prettier --write

Add upper-case test
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
Due: eslint --cache --fix, prettier --write

Modify getInitials so it ignores middle-names
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
  packages/react-components/src/components/Avatar/Avatar.helpers.ts
Due: eslint --cache --fix, prettier --write

Add test case for multiple spaces in input string for getInitials
  packages/react-components/src/components/Avatar/Avatar.helpers.spec.ts
Due: eslint --cache --fix, prettier --write

add adjacent items logic and styles
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/PickerListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
