Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(ProductSwitcher): adding new component (#1254)
  package-lock.json
  packages/icons/svg/text_accounts.svg
  packages/icons/svg/text_logo-full.svg
  packages/icons/svg/text_platform.svg
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
  packages/react-components/src/components/Popover/types.ts
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.mdx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
  packages/react-components/src/components/ProductSwitcher/index.ts
  packages/react-components/src/components/ProductSwitcher/openwidgetLogoUri.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/index.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(PickerList): styles for no results
  packages/react-components/src/components/Picker/components/PickerList.module.scss
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(PickerList): styles for no results (#1278)
  packages/react-components/src/components/Picker/components/PickerList.module.scss
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Colors): adding new color token
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(OnboardingChecklist): resize observer fix
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): resize observer fix (#1280)
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, prettier --write

v1.33.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): fix typo
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): fix typo (#1281)
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(Colors): adding new color token (#1279)
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ProductSwitcher): optional onselect handler
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): fix border radius
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
Due: stylelint --fix, prettier --write

fix(AppFrame): allow arbitrary button props, add dark theme cls
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): optional onselect handler (#1283)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): replacing home icons with new
  packages/icons/svg/home-filled.svg
  packages/icons/svg/home.svg
Due: none

fix(AppFrame): Fix several NavigationTopBar issues (#1284)
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icons): replacing home icons with new (#1285)
  packages/icons/svg/home-filled.svg
  packages/icons/svg/home.svg
Due: none

v1.33.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(Picker): fixing Picker filtering logic
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): calculating difference in calendar days
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): text in one line; plural form
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/utils/plural.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): allow in NavigationTopBar
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): trial days tweaks
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

feat(AppFrame): allow `classname` prop in NavigationTopBar (#1287)
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fixing Picker filtering logic (#1286)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.spec.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): minor improvements (#1288)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/utils/plural.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): making url, label optional; removing disableTooltip prop
  packages/react-components/.storybook/main.ts
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): close tooltip on item click
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): revert main.ts
  packages/react-components/.storybook/main.ts
Due: eslint --cache --fix, prettier --write

v1.33.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): adding textURL prop and locking switcher in dark mode
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(Picker): make customElement props optional Allows you to only provide one of `selectedItemBody` and `listItemBody`. Previously, you had to add both or the component would break while rendering
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): adding disabled state for nav items
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): adding disabled state for nav items
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

feat(Input): add AutoComplete component
  packages/react-components/src/components/Input/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

feat(PickerList): add `hideWhenEmpty` prop the picker list hides when there are no options matching the query
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
Due: eslint --cache --fix, prettier --write

docs(Input): add docs for AutoComplete
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): improving story
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): story improvements
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): opacity for disabled
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
Due: stylelint --fix, prettier --write
