Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(PromoBannerV2): fix
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
Due: stylelint --fix, prettier --write

build(GithubAction): modifying check pr title action (#1377)
  .github/workflows/check-pr-title.yml
Due: none

fix(AppFrame): possibility to push initial state for the side nav visibility
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/types.ts
Due: eslint --cache --fix, prettier --write

fix(PromoBannerV2): better documentation
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, prettier --write

tweak(PromoBannerV2): new kind "dark" for PromoBannerV2 (#1376)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.mdx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): useAnimation fixes
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): accordion tests fix
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): side nav group test fixes
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): top bar changes and nav item interface update (#1374)
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/constants.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/hooks/useAnimations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.3.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(SearchInput): adding external ref handling
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

refactor(SearchInput): aligning files names with component name, adding input props
  packages/react-components/src/components/Search/index.ts
  packages/react-components/src/components/SearchInput/SearchInput.mdx
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SearchInput/SearchInput.spec.tsx
  packages/react-components/src/components/SearchInput/SearchInput.stories.tsx
  packages/react-components/src/components/SearchInput/SearchInput.tsx
  packages/react-components/src/components/SearchInput/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

tweak(SearchInput): adding external ref handling (#1381)
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Search/index.ts
  packages/react-components/src/components/SearchInput/SearchInput.mdx
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SearchInput/SearchInput.spec.tsx
  packages/react-components/src/components/SearchInput/SearchInput.stories.tsx
  packages/react-components/src/components/SearchInput/SearchInput.tsx
  packages/react-components/src/components/SearchInput/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.3.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(FieldError): fixing error icon alignment
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): new tooltip
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(InviteAgents): adding box shadow
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
Due: stylelint --fix, prettier --write

feat(InviteAgents): new tooltip design (#1383)
  packages/react-components/src/components/InviteAgents/InviteAgents.module.scss
  packages/react-components/src/components/InviteAgents/InviteAgents.spec.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/helpers.ts
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.4.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(FieldError): fixing error icon alignment (#1382)
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(AppFrame): auto open/close side menu if child element is active
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): allow removing selected items independently
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): tests fixes
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): opening and closing logic changes
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): removed outdated test
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): main nav icons size changes
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): tweaking onSelect logic for already selected items
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): fixes
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): adding story
  packages/react-components/src/components/Picker/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(InviteAgents): hiding bots info in tooltip option
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

fix(InviteAgents): hiding bots info in tooltip option (#1388)
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/InviteAgents/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): allow removing selected items independently (#1386)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): auto open/close side menu if child element is active (#1385)
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.spec.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.4.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Picker): allowing to pass custom tag options to selected items
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/constants.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

tweak(Picker): allowing to pass custom tag options to selected items (#1392)
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/constants.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

v2.4.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

docs(FormField): separating the stories
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(Input): adding reference to the FormField
  packages/react-components/src/components/Input/Input.mdx
Due: none

docs(Input): more input docs
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
