Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

test
  .github/workflows/chromatic.yml
Due: none

test
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/index.scss
Due: stylelint --fix, prettier --write

font change
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/index.scss
Due: stylelint --fix, prettier --write

test
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/fonts/Inter.ttf
  packages/react-components/src/index.scss
Due: stylelint --fix, prettier --write

add placeholder to search input
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

final solution
  .github/workflows/chromatic.yml
  packages/react-components/.storybook/preview-head.html
  packages/react-components/package.json
  packages/react-components/src/index.scss
Due: stylelint --fix, prettier --write

docs(Foundations): icons documentation
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/IconsShowcase/IconsShowcase.tsx
  packages/react-components/src/components/Icon/IconsShowcase/style.scss
  packages/react-components/src/stories/components/Icons/TablerIconsShowcase.tsx
  packages/react-components/src/stories/components/Icons/iconsShowcase.css
  packages/react-components/src/stories/foundations/TablerIcons.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundations): add copy hint to table
  packages/react-components/src/stories/components/Table/Table.tsx
Due: eslint --cache --fix, prettier --write

#990 - add placeholder to Picker's search input (#991)
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
Due: eslint --cache --fix, prettier --write

build(PR): check PR description for CC
  .github/workflows/check-pr-title.yml
Due: none

build(PR): adding better regex
  .github/workflows/check-pr-title.yml
Due: none

build(PR): adding new line symbol
  .github/workflows/check-pr-title.yml
Due: none

fix(Picker): fix for openedOnInit variant
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

build(PR, commit): Restrict commit message and PR title to CC format (#982)
  .commitlintrc.js
  .github/workflows/check-pr-title.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

docs(Foundation): color groups and description
  packages/react-components/src/stories/foundations/Color/ColorTable.module.scss
  packages/react-components/src/stories/foundations/Color/ColorTable.tsx
  packages/react-components/src/stories/foundations/Color/constants.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundation): deprecated colors
  packages/react-components/src/stories/components/Table/Table.tsx
  packages/react-components/src/stories/foundations/Color/constants.ts
Due: eslint --cache --fix, prettier --write

typography updates
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Text.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/docs/foundations/Typography.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundation): colors doc
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/helpers.ts
  packages/react-components/src/stories/foundations/Color/types.ts
Due: eslint --cache --fix, prettier --write

docs(Foundation): styling improvements
  packages/react-components/src/stories/components/Table/Table.scss
Due: stylelint --fix, prettier --write

docs(Foundation): styling improvements
  packages/react-components/src/components/Icon/IconsShowcase/style.scss
Due: stylelint --fix, prettier --write

docs(Foundation): showing icons depending on group
  packages/react-components/src/components/Icon/Icon.mdx
  packages/react-components/src/components/Icon/IconsShowcase/IconsShowcase.tsx
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
  packages/react-components/src/components/Icon/IconsShowcase/helpers.ts
  packages/react-components/src/components/Icon/IconsShowcase/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): adding controlled mode to the component
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): controlled mode improvements
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): minor refactor
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): adding placement property
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for data controlled mode
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fix filtering mechanism
  packages/react-components/src/components/Picker/Picker.tsx
Due: eslint --cache --fix, prettier --write

docs(Foundation): new data for colors and icons
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
  packages/react-components/src/components/Icon/IconsShowcase/style.scss
  packages/react-components/src/stories/foundations/Color/data.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Foundation): fix for copy text
  packages/react-components/src/stories/helpers.ts
Due: eslint --cache --fix, prettier --write

docs(Foundation): adding navigation to colors
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
Due: none

refactor(Picker): Refactoring new Picker component codebase (#941)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): Visibility callbacks, controlled mode; placement prop (#994)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/hooks/useFloatingPicker.ts
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for data controlled mode (#995)
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/helpers.ts
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
