Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

docs(README): updating readme docs
  README.md
Due: prettier --write

fix(lerna): enabling conventional commits in lerna version
  package.json
Due: none

unit tests
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(release): updating release docs
  docs/RELEASE.md
  docs/assets/deploy_example.png
Due: prettier --write

changes in close button
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in close button
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

remove divider
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
Due: stylelint --fix, prettier --write

docs(readme): Updating contribution and release docs (#836)
  README.md
  docs/RELEASE.md
  docs/assets/deploy_example.png
  package.json
Due: prettier --write

changes after review
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

feat(ActionMenu): Code refactor, more floating-ui features used instead of event listeners (#830)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Toast): Changes in close button (#839)
  packages/react-components/src/components/Toast/Toast.module.scss
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): Changes in close button (#841)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/components/Info.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(SegmentedControl): Remove divider (#842)
  packages/react-components/src/components/SegmentedControl/SegmentedControl.module.scss
Due: stylelint --fix, prettier --write

change divider position after element with this flag
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DesignToken): add a script to generate design-token.ts file based on scss styles; update for design-token.ts tokens
  packages/react-components/package.json
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/themes/design-token.ts
Due: eslint --cache --fix, prettier --write

feat(DesignToken): add/update color tokens
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DesignToken): fix for storybook
  packages/react-components/src/stories/components/ColorTokens.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): Change divider position after element with this flag (#846)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DesignToken): updating color tokens (#847)
  packages/react-components/package.json
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/stories/components/ColorTokens.tsx
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(deps): removing unused babel dev deps
  package-lock.json
  packages/react-components/package.json
Due: none

build(deps): removing unused babel dev deps (#849)
  package-lock.json
  packages/react-components/package.json
Due: none

fix for floating element wrong placement
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
Due: eslint --cache --fix, prettier --write

fix after changes
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): Fix for floating element wrong placement (#851)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
Due: eslint --cache --fix, prettier --write

v1.2.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Icons): LC-786: adding new icons
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/cloud-filled.svg
  packages/icons/svg/cloud.svg
  packages/icons/svg/key.svg
  packages/icons/svg/shield_lock-filled.svg
  packages/icons/svg/shield_lock.svg
  packages/icons/svg/source_code.svg
  packages/icons/svg/telegram_colored.svg
  packages/icons/svg/telegram_mono.svg
Due: eslint --cache --fix, prettier --write

feat(DesignToken): adding helper to set opacity for DesignToken color
  packages/react-components/src/index.ts
  packages/react-components/src/utils/getDesignTokenWithOpacity.ts
  packages/react-components/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

feat(Icons): LC-786: adding new icons (#853)
  packages/icons/entryConfig.ts
  packages/icons/package.json
  packages/icons/svg/cloud-filled.svg
  packages/icons/svg/cloud.svg
  packages/icons/svg/key.svg
  packages/icons/svg/shield_lock-filled.svg
  packages/icons/svg/shield_lock.svg
  packages/icons/svg/source_code.svg
  packages/icons/svg/telegram_colored.svg
  packages/icons/svg/telegram_mono.svg
Due: eslint --cache --fix, prettier --write

refactored tooltip WIP
  packages/react-components/src/components/TooltipV2/Tooltip.module.scss
  packages/react-components/src/components/TooltipV2/Tooltip.stories.css
  packages/react-components/src/components/TooltipV2/TooltipV2.stories.tsx
  packages/react-components/src/components/TooltipV2/TooltipV2.tsx
  packages/react-components/src/components/TooltipV2/index.ts
  packages/react-components/src/utils/StackingContextLevel.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DesignToken): adding helper to set opacity for DesignToken color (#854)
  packages/react-components/src/index.ts
  packages/react-components/src/utils/getDesignTokenWithOpacity.ts
  packages/react-components/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

fix(PromoBannerV2): moving className prop to parent element
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Avatar): disabling user select on avatar component
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

fix(Avatar): Disable user select on avatar component (#858)
  packages/react-components/src/components/Avatar/Avatar.module.scss
Due: stylelint --fix, prettier --write

feat(Button): adding new link-inverted button kind
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/helpers.ts
  packages/react-components/src/components/Button/index.ts
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

build(vitest): adding required vitest coverage dep
  package-lock.json
  packages/react-components/package.json
Due: none

fix(PromoBannerV2): moving className prop to parent element (#857)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.module.scss
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): story improvement
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

refactored tooltip
  packages/react-components/src/components/TooltipV2/TooltipV2.stories.tsx
  packages/react-components/src/components/TooltipV2/TooltipV2.tsx
Due: eslint --cache --fix, prettier --write

update component with new logic
  packages/react-components/src/components/Tooltip/Tooltip.mdx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/FloatingComponent.tsx
  packages/react-components/src/components/Tooltip/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/Tooltip/types.ts
  packages/react-components/src/components/TooltipV2/Tooltip.module.scss
  packages/react-components/src/components/TooltipV2/Tooltip.stories.css
  packages/react-components/src/components/TooltipV2/TooltipV2.stories.tsx
  packages/react-components/src/components/TooltipV2/TooltipV2.tsx
  packages/react-components/src/components/TooltipV2/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): removing selected item border indication
  packages/react-components/src/components/Picker/PickerList.module.scss
Due: stylelint --fix, prettier --write
