Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

fix(ProductSwitcher): trail copy change
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): copy update
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): trail expiring copy change (#1304)
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

feat(AppFrame): expiration counter component and fixes
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.module.scss
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.spec.tsx
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AppFrame): expiration counter component and fixes (#1305)
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.module.scss
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.spec.tsx
  packages/react-components/src/components/AppFrame/components/ExpirationCounter/ExpirationCounter.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.35.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): main tooltip delay on hover
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): focus state
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ProductSwitcher): focus state text logo
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
Due: stylelint --fix, prettier --write

style(AutoComplete): extract types and helpers, move into separate dir
  packages/react-components/src/components/Input/AutoComplete/AutoComplete.spec.tsx
  packages/react-components/src/components/Input/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/Input/AutoComplete/helpers.tsx
  packages/react-components/src/components/Input/AutoComplete/index.ts
  packages/react-components/src/components/Input/AutoComplete/types.ts
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

chore(AutoComplete): extract into whole separate component
  packages/react-components/src/components/AutoComplete/AutoComplete.mdx
  packages/react-components/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/AutoComplete/helpers.tsx
  packages/react-components/src/components/AutoComplete/index.ts
  packages/react-components/src/components/AutoComplete/types.ts
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Accordion): new component
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Icons): new icons
  packages/icons/svg/flag_off.svg
  packages/icons/svg/plug_disconnected.svg
  packages/icons/svg/plug_disconnected_filled.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(Icons): new icons (#1308)
  packages/icons/svg/flag_off.svg
  packages/icons/svg/plug_disconnected.svg
  packages/icons/svg/plug_disconnected_filled.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

docs(Input): fix accidentally deleted content spec
  packages/react-components/src/components/Input/Input.mdx
Due: none

docs(AutoComplete): place Component API on the bottom
  packages/react-components/src/components/AutoComplete/AutoComplete.mdx
Due: none

fix(AutoComplete): remove unnecessary argTypes
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): main tooltip delay on hover (#1306)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): styles and keyboard controls
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): animated label with two types
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/helpers.tsx
  packages/react-components/src/components/Accordion/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): rendering hook
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/utils/index.ts
  packages/react-components/src/utils/useAnimations.ts
Due: eslint --cache --fix, prettier --write

v2.0.0-alpha.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(Accordion): multiline component
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): update
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/utils/useAnimations.ts
Due: eslint --cache --fix, prettier --write

fix(AutoComplete):show picker if user starts typing
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

fix(AutoComplete): export AutoComplete component
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): make customElement props optional (#1294)
  packages/react-components/src/components/Picker/components/PickerListItem.tsx
  packages/react-components/src/components/Picker/components/PickerTriggerBody.tsx
  packages/react-components/src/components/Picker/types.ts
Due: eslint --cache --fix, prettier --write

feat(Input): new AutoComplete component (#1295)
  packages/react-components/src/components/AutoComplete/AutoComplete.mdx
  packages/react-components/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/AutoComplete/helpers.tsx
  packages/react-components/src/components/AutoComplete/index.ts
  packages/react-components/src/components/AutoComplete/types.ts
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): docs tests and updates
  packages/react-components/src/components/Accordion/Accordion.mdx
  packages/react-components/src/components/Accordion/Accordion.spec.tsx
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/utils/useAnimations.ts
Due: eslint --cache --fix, prettier --write

fix(build): peerDependencies fix
  package-lock.json
  packages/react-components/package.json
Due: none

v2.0.0-alpha.6
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Accordion): styles update
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
Due: stylelint --fix, prettier --write

feat(Accordion): changes after review
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/utils/index.ts
  packages/react-components/src/utils/useHeightResizer.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): styles update
  packages/react-components/src/components/Accordion/Accordion.mdx
  packages/react-components/src/components/Accordion/Accordion.module.scss
Due: stylelint --fix, prettier --write

fix(Icon): OW icon fix
  packages/icons/svg/open_widget_colored.svg
Due: none

fix(Icon): OW icon fix (#1312)
  packages/icons/svg/open_widget_colored.svg
Due: none

v1.36.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(Accordion): new resize observer implementation
  packages/react-components/src/utils/useHeightResizer.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): check if resize observer is available
  packages/react-components/src/utils/useHeightResizer.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): update
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/SideNavigationGroup/SideNavigationGroup.tsx
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/useAnimations.ts
  packages/react-components/src/hooks/useHeightResizer.ts
  packages/react-components/src/utils/index.ts
Due: eslint --cache --fix, prettier --write
