Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

build(metrics): adding required parameter checks
  packages/metrics/package.json
  packages/metrics/src/constants.ts
  packages/metrics/src/flagmanService.ts
  packages/metrics/src/metricsGenerator.ts
Due: eslint --cache --fix, prettier --write

fix(DesignToken): Adding new tokens; generating token enums with lint-staged (#1031)
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
  packages/react-components/package.json
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Button): focus state update
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

feat(Skeleton): new component (#1025)
  packages/react-components/src/components/Skeleton/Skeleton.mdx
  packages/react-components/src/components/Skeleton/Skeleton.module.scss
  packages/react-components/src/components/Skeleton/Skeleton.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonAvatar.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonAvatar.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.stories.tsx
  packages/react-components/src/components/Skeleton/SkeletonText.tsx
  packages/react-components/src/components/Skeleton/SkeletonWrapper.tsx
  packages/react-components/src/components/Skeleton/index.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Button): Fix the focus state for keyboard control (#1027)
  packages/react-components/src/components/Button/styles/base.scss
  packages/react-components/src/components/Button/styles/kind.scss
Due: stylelint --fix, prettier --write

docs(TagInput): improved story
  packages/react-components/src/components/TagInput/TagInput.mdx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(TagInput): Passing Tag props to TagInput for tag customisation options (#1028)
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Tag/index.ts
  packages/react-components/src/components/Tag/types.ts
  packages/react-components/src/components/TagInput/TagInput.mdx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/components/EditableTag.tsx
  packages/react-components/src/components/TagInput/components/EditableTagContent.tsx
  packages/react-components/src/components/TagInput/components/EmailTagInput.tsx
  packages/react-components/src/components/TagInput/index.ts
  packages/react-components/src/components/TagInput/types.ts
Due: eslint --cache --fix, prettier --write

v1.18.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

docs(metrics): readme.md and minor improvements
  packages/metrics/README.md
  packages/metrics/src/constants.ts
  packages/metrics/src/flagmanService.ts
  packages/metrics/src/types.ts
Due: eslint --cache --fix, prettier --write

docs(metrics): gitignore fix
  packages/metrics/.gitignore
Due: none

fix(ActionBar): menu position logic update
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionBar): vartical mode styles update
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
Due: stylelint --fix, prettier --write

fix(ActionBar): styles fixes
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
Due: stylelint --fix, prettier --write

feat(Metrics): new Metrics subpackage (#1007)
  package-lock.json
  packages/metrics/.gitignore
  packages/metrics/README.md
  packages/metrics/package.json
  packages/metrics/src/constants.ts
  packages/metrics/src/flagmanService.ts
  packages/metrics/src/global.d.ts
  packages/metrics/src/index.ts
  packages/metrics/src/metricsGenerator.ts
  packages/metrics/src/tokenScan.ts
  packages/metrics/src/types.ts
  packages/metrics/src/utils.ts
  packages/metrics/tsconfig.json
Due: eslint --cache --fix, prettier --write

fix(ActionBar): docs update, more stories, logic fixes
  packages/react-components/src/components/ActionBar/ActionBar.mdx
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/constants.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, prettier --write

build(DesignToken): include deprecated information during DesignToken enum generation
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/foundations/design-token.ts
Due: eslint --cache --fix, prettier --write

fix(Search): fix for short input container, added ellipsis
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Search): fix for the font color
  packages/react-components/src/components/Search/Search.module.scss
Due: stylelint --fix, prettier --write

fix(Search): classname change
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DesignToken): updating color tokens
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Search): fix for short input container, added ellipsis (#1039)
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icons): add new brand icons: Gmail, Outlook, Microsoft365
  packages/icons/svg/gmail-colored.svg
  packages/icons/svg/microsoft365-colored.svg
  packages/icons/svg/outlook-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(ActionMenu): footer prop to display own element in the menu
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icons): adding Support and One icons
  packages/icons/svg/one-colored.svg
  packages/icons/svg/support.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(ActionMenu): Footer prop to display own element in the menu (#1041)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.spec.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Icons): add new brand icons: Gmail, Outlook, Microsoft365 (#1040)
  packages/icons/svg/gmail-colored.svg
  packages/icons/svg/microsoft365-colored.svg
  packages/icons/svg/outlook-colored.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(Icons): adding Support and One icons (#1042)
  packages/icons/svg/one-colored.svg
  packages/icons/svg/support.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(DesignToken): Adding new tokens; adding deprecated info to TS enum (#1038)
  packages/react-components/scripts/generateDesignTokenEnum.js
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v1.19.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

fix(ActionBar): styles update, selected item indicator will be placed based on the container size
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
  packages/react-components/src/components/ActionBar/styles/select-indicator.scss
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionBar): default story fix
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): fixed possition for the menu
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): animated chevron on menu open, possibility to hide element in the menu
  packages/react-components/src/components/ActionBar/ActionBar.module.scss
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionBar): change chevron icon for vertical
  packages/react-components/src/components/ActionBar/ActionBar.tsx
Due: eslint --cache --fix, prettier --write

fix(ActionBar): hide ul block in actionmenu if there is no elements to display
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
Due: eslint --cache --fix, prettier --write

build(Icons): reverting TS target
  packages/icons/tsconfig.json
Due: none

fix(ActionBar): display active state of selected element in the menu
  packages/react-components/src/components/ActionBar/ActionBar.stories.tsx
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionBar/types.ts
Due: eslint --cache --fix, prettier --write

fix(ActionBar): menu item tooltip change
  packages/react-components/src/components/ActionBar/ActionBarItem.tsx
Due: eslint --cache --fix, prettier --write

build(Icons): reverting TS target (#1043)
  packages/icons/tsconfig.json
Due: none

v1.19.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
