Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fixes after rebase
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/SpotlightOverlay.jsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

viewport tracking
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

change after review
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

handle position change of parent element
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

fix following of viewport
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

DS-172 - Picker component (#291)
  packages/react-components/src/components/Picker/Picker.module.scss
  packages/react-components/src/components/Picker/Picker.spec.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.spec.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for used Icon component in Picker
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
Due: eslint --cache --fix, prettier --write

DS-202 - Responsive version of promo banner (#312)
  packages/react-components/src/components/PromoBanner/PromoBanner.module.scss
  packages/react-components/src/components/PromoBanner/PromoBanner.spec.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

FileUploadProgress component
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

slide fix
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/virtualElementReference.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

PR fixes
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/SpotlightOverlay.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

UploadBar
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/FileUploadProgress/index.ts
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

managed tooltip fix
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

pr fixes
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
Due: eslint --cache --fix, prettier --write

close overlay on esc
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

removed portal
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
Due: eslint --cache --fix, prettier --write

DS-162 vite version of tooltip (#311)
  package-lock.json
  package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Modal/ModalPortal.tsx
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Interactive.tsx
  packages/react-components/src/components/Tooltip/Simple.tsx
  packages/react-components/src/components/Tooltip/SpotlightOverlay.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/UserGuide.tsx
  packages/react-components/src/components/Tooltip/UserGuideStep.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/components/Tooltip/index.ts
  packages/react-components/src/components/Tooltip/placeholder.png
  packages/react-components/src/components/Tooltip/virtualElementReference.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes
  packages/react-components/src/components/InAppMessages/InAppMessage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessage.spec.tsx
  packages/react-components/src/components/InAppMessages/InAppMessage.tsx
  packages/react-components/src/components/InAppMessages/InAppMessageImage.module.scss
  packages/react-components/src/components/InAppMessages/variables/InAppMessage.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Search/index.ts
Due: eslint --cache --fix, prettier --write

floatingui for popover
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, prettier --write

change after review
  packages/react-components/src/components/Search/Search.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-164 - Search (#306)
  packages/react-components/src/components/Search/Search.module.scss
  packages/react-components/src/components/Search/Search.spec.tsx
  packages/react-components/src/components/Search/Search.stories.tsx
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/Search/index.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/InAppMessages/InAppMessage.module.scss
  packages/react-components/src/components/InAppMessages/InAppMessage.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/utils/PdfIcon.tsx
Due: eslint --cache --fix, prettier --write

missing svg icons
  packages/icons/svg/material/camera.svg
  packages/icons/svg/material/code.svg
  packages/icons/svg/material/columns.svg
  packages/icons/svg/material/content_copy.svg
  packages/icons/svg/material/glasses.svg
  packages/icons/svg/material/move_to.svg
  packages/icons/svg/material/play_arrow.svg
  packages/icons/svg/material/position.svg
  packages/icons/svg/material/reply.svg
  packages/icons/svg/material/tips_and_updates.svg
Due: none

Technical roadmap introduction & readme revamp (#317)
  README.md
  docs/technical-roadmap.md
  package.json
Due: prettier --write

typo
  packages/design-system/src/components/TooltipNew/CssTooltip.md
Due: prettier --write

Add missing types for Tooltip stories.
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.12
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

DS-208, DS-209 Add new icons for browsers and OSes
  packages/icons/svg/material/apple.svg
  packages/icons/svg/material/chrome.svg
  packages/icons/svg/material/device_mobile.svg
  packages/icons/svg/material/edge.svg
  packages/icons/svg/material/firefox.svg
  packages/icons/svg/material/internet_explorer.svg
  packages/icons/svg/material/linux.svg
  packages/icons/svg/material/opera.svg
  packages/icons/svg/material/safari.svg
  packages/icons/svg/material/windows.svg
Due: none

missing svg icons (#323)
  packages/icons/svg/material/camera.svg
  packages/icons/svg/material/code.svg
  packages/icons/svg/material/columns.svg
  packages/icons/svg/material/content_copy.svg
  packages/icons/svg/material/glasses.svg
  packages/icons/svg/material/move_to.svg
  packages/icons/svg/material/play_arrow.svg
  packages/icons/svg/material/position.svg
  packages/icons/svg/material/reply.svg
  packages/icons/svg/material/tips_and_updates.svg
Due: none

Exports sub-components of Select
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
  packages/design-system/src/components/SelectField/SelectHead.js
  packages/design-system/src/components/SelectField/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/interfaces/forms.d.ts
Due: eslint --cache --fix, prettier --write

DS-208, DS-209 Add new icons for browsers and OSes (#327)
  packages/icons/svg/material/apple.svg
  packages/icons/svg/material/chrome.svg
  packages/icons/svg/material/device_mobile.svg
  packages/icons/svg/material/edge.svg
  packages/icons/svg/material/firefox.svg
  packages/icons/svg/material/internet_explorer.svg
  packages/icons/svg/material/linux.svg
  packages/icons/svg/material/opera.svg
  packages/icons/svg/material/safari.svg
  packages/icons/svg/material/windows.svg
Due: none

DS-187 - Upload components (#322)
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.stories.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/FileUploadProgress/index.ts
  packages/react-components/src/components/Progress/ProgressCircle.spec.tsx
  packages/react-components/src/components/Progress/ProgressCircle.tsx
  packages/react-components/src/components/UploadBar/UploadBar.module.scss
  packages/react-components/src/components/UploadBar/UploadBar.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/utils/PdfIcon.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix position on first render
  packages/icons/package-lock.json
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

test fixes and css
  packages/react-components/src/components/Popover/Popover.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes in name
  packages/react-components/src/components/Popover/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write

DS-205 Replace Popper with FloatingUI in Dropdown component (#329)
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover/Popover.spec.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write
