Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(LegacyModal): fix legacy modal message (#1494)
  docs/customized-components/Menu.js
Due: eslint --cache --fix, prettier --write

Updates
  build/bundle.0954a8c9.js
  build/bundle.17c29f41.js
  index.html
Due: eslint --cache --fix, prettier --write

feat(EmptyState): add EmptyState component (#1491)
  packages/react-components/src/components/EmptyState/EmptyState.mdx
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.spec.tsx
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/index.ts
  packages/react-components/src/components/EmptyState/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField): add boldLabel prop for InputPromo
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, prettier --write

v2.17.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(FormField): update margin-bottom to use spacing variable
  packages/react-components/src/components/FormField/FormField.module.scss
Due: stylelint --fix, prettier --write

feat(FormField): add a base for read-only support
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/providers/ReadOnlyFormFieldProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField): add boldLabel prop for InputPromo (#1495)
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField, Input): add read-only styles with fallback text
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Input/types.ts
  packages/react-components/src/providers/ReadOnlyFormFieldProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField): enhance story examples and adjust label boldness for read-only state
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, prettier --write

feat(stepper): added stepper component
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.stories.tsx
  packages/react-components/src/components/Stepper/Stepper.test.tsx
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/components/Stepper/index.ts
  packages/react-components/src/components/Stepper/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): overlay animation and blur, typing animation
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: tests
  packages/react-components/src/components/Stepper/Stepper.spec.tsx
  packages/react-components/src/components/Stepper/Stepper.tsx
Due: eslint --cache --fix, prettier --write

feat(Picker, Input): implement read-only support with fallback text; enhance FormField stories
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/types.ts
  packages/react-components/src/components/ReadOnlyText/ReadOnlyText.tsx
  packages/react-components/src/components/ReadOnlyText/index.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): animation start delay
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): changes after review
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/stories-helpers.css
  packages/react-components/src/components/UserGuide/stories-helpers.tsx
  packages/react-components/src/foundations/transition.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): optional z-index for the overlay
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): animation adjust
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/types.ts
Due: eslint --cache --fix, prettier --write

feat(UserGuide): animation adjust
  packages/react-components/src/components/UserGuide/components/UserGuideStep.tsx
Due: eslint --cache --fix, prettier --write

fix: cr fixes
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.spec.tsx
  packages/react-components/src/components/Stepper/Stepper.stories.tsx
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): animations upgrade
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
Due: stylelint --fix, prettier --write

fix: aria label
  packages/react-components/src/components/Stepper/Stepper.spec.tsx
  packages/react-components/src/components/Stepper/Stepper.tsx
Due: eslint --cache --fix, prettier --write

fix: change label color
  packages/react-components/src/components/Stepper/Stepper.module.scss
Due: stylelint --fix, prettier --write

feat(UserGuide): animations upgrade
  packages/react-components/src/components/UserGuide/UserGuide.module.scss
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField): add isEmpty state to support dynamic label styling
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/ReadOnlyText/ReadOnlyText.tsx
  packages/react-components/src/providers/ReadOnlyFormFieldProvider.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): changes after review
  packages/react-components/src/components/UserGuide/UserGuide.mdx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
Due: eslint --cache --fix, prettier --write

feat(TagInput): add read-only support with fallback text
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/types.ts
Due: eslint --cache --fix, prettier --write

feat(NumericInput): add read-only support with fallback text
  packages/react-components/src/components/NumericInput/NumericInput.stories.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
Due: eslint --cache --fix, prettier --write

feat(AutoComplete, Textarea): add read-only support with fallback text
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
  packages/react-components/src/components/AutoComplete/types.ts
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.stories.tsx
  packages/react-components/src/components/Textarea/Textarea.tsx
Due: eslint --cache --fix, prettier --write

feat(FormField, TagInput): enhance read-only support and add width constraint story
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

feat(Input, AutoComplete, TagInput): refine read-only state handling and documentation
  packages/react-components/src/components/AutoComplete/types.ts
  packages/react-components/src/components/Input/Input.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/ReadOnlyText/ReadOnlyText.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
  packages/react-components/src/components/TagInput/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(FormField): add read-only styling for cursor
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(stepper): added stepper component (#1500)
  packages/react-components/src/components/Stepper/Stepper.module.scss
  packages/react-components/src/components/Stepper/Stepper.spec.tsx
  packages/react-components/src/components/Stepper/Stepper.stories.tsx
  packages/react-components/src/components/Stepper/Stepper.tsx
  packages/react-components/src/components/Stepper/index.ts
  packages/react-components/src/components/Stepper/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ReadOnlyText, TagInput): simplify isEmpty logic and tag value extraction
  packages/react-components/src/components/ReadOnlyText/ReadOnlyText.tsx
  packages/react-components/src/components/TagInput/TagInput.tsx
Due: eslint --cache --fix, prettier --write

v2.18.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Checkbox): add read-only state support
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.stories.tsx
  packages/react-components/src/components/Checkbox/Checkbox.tsx
  packages/react-components/src/components/FormField/FormField.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): first and last steps with new component
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.tsx
  packages/react-components/src/components/UserGuide/components/AnimatedTextContainer/AnimatedTextContainer.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/types.ts
  packages/react-components/src/components/UserGuide/components/index.ts
  packages/react-components/src/components/UserGuide/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): update bubble radiuses
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RadioButton): add read-only state support
  packages/react-components/src/components/FormField/FormField.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.module.scss
  packages/react-components/src/components/RadioButton/RadioButton.stories.tsx
  packages/react-components/src/components/RadioButton/RadioButton.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Typography): add 3xs heading size
  packages/react-components/src/components/Typography/Heading.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/index.ts
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/HeadingExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
