Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(AppFrame): Fixes and Improvements (#1290)
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/types.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ProductSwitcher): lock in dark mode; add textUrl Prop (#1293)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

v1.33.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

test(Input): add AutoComplete tests
  packages/react-components/src/components/Input/AutoComplete.spec.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): adding title hint param
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AutoComplete): add and props
  packages/react-components/src/components/Input/AutoComplete.spec.tsx
  packages/react-components/src/components/Input/AutoComplete.tsx
  packages/react-components/src/components/Input/Input.mdx
  packages/react-components/src/components/Input/Input.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(AutoComplete): remove obsolete comment
  packages/react-components/src/components/Input/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

style(AutoComplete): extract function
  packages/react-components/src/components/Input/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): adding providers to build
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): adding title hint prop (#1291)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.33.4
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(OnboardingChecklist): title hint line fix
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
Due: stylelint --fix, prettier --write

fix(OnboardingChecklist): removing height and positioning arrow icon with flex
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ProductSwitcher): force dark mode tooltip
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): testing redirects
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): force dark mode tooltip and different redirect method (#1297)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

v1.33.5
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): reverting redirect and invert kind for tooltip
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): reverting redirect and invert kind for tooltip (#1298)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): improvements for right column
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): story fix
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): fixes and improvements (#1296)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.33.6
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): open or focus existing tab
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): adding description top padding
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
Due: stylelint --fix, prettier --write

fix(ProductSwitcher): additional space before hint
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): open or focus existing tab (#1299)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): minor fixes (#1300)
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.33.7
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(icons): add new icon: square rounded x
  packages/icons/svg/square_rounded_x.svg
Due: none

feat(icons): add new icon: flag and flag-filled
  packages/icons/svg/flag.svg
  packages/icons/svg/flag_filled.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

docs(README): adding info on potential disconnection issue
  README.md
Due: prettier --write

feat(product-switcher): add UTMs to product redirects
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

Revert "fix(ProductSwitcher): open or focus existing tab (#1299)"
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

feat(product-switcher): Add UTMs to product redirects; revert open or focus existing tab (#1302)
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(Icon): flag, flag_filled, square_rounded_x (#1301)
  packages/icons/svg/flag.svg
  packages/icons/svg/flag_filled.svg
  packages/icons/svg/square_rounded_x.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v1.34.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): allot to focus switcher with tab keys
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): Allow to focus switcher with tab keys (#1303)
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, prettier --write

v1.34.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
