Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

changes after review, bugs fixes, code refactor
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.module.scss
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

[Documentation] Update README to include the details on how to setup the project (#374)
  README.md
Due: prettier --write

#377 Alert now uses 'large' size for Icon (#384)
  packages/react-components/src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

#386 Separate disabled and locked states in Switch component (#389)
  packages/react-components/src/components/Switch/Switch.spec.tsx
  packages/react-components/src/components/Switch/Switch.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, prettier --write

changes
  packages/react-components/src/components/Picker/Trigger.spec.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.spec.tsx
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, prettier --write

#382 Handle only numeric values as Badge content. Support custom limit.
  packages/react-components/src/components/Badge/Badge.helpers.ts
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, prettier --write

Rename limit to max in order to be ready for min approach in the future
  packages/react-components/src/components/Badge/Badge.helpers.ts
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, prettier --write

#382 Handle only numeric values as Badge content. Support custom limit. (#383)
  packages/react-components/src/components/Badge/Badge.helpers.ts
  packages/react-components/src/components/Badge/Badge.spec.tsx
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
Due: eslint --cache --fix, prettier --write

Convert icons/package-locjk.json to use spaces
  packages/icons/package-lock.json
Due: none

v1.0.0-alpha.20
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

fix(DatePicker): fixing types in DatePicker stories
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(Datepicker): adding more stories
  packages/icons/svg/material/chevron-double-left.svg
  packages/icons/svg/material/chevron-double-right.svg
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Tab/_date-picker.scss
  packages/react-components/src/stories/DatePicker.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Datepicker): using color tokens, improving styles
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Tab/_date-picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(DatePicker): handle initial dates in props change
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/helpers.ts
  packages/react-components/src/components/Datepicker/hooks.ts
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

style(DatePicker): removing leftovers, fixing border-radius styles
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Tab/_date-picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Datepicker): component setup
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker.tsx
  packages/react-components/src/components/Tab/_date-picker.scss
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DatePicker): adding RangeDatePicker
  packages/react-components/src/components/Datepicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
  packages/react-components/src/components/Datepicker/helpers.ts
  packages/react-components/src/components/Datepicker/hooks.ts
  packages/react-components/src/components/Datepicker/types.ts
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

package-lock
  package-lock.json
Due: none

Link + Button as a Link & Link as a Button (#295)
  packages/styles/package-lock.json
Due: none

misplaced file
  packages/react-components/src/components/Tab/_date-picker.scss
Due: stylelint --fix, prettier --write

refactor(DatePicker): fixing injected props
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, prettier --write

styles
  packages/react-components/package-lock.json
Due: none

Popover (#298)
  packages/react-components/src/components/Popover.tsx
Due: eslint --cache --fix, prettier --write

accomodate datepicker for vite
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Datepicker/DatePicker.module.scss
  packages/react-components/src/components/Datepicker/DatePicker.spec.tsx
  packages/react-components/src/components/Datepicker/DatePicker.stories.tsx
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Datepicker/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.stories.tsx
  packages/react-components/src/components/Datepicker/RangeDatePicker.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

test(DatePicker): adding basic tests for DatePicker
  packages/react-components/src/components/Datepicker/DatePicker.spec.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, prettier --write

refactor(DatePicker): removing props that are injected by datepicker itself
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/components/Datepicker/types.ts
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fix state update on props change in DatePicker component
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/stories/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

moved stories
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/react-components/src/stories/RangeDatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

package lock
  package-lock.json
Due: none

styles are no more
  packages/styles/package-lock.json
  packages/styles/src/styles.scss
Due: stylelint --fix, prettier --write

lockfile conflicts
  packages/react-components/package-lock.json
Due: none

misplaced file
  packages/react-components/src/components/Popover.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): fix import in story
  packages/react-components/src/stories/DatePicker.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(DatePicker): using css variables in styles
  packages/react-components/src/components/Tab/_date-picker.scss
Due: stylelint --fix, prettier --write

messed up year change
  packages/react-components/src/components/DatePicker/DatePicker.tsx
Due: eslint --cache --fix, prettier --write

importing only whats necesary
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/hooks.ts
Due: eslint --cache --fix, prettier --write

folder rename step 1
  packages/react-components/src/components/tmp/DatePicker.module.scss
  packages/react-components/src/components/tmp/DatePicker.spec.tsx
  packages/react-components/src/components/tmp/DatePicker.stories.tsx
  packages/react-components/src/components/tmp/DatePicker.tsx
  packages/react-components/src/components/tmp/DatePickerNavbar.tsx
  packages/react-components/src/components/tmp/DatePickerRangeCalendarsWrapper.tsx
  packages/react-components/src/components/tmp/RangeDatePicker.spec.tsx
  packages/react-components/src/components/tmp/RangeDatePicker.stories.tsx
  packages/react-components/src/components/tmp/RangeDatePicker.tsx
  packages/react-components/src/components/tmp/helpers.ts
  packages/react-components/src/components/tmp/hooks.ts
  packages/react-components/src/components/tmp/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

navbar buttons wrap
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

simplifying helpers
  packages/react-components/src/components/Datepicker/helpers.ts
Due: eslint --cache --fix, prettier --write

range picker start end modifiers
  packages/react-components/src/components/Datepicker/DatePicker.module.scss
  packages/react-components/src/components/Datepicker/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
