Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(ProductSwitcher): animation
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): enabling redirect
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding docs
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.mdx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): useProductSwitcher hook
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
  packages/react-components/src/components/ProductSwitcher/index.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
  packages/react-components/src/hooks/useProductSwitcher.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): animation fix
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): types improvement
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
  packages/react-components/src/components/ProductSwitcher/index.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): tooltip strategy fix
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/index.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): styling fixes
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
Due: stylelint --fix, prettier --write

feat(ProductSwitcher): fix for redirect; adds platform data
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): useProductSwitcher env redirect data
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): enabling tooltip and tweaking animation
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): removing z-index for decoration
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(ProductSwitcher): removing platform from const
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): removing unused styles
  packages/react-components/src/components/ProductSwitcher/components/ProductTile/ProductTile.module.scss
Due: stylelint --fix, prettier --write

feat(ProductSwitcher): removing unused styles
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): review improvements
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): review improvements
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.mdx
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): ui update and focus statet management
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): update
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): focus outline
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
Due: stylelint --fix, prettier --write

feat(OnboardingChecklist): focus state fix
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(icon): fix fill color
  packages/icons/svg/click.svg
Due: none

fix(icon): add new Click icon (#1276)
  packages/icons/svg/click.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

fix(AppFrame): extract mobile breakpoint variable
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
Due: stylelint --fix, prettier --write

feat(AppFrame): change additional nodes prop name, add title component
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): add aria role
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
Due: eslint --cache --fix, prettier --write

fix(AppFrame): make children optional no need to force the component to have children
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
Due: eslint --cache --fix, prettier --write

test(AppFrame): add unit tests for NavTopBar
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): animation fix
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(AppFrame): improve documentation
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): new component (#1270)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.mdx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.module.scss
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.spec.tsx
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/components/index.ts
  packages/react-components/src/components/OnboardingChecklist/index.ts
  packages/react-components/src/components/OnboardingChecklist/types.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/index.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

feat(ProductSwitcher): review improvements
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.module.scss
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.module.scss
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcher.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.31.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(AppFrame): Navigation top bar and alerts (#1277)
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/NavigationTopBar.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/examples.tsx
  packages/react-components/src/components/AppFrame/components/NavigationTopBar/types.ts
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v1.32.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(ProductSwitcher): adding visibility props
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.tsx
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): removing junk
  packages/icons/livechat-design-system-icons-1.30.1.tgz
  packages/react-components/livechat-design-system-react-components-1.30.1.tgz
Due: none

feat(ProductSwitcher): removing unused shortcut listener
  packages/react-components/src/components/ProductSwitcher/components/ProductRow/ProductRow.tsx
  packages/react-components/src/components/ProductSwitcher/hooks/useProductSwitcherShortcut.ts
Due: eslint --cache --fix, prettier --write

feat(ProductSwitcher): adding tests and helpers fixes
  packages/react-components/src/components/ProductSwitcher/helpers.spec.ts
  packages/react-components/src/components/ProductSwitcher/helpers.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write
