Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(docs): removed external links for images and used static (#1451)
  packages/react-components/src/components/Avatar/Avatar.stories.tsx
  packages/react-components/src/components/Card/Card.module.scss
  packages/react-components/src/components/Card/Card.stories.tsx
  packages/react-components/src/components/InviteAgents/InviteAgents.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/constants.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/stories/assets/avatar.jpg
  packages/react-components/src/stories/assets/folder.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): fix group headers' height and equalize padding
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Picker): fix group headers' height and equalise padding (#1453)
  packages/react-components/src/components/Picker/components/PickerListItem.module.scss
  packages/react-components/src/components/Picker/constants.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Table): Format style files
  packages/react-components/src/components/Table/styles/pin.scss
  packages/react-components/src/components/Table/styles/strips.scss
Due: stylelint --fix, prettier --write

v2.11.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

docs(CodeOwners): update code owners list
  .github/CODEOWNERS
Due: none

docs(CodeOwners): update code owners list (#1454)
  .github/CODEOWNERS
Due: none

feat(DatePicker): lib update and related changes
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.module.scss
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(DatePicker): fixes
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenuItem): expose ActionMenuItem as a standalone component
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/components/ActionMenu/stories-constants.tsx
  packages/react-components/src/components/ActionMenu/types.ts
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.mdx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.module.scss
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.spec.tsx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.stories.css
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.stories.tsx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenuItem/index.ts
  packages/react-components/src/components/ActionMenuItem/types.ts
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenuItem): add export to index file
  packages/react-components/src/index.ts
Due: eslint --cache --fix, prettier --write

refactor(ActionMenuItem): small refactor of imports and names
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.stories.css
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.stories.tsx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenuItem/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(AiColored, AiOutlined): add new icons
  packages/icons/svg/ai_colored.svg
  packages/icons/svg/ai_outlined.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(AiColored, AiOutlined): fix fill values
  packages/icons/svg/ai_outlined.svg
Due: none

feat(AiColored, AiOutlined): add new icons (#1460)
  packages/icons/svg/ai_colored.svg
  packages/icons/svg/ai_outlined.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v2.12.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

feat(DatePicker): fixes
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, prettier --write

feat(OverflowTooltipText): setup new component
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.mdx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.module.scss
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.css
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/components/OverflowTooltipText/index.ts
  packages/react-components/src/components/OverflowTooltipText/types.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useIsOverflow.ts
  packages/react-components/src/hooks/useOnHover.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OverflowTooltipText): fix resize observer
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/hooks/useIsOverflow.ts
Due: eslint --cache --fix, prettier --write

feat(OverflowTooltipText): update docs
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.mdx
Due: none

feat(RangeDatePickerV2): new variant of component
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/helpers.ts
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/types.ts
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/components/Popover/Popover.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RangeDatePickerV2): adjusted selecting
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/components/RangeDatePickerV2Label.module.scss
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/components/RangeDatePickerV2Label.tsx
  packages/react-components/src/components/DatePicker/hooks.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RangeDatePickerV2): fixes and unit test
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.mdx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/helpers.ts
  packages/react-components/src/components/DatePicker/RangeDatePickerV2/types.ts
  packages/react-components/src/components/DatePicker/types.ts
Due: eslint --cache --fix, prettier --write

feat(DatePicker): nav button fix
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.tsx
Due: eslint --cache --fix, prettier --write

fix(docs): removed external links for images fixed
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(DatePicker): lib update and related changes (#1455)
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker/DatePicker.mdx
  packages/react-components/src/components/DatePicker/DatePicker.module.scss
  packages/react-components/src/components/DatePicker/DatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/DatePicker.stories.tsx
  packages/react-components/src/components/DatePicker/DatePicker.tsx
  packages/react-components/src/components/DatePicker/DatePickerNavbar.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.spec.tsx
  packages/react-components/src/components/DatePicker/RangeDatePicker.tsx
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.module.scss
  packages/react-components/src/components/DatePicker/components/DatePickerCustomNavigation.tsx
  packages/react-components/src/components/DatePicker/helpers.ts
  packages/react-components/src/components/DatePicker/types.ts
  packages/react-components/src/components/PromoBanner/PromoBanner.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.13.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(RangeDatePickerV2): moved to seperate folder to prevent circual deps
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.mdx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.module.scss
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.spec.tsx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.stories.tsx
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.module.scss
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.tsx
  packages/react-components/src/components/RangeDatePickerV2/helpers.ts
  packages/react-components/src/components/RangeDatePickerV2/index.ts
  packages/react-components/src/components/RangeDatePickerV2/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): content size fix
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
Due: eslint --cache --fix, prettier --write

feat(Popover): add animation
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, prettier --write

feat(Popover): refactor story template
  packages/react-components/src/components/Popover/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(TextWithTooltip): add cleanup for debounce function
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/hooks/useIsOverflow.ts
Due: eslint --cache --fix, prettier --write

feat(Accordion): moved to emotion styles part 1
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenuItem): rename to ListItem
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/stories-constants.tsx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.mdx
  packages/react-components/src/components/ActionMenuItem/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenuItem/index.ts
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/ListItem/ListItem.mdx
  packages/react-components/src/components/ListItem/ListItem.module.scss
  packages/react-components/src/components/ListItem/ListItem.spec.tsx
  packages/react-components/src/components/ListItem/ListItem.stories.css
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.tsx
  packages/react-components/src/components/ListItem/index.ts
  packages/react-components/src/components/ListItem/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenuItem): fix test
  packages/react-components/src/components/ListItem/ListItem.spec.tsx
Due: eslint --cache --fix, prettier --write

feat(Popover): add animation (#1468)
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Popover/types.ts
Due: eslint --cache --fix, prettier --write

feat(OverflowTooltipText): add new component (#1461)
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.mdx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.module.scss
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.css
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.tsx
  packages/react-components/src/components/OverflowTooltipText/index.ts
  packages/react-components/src/components/OverflowTooltipText/types.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useIsOverflow.ts
  packages/react-components/src/hooks/useOnHover.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(ActionMenuItem): expose ActionMenuItem as a standalone component ListItem (#1457)
  packages/react-components/src/components/ActionBar/ActionBar.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuItem.tsx
  packages/react-components/src/components/ActionMenu/index.ts
  packages/react-components/src/components/ActionMenu/stories-constants.tsx
  packages/react-components/src/components/ActionMenu/types.ts
  packages/react-components/src/components/InviteAgents/InviteAgents.tsx
  packages/react-components/src/components/ListItem/ListItem.mdx
  packages/react-components/src/components/ListItem/ListItem.module.scss
  packages/react-components/src/components/ListItem/ListItem.spec.tsx
  packages/react-components/src/components/ListItem/ListItem.stories.css
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.tsx
  packages/react-components/src/components/ListItem/index.ts
  packages/react-components/src/components/ListItem/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.14.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(RangeDatePickerV2): changes after review
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/RangeDatePickerV2/helpers.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
