Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

Action menu
  packages/react-components/src/stories/foundations/components/DropdownListNotSelectableExample.tsx
Due: eslint --cache --fix, prettier --write

tokens hover and focus
  packages/react-components/src/components/dropdown/DropdownList.tsx
  packages/react-components/src/components/dropdown/DropdownListItem.tsx
  packages/react-components/src/stories/foundations/components/DropdownListSelectableExample.tsx
  packages/styles/src/components/_dropdown.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Fix disabled state in ButtonLink + adjustments after CR
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Added link to v1 storybook
  README.md
Due: prettier --write

Pin node v16 as volta
  package.json
Due: none

removed Select component and added first version of Picker component
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Select/Select.tsx
  packages/react-components/src/components/Select/SelectList.tsx
  packages/react-components/src/components/Select/interfaces.ts
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/stories/Picker.stories.tsx
  packages/react-components/src/stories/Select.stories.tsx
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_select.scss
  packages/styles/src/components/_text-field.scss
  packages/styles/src/components/_trigger.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

removed outdated changes
  packages/react-components/src/components/TextField.tsx
  packages/react-components/src/components/constants.ts
  packages/styles/src/components/_field-error.scss
  packages/styles/src/components/_text-field.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

basic implementation of picker
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/stories/Picker.stories.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_picker.scss
  packages/styles/src/components/_trigger.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

popover wip
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
  packages/styles/src/components/_popover.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

import and header change
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

BEM
  packages/react-components/src/components/Popover.tsx
  packages/styles/src/components/_popover.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

move handling visiblity to component
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/stories/Picker.stories.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

more feature for picker
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/styles/src/components/_picker.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

first test, isVisible prop
  packages/react-components/src/components/Popover.spec.tsx
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
Due: eslint --cache --fix, prettier --write

label, error, disabled elements, styles
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/stories/Picker.stories.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_picker.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix for render on mount
  packages/react-components/src/components/Popover.tsx
Due: eslint --cache --fix, prettier --write

test on click
  packages/react-components/src/components/Popover.spec.tsx
Due: eslint --cache --fix, prettier --write

more features
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Datepicker): component setup
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/DatePicker.tsx
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/styles/src/components/_date-picker.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Datepicker): adding more stories
  packages/icons/src/material/chevron-double-left.svg
  packages/icons/src/material/chevron-double-right.svg
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/react-components/src/stories/DatePicker.stories.tsx
  packages/styles/src/components/_date-picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Datepicker): revert package-lock
  packages/react-components/package-lock.json
Due: none

feat(Datepicker): using color tokens, improving styles
  packages/react-components/src/components/Datepicker/DatePicker.tsx
  packages/react-components/src/components/Datepicker/DatePickerNavbar.tsx
  packages/styles/src/components/_date-picker.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

nea features - keyboard, items groups
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/stories/Picker.stories.tsx
  packages/styles/src/components/_picker-list.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

little change
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/constants/keyCodes.ts
Due: eslint --cache --fix, prettier --write

search
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

search
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

fix
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

pr fixes
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
  packages/styles/src/components/_popover.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changes after review
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/styles/src/components/_picker-list.scss
  packages/styles/src/components/_trigger.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

stories
  packages/react-components/src/components/Picker/Picker.tsx
  packages/react-components/src/stories/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

Visual tweaks
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/stories/Button.stories.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/components/_buttonGroup.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Link + Button as a Link & Link as a Button (#295)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Button.spec.tsx
  packages/react-components/src/components/Button.tsx
  packages/react-components/src/components/Link.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/stories/Button.stories.tsx
  packages/react-components/src/stories/Link.stories.tsx
  packages/styles/src/components/_button.scss
  packages/styles/src/components/_buttonGroup.scss
  packages/styles/src/components/_link.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Popover (#298)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover.spec.tsx
  packages/react-components/src/components/Popover.tsx
  packages/react-components/src/stories/Popover.stories.tsx
  packages/styles/src/components/_popover.scss
  packages/styles/src/styles.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

BEM
  packages/styles/src/components/_popover.scss
Due: stylelint --fix, prettier --write

first test, isVisible prop
  packages/react-components/src/components/Popover.tsx
Due: eslint --cache --fix, prettier --write

pr fixes
  packages/styles/src/components/_popover.scss
Due: stylelint --fix, prettier --write

action menu example
  packages/react-components/src/stories/Popover.stories.css
  packages/react-components/src/stories/Popover.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixed scrolling
  packages/react-components/src/components/Picker/PickerList.tsx
  packages/react-components/src/stories/Picker.stories.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: (any of: *.{js,jsx,ts,tsx,css,scss,md}) or ((any of: src/**/*.{js,jsx,tsx,ts,json}) or (any of: *.md))
  eslint --fix --ext .js,.jsx,.tsx,.ts: any of: src/**/*.{js,jsx,tsx,ts,json}
