Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

feat(SystemMessage): cr fixes alignment
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.module.scss
Due: stylelint --fix, prettier --write

feat(SystemMessage): new component (#1616)
  packages/react-components/src/components/SystemMessage/SystemMessage.mdx
  packages/react-components/src/components/SystemMessage/SystemMessage.module.scss
  packages/react-components/src/components/SystemMessage/SystemMessage.spec.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.stories.tsx
  packages/react-components/src/components/SystemMessage/SystemMessage.tsx
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.module.scss
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.spec.tsx
  packages/react-components/src/components/SystemMessage/components/SystemMessageTimestamp.tsx
  packages/react-components/src/components/SystemMessage/index.ts
  packages/react-components/src/components/SystemMessage/types.ts
  packages/react-components/src/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.28.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(Grid): standardize column system to a consistent 12-column layout
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): implement gutter spacing
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
  packages/react-components/src/components/Grid/components/column/Column.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): clean up SCSS comments
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): enhance responsive behavior with container queries
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/_grid-utils.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add collapsible sidebar to enhance layout flexibility in story
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(Grid): add default spacing system
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): update example stories
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/GridStylesStories.module.scss
  packages/react-components/src/components/Grid/components/column/Column.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): rename spacing to gutter
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Grid): update documentation to include gutter details
  packages/react-components/src/components/Grid/Grid.mdx
Due: none

docs(Grid): update breakpoint naming
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refactor(Grid): update breakpoint keys to string format
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): add margin support
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.module.scss
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Grid): integrate GridSizeController for responsive layout management in stories
  packages/react-components/src/components/Grid/Grid.mdx
  packages/react-components/src/components/Grid/Grid.stories.tsx
  packages/react-components/src/components/Grid/Grid.tsx
  packages/react-components/src/components/Grid/components/GridSizeController/GridSizeController.tsx
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.module.scss
  packages/react-components/src/components/Grid/components/GridVisualizer/GridVisualizer.tsx
  packages/react-components/src/foundations/grid-max-width-tokens.css
  packages/react-components/src/foundations/grid-max-width-tokens.ts
  packages/react-components/src/foundations/index.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Grid): update import path for GridMaxWidthToken in stories
  packages/react-components/src/components/Grid/Grid.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): improve height handling and button positioning
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): wip fix
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): move styles to classes
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): fix onbaordingcheklist height
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingCheklist): lint fix
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
Due: eslint --cache --fix, prettier --write

Revert "fix(OnboardingChecklist): move styles to classes"
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "fix(OnboardingChecklist): wip fix"
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): dynamic height with buffer
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, prettier --write

fix(OnboardingChecklist): adjusted padding and container height
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(OnboardingChecklist): improve height handling and button positioning (#1627)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.module.scss
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.28.1
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(OnboardingChecklist): add isOpen prop
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): change logic to control initial state only
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): cleanup
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): prevent incomplete checklist from being closed
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): add isOpen prop (#1632)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

v2.29.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(OnboardingChecklist): add onOpenChange callback prop
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

feat(OnboardingChecklist): add onOpenChange callback prop (#1634)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, prettier --write

v2.30.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

feat(icons): add, update, remove link icons
  packages/icons/svg/link-filled.svg
  packages/icons/svg/link_off.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

feat(icons): update link icons (#1636)
  packages/icons/svg/link-filled.svg
  packages/icons/svg/link_off.svg
  packages/react-components/src/components/Icon/IconsShowcase/constans.ts
Due: eslint --cache --fix, prettier --write

v2.31.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none
