Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, eslint --fix --ext .js,.jsx,.tsx,.ts

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,tsx,ts,json}": ["prettier --write", "eslint --fix --ext .js,.jsx,.tsx,.ts", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Chromatic TurboSnap feature (#609)
  .github/workflows/chromatic.yml
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

updating color token for plain button
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

Updating "Check" icon color for selected Picker Item
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

Updating content-basic-gradient-01 token for Legacy theme
  packages/react-components/src/themes/legacy.scss
Due: stylelint --fix, prettier --write

updating color token for light theme
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

adding new color tokens: SurfaceGradient01 and SurfaceGradient02
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

ui fixes
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

Avoid redundand calls of onOpen and onClose callbacks
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

ModalHeader and ModalFooter components usable as Modal props
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
  packages/react-components/src/components/Modal/StoriesComponents.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

switch to spacing variables
  packages/react-components/src/components/Modal/Modal.module.scss
Due: stylelint --fix, prettier --write

Updating color token for plain button (#615)
  packages/react-components/src/components/Button/Button.module.scss
Due: stylelint --fix, prettier --write

Updating content-basic-gradient-01 token for Legacy theme (#617)
  packages/react-components/src/themes/legacy.scss
Due: stylelint --fix, prettier --write

Updating color token for light theme (#618)
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write

Adding new color tokens: SurfaceGradient01 and SurfaceGradient02 (#619)
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/design-token.ts
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

changing material icon to tabler
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

Updating "Check" icon color for selected Picker Item (#616)
  packages/react-components/src/components/Picker/PickerList.tsx
Due: eslint --cache --fix, prettier --write

readme update
  README.md
Due: prettier --write

pull request template update
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Avoid redundand calls of onOpen and onClose callbacks (#621)
  packages/react-components/src/components/Tooltip/Tooltip.spec.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

firing open-close callbacks for managed components
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

css fixes
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/ModalFooter.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

firing open-close callbacks for when controlled values is changing except initial render
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

Firing open-close callbacks for managed components (#623)
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

icon size and kind
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

add icon props
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

use typography from comment suggestions
  packages/react-components/src/components/Modal/Modal.module.scss
  packages/react-components/src/components/Modal/Modal.stories.tsx
  packages/react-components/src/components/Modal/ModalHeader.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

prettier fixes
  packages/example-react/package-lock.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/stories/Icons.stories.mdx
Due: none

Prettier formatting fixes (#627)
  packages/example-react/package-lock.json
  packages/icons/package-lock.json
  packages/react-components/package-lock.json
  packages/react-components/src/components/ActionMenu/ActionMenu.mdx
  packages/react-components/src/stories/Icons.stories.mdx
Due: none

v1.0.0-alpha.58
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none

tabler icons in compoenents
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Card/Card.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgress.tsx
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.module.scss
  packages/react-components/src/components/FileUploadProgress/FileUploadProgressActions.tsx
  packages/react-components/src/components/Input/Input.stories.tsx
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/Modal/ModalCloseButton.tsx
  packages/react-components/src/components/NumericInput/NumericInput.tsx
  packages/react-components/src/components/Picker/Trigger.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/PromoBanner/PromoBanner.tsx
  packages/react-components/src/components/Search/Search.tsx
  packages/react-components/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/react-components/src/components/Switch/Switch.tsx
  packages/react-components/src/components/Tag/Tag.stories.tsx
  packages/react-components/src/components/Tag/Tag.tsx
  packages/react-components/src/components/Toast/Toast.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UploadBar/UploadBar.tsx
  packages/react-components/src/stories/Icons.stories.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix
  packages/react-components/src/components/Toast/Toast.tsx
Due: eslint --cache --fix, prettier --write

updating vite-plugin-dts and types path in package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

vite plugin legacy
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

UI fixes
  packages/react-components/src/components/Tooltip/Info.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/helpers.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fixes after review
  packages/react-components/src/components/Picker/Trigger.module.scss
  packages/react-components/src/components/Picker/TriggerBody.module.scss
  packages/react-components/src/components/Picker/TriggerBody.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

removing nullish coalescing operator and @vitejs/plugin-legacy
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

style fix
  packages/react-components/src/components/Picker/TriggerBody.module.scss
Due: stylelint --fix, prettier --write

fix for nullish coalescing operator expanding
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

Fixes for build process (#630)
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Popover/Popover.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/vite.config.ts
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.59
  lerna.json
  packages/example-react/package-lock.json
  packages/example-react/package.json
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: none
