Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
    "*.{css,scss}": "stylelint --fix",
    "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write"
  }

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "prettier --write",
  "./packages/react-components/src/themes/**/*.{css,scss}": "cd ./packages/react-components && npm run generate-ds-tokens-enum"
}

Revert "refactor(Form, FormField, FormGroup, FieldDescription, FieldError, FieldGroup): migrate to emotion (#1549)"
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
  packages/react-components/src/components/FieldDescription/FieldDescription.tsx
  packages/react-components/src/components/FieldDescription/styles.ts
  packages/react-components/src/components/FieldError/FieldError.module.scss
  packages/react-components/src/components/FieldError/FieldError.tsx
  packages/react-components/src/components/FieldError/styles.ts
  packages/react-components/src/components/FieldGroup/FieldGroup.module.scss
  packages/react-components/src/components/FieldGroup/FieldGroup.tsx
  packages/react-components/src/components/Form/Form.module.scss
  packages/react-components/src/components/Form/Form.tsx
  packages/react-components/src/components/Form/styles.ts
  packages/react-components/src/components/FormField/FormField.module.scss
  packages/react-components/src/components/FormField/FormField.tsx
  packages/react-components/src/components/FormField/styles.ts
  packages/react-components/src/components/FormGroup/FormGroup.module.scss
  packages/react-components/src/components/FormGroup/FormGroup.tsx
  packages/react-components/src/components/FormGroup/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(EmptyState): migrate to emotion (#1548)"
  packages/react-components/src/components/EmptyState/EmptyState.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.module.scss
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/EmptyState/EmptyState.tsx
  packages/react-components/src/components/EmptyState/styles-stories.ts
  packages/react-components/src/components/EmptyState/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Alert): migrate to emotion (#1542)"
  packages/react-components/src/components/Alert/Alert.module.scss
  packages/react-components/src/components/Alert/Alert.tsx
  packages/react-components/src/components/Alert/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "feat(ActionCard): moved to emotion (#1539)"
  packages/react-components/src/components/ActionCard/ActionCard.module.scss
  packages/react-components/src/components/ActionCard/ActionCard.tsx
  packages/react-components/src/components/ActionCard/styles.ts
  packages/react-components/src/styles/animations.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(ActionMenu): migrate to emotion (#1550)"
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
  packages/react-components/src/components/ActionMenu/ActionMenu.tsx
  packages/react-components/src/components/ActionMenu/styles.ts
  packages/react-components/src/foundations/index.ts
  packages/react-components/src/foundations/stacking-context-level.css
  packages/react-components/src/foundations/stacking-context-level.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(DetailsCard): migrate to emotion (#1555)"
  packages/react-components/src/components/DetailsCard/DetailsCard.module.scss
  packages/react-components/src/components/DetailsCard/DetailsCard.tsx
  packages/react-components/src/components/DetailsCard/styles.ts
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.module.scss
  packages/react-components/src/components/DetailsCardInfo/DetailsCardInfo.tsx
  packages/react-components/src/components/DetailsCardInfo/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "refactor(Badge): migrate to emotion (#1560)"
  packages/react-components/src/components/Badge/Badge.module.scss
  packages/react-components/src/components/Badge/Badge.stories.tsx
  packages/react-components/src/components/Badge/Badge.tsx
  packages/react-components/src/components/Badge/styles.ts
  packages/react-components/src/components/Badge/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "feat(Accordion): moved to emotion styles (#1470)"
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/components/index.ts
  packages/react-components/src/components/Accordion/helpers.tsx
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Readme): update
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/index.ts
Due: eslint --cache --fix, prettier --write

docs(Readme): update
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

docs(Readme): update
  package-lock.json
  packages/react-components/src/components/Table/TableRow.tsx
Due: eslint --cache --fix, prettier --write

docs(Readme): update
  package-lock.json
Due: none

docs(Readme): update
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Accordion/Accordion.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.css
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/Modal/Modal.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.css
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/Picker/Picker.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Popover/Popover.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/SelectableCard/SelectableCard.css
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "docs(Readme): update"
  packages/react-components/.storybook/preview.js
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.css
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.stories.css
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/Modal/Modal.stories.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.css
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/Picker/Picker.stories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Popover/Popover.stories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.css
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.css
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.stories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Revert "docs(Readme): update"
  package-lock.json
Due: none

Revert "docs(Readme): update"
  package-lock.json
  packages/react-components/src/components/Table/TableRow.tsx
Due: eslint --cache --fix, prettier --write

Revert "docs(Readme): update"
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

Revert "docs(Readme): update"
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  packages/react-components/.storybook/preview.js
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/index.ts
Due: eslint --cache --fix, prettier --write

Revert "Revert "feat(Accordion): moved to emotion styles (#1470)""
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.spec.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/components/index.ts
  packages/react-components/src/components/Accordion/helpers.tsx
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Accordion): revert emotion changes
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/index.ts
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs(Storybook): improve Chromatic testing configuration
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Accordion): revert emotion changes (#1575)
  packages/react-components/package.json
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/AccordionAnimatedLabel.tsx
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel/styles.ts
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.module.scss
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/AccordionMultilineElement.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement/styles.ts
  packages/react-components/src/components/Accordion/index.ts
  packages/react-components/src/components/Accordion/styles.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

v2.24.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

refactor(Storybook): update story css imports
  package-lock.json
  package.json
  packages/react-components/.storybook/main.ts
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/AccordionStories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuStories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrameStories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCardStories.css
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/ListItem/ListItemStories.css
  packages/react-components/src/components/Modal/ModalStories.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipTextStories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerStories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/PopoverStories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2Stories.css
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/SelectableCardStories.css
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/TooltipStories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuideStories.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

chore(package-lock): fix conflicts in packge lock
  package-lock.json
Due: none

refactor(TableRow): replace emotion's cx with clsx
  packages/react-components/src/components/Table/TableRow.tsx
Due: eslint --cache --fix, prettier --write

docs(Storybook): rename stories CSS files and fix chromatic
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/AccordionStories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuStories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrameStories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCardStories.css
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/ListItem/ListItemStories.css
  packages/react-components/src/components/Modal/ModalStories.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipTextStories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerStories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/PopoverStories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2Stories.css
  packages/react-components/src/components/SelectableCard/SelectableCardStories.css
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/TooltipStories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuideStories.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(OnboardingChecklist): new prop for custom content to list item
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklistStories.css
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(SelectableCard): update import path for stories CSS file
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
Due: eslint --cache --fix, prettier --write

docs(Storybook): rename stories CSS files and fix chromatic (#1579)
  packages/react-components/src/components/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/Accordion/AccordionStories.css
  packages/react-components/src/components/ActionMenu/ActionMenu.stories.tsx
  packages/react-components/src/components/ActionMenu/ActionMenuStories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrameStories.css
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/DetailsCard/DetailsCard.stories.tsx
  packages/react-components/src/components/DetailsCard/DetailsCardStories.css
  packages/react-components/src/components/EmptyState/EmptyState.stories.tsx
  packages/react-components/src/components/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/ListItem/ListItemStories.css
  packages/react-components/src/components/Modal/ModalStories.css
  packages/react-components/src/components/Modal/StoriesComponents.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipText.stories.tsx
  packages/react-components/src/components/OverflowTooltipText/OverflowTooltipTextStories.css
  packages/react-components/src/components/Picker/Picker.stories.tsx
  packages/react-components/src/components/Picker/PickerStories.css
  packages/react-components/src/components/Popover/Popover.stories.tsx
  packages/react-components/src/components/Popover/PopoverStories.css
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2Stories.css
  packages/react-components/src/components/SelectableCard/SelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/SelectableCardStories.css
  packages/react-components/src/components/SelectableCard/components/GallerySelectableCard/GallerySelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/InteractiveSelectableCard/InteractiveSelectableCard.stories.tsx
  packages/react-components/src/components/SelectableCard/components/ThumbnailSelectableCard/ThumbnailSelectableCard.stories.tsx
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/TooltipStories.css
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuideStories.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): add animation and transition duration examples
  packages/react-components/src/components/Table/TableRow.tsx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/stories/foundations/Transition/components/TransitionDurationExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionExample.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): adjust Chromatic delay for screenshot testing
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

refactor(DesignTokens): update deprecated color variables across components
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
  packages/react-components/src/components/FieldDescription/FieldDescription.module.scss
  packages/react-components/src/components/Input/Input.tsx
  packages/react-components/src/components/InviteAgents/components/AnimatedButton/AnimatedButton.module.scss
  packages/react-components/src/components/Picker/PickerStories.css
  packages/react-components/src/components/Popover/PopoverStories.css
  packages/react-components/src/components/SearchInput/SearchInput.module.scss
  packages/react-components/src/components/SelectableCard/SelectableCardStories.css
  packages/react-components/src/components/Tab/TabsWrapper.module.scss
  packages/react-components/src/components/Tooltip/TooltipStories.css
  packages/react-components/src/components/UserGuide/UserGuideStories.css
  packages/react-components/src/stories/foundations/Typography/Typography.mdx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(UserGuide): ui changes
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/types.ts
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.spec.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(UserGuide): add animation and transition duration examples (#1582)
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/UserGuide/UserGuide.stories.tsx
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/foundations/transition.css
  packages/react-components/src/stories/foundations/Transition/components/TransitionDurationExample.tsx
  packages/react-components/src/stories/foundations/Transition/components/TransitionExample.module.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(RangeDatePickerV2): display selected predefined filter
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.tsx
Due: eslint --cache --fix, prettier --write

feat(RangeDatePickerV2): display selected predefined filter (#1585)
  packages/react-components/src/components/RangeDatePickerV2/RangeDatePickerV2.tsx
  packages/react-components/src/components/RangeDatePickerV2/components/RangeDatePickerV2Label.tsx
Due: eslint --cache --fix, prettier --write

fix(AnimatedTextContainer): script fix
  packages/react-components/src/components/AnimatedTextContainer/AnimatedTextContainer.tsx
Due: eslint --cache --fix, prettier --write

feat(UserGuide): ui changes
  packages/react-components/src/components/UserGuide/components/UserGuideBubbleStep/UserGuideBubbleStep.module.scss
  packages/react-components/src/components/UserGuide/components/UserGuideStep/UserGuideStep.module.scss
Due: stylelint --fix, prettier --write

feat(OnboardingChecklist): new prop for custom content to list item (#1580)
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.stories.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklist.tsx
  packages/react-components/src/components/OnboardingChecklist/OnboardingChecklistStories.css
  packages/react-components/src/components/OnboardingChecklist/components/CheckListItem.tsx
  packages/react-components/src/components/OnboardingChecklist/types.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write
