Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

test(Release): test
  .github/workflows/release.yml
Due: none

ci(Release): new workflow
  .github/workflows/release.yml
Due: none

ci(Release): workflow name update
  .github/workflows/release.yml
Due: none

feat(AppFrame): mobile view and MobileNavigation component (#1319)
  packages/react-components/src/components/Accordion/Accordion.tsx
  packages/react-components/src/components/Accordion/components/AccordionMultilineElement.tsx
  packages/react-components/src/components/AppFrame/AppFrame.mdx
  packages/react-components/src/components/AppFrame/AppFrame.module.scss
  packages/react-components/src/components/AppFrame/AppFrame.spec.tsx
  packages/react-components/src/components/AppFrame/AppFrame.stories.css
  packages/react-components/src/components/AppFrame/AppFrame.stories.tsx
  packages/react-components/src/components/AppFrame/AppFrame.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.module.scss
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.spec.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/MobileNavigation.tsx
  packages/react-components/src/components/AppFrame/components/MobileNavigation/types.ts
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.module.scss
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.spec.tsx
  packages/react-components/src/components/AppFrame/components/NavigationItem/NavigationItem.tsx
  packages/react-components/src/components/AppFrame/components/index.ts
  packages/react-components/src/components/AppFrame/stories-helpers.tsx
  packages/react-components/src/components/AppFrame/types.ts
  packages/react-components/src/hooks/helpers.ts
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/types.ts
  packages/react-components/src/hooks/useHeightResizer.ts
  packages/react-components/src/hooks/useMobileViewDetector.ts
  packages/react-components/src/hooks/useSharedResizeObserver.ts
  packages/react-components/src/providers/AppFrameProvider.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ProductSwitcher): updating redirect configs for hello
  packages/react-components/src/components/ProductSwitcher/constants.ts
Due: eslint --cache --fix, prettier --write

fix(ProductSwitcher): temporary reverting TeamChat to Hello
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

fix(Test): fix for deps
  .github/workflows/release.yml
  package-lock.json
  packages/react-components/package.json
Due: none

fix(ProductSwitcher): updating Hello redirect config (#1320)
  packages/react-components/src/components/ProductSwitcher/ProductSwitcher.stories.tsx
  packages/react-components/src/components/ProductSwitcher/constants.ts
  packages/react-components/src/components/ProductSwitcher/types.ts
Due: eslint --cache --fix, prettier --write

build(GithubAction): run custom workflows only on main
  .github/workflows/check-pr-title.yml
  .github/workflows/update-pr-description.yml
Due: none

build(GithubAction): run custom workflows only on main (#1335)
  .github/workflows/check-pr-title.yml
  .github/workflows/update-pr-description.yml
Due: none

fix(Release): workflow update
  .github/workflows/release.yml
  package.json
Due: none

fix(Release): pr title change
  .github/workflows/release.yml
Due: none

fix(Release): workflow update (#1337)
  .github/workflows/release.yml
  package.json
Due: none

build(package-lock): reverting package-lock with testing-library/dom
  package-lock.json
Due: none

fix(Workflow): test
  .github/workflows/release.yml
Due: none

test(Release): workflow update
  .github/workflows/release.yml
Due: none

chore(GithubAction): release test
  .github/workflows/release.yml
Due: none

chore(GithubAction): test run
  .github/workflows/release.yml
Due: none

chore(GithubAction): test run 2
  .github/workflows/release.yml
Due: none

chore(GithubAction): test run 3
  .github/workflows/release.yml
Due: none

v2.0.0-alpha.8
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/react-components/package.json
Due: none

fix(AutoComplete): fix autocomplete behavior in forms
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

fix(AutoComplete): only open the picker when not pressing Enter
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

feat(Button): animated label
  packages/react-components/src/components/Button/Button.helpers.ts
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/animated-label.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Button): doc change
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(AutoComplete): fix autocomplete behavior in forms by preventing submissions on Enter keypress (#1350)
  packages/react-components/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/react-components/src/components/AutoComplete/AutoComplete.tsx
Due: eslint --cache --fix, prettier --write

feat(Button): changes after review
  packages/react-components/src/components/Button/Button.helpers.ts
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

feat(Button): animated label (#1351)
  packages/react-components/src/components/Button/Button.helpers.ts
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/animated-label.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Release): package-lock fix
  package-lock.json
Due: none

chore(prettier): prettier formating
  packages/react-components/src/components/AutoComplete/AutoComplete.spec.tsx
  packages/react-components/src/components/Picker/components/PickerList.spec.tsx
Due: eslint --cache --fix, prettier --write

v2.0.0
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/icons/package.json
  packages/metrics/package.json
  packages/react-components/package.json
Due: none

feat(Accordion): change label height based on child component
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(Accordion): increase minimum height of label
  packages/react-components/src/components/Accordion/Accordion.module.scss
  packages/react-components/src/components/Accordion/Accordion.stories.css
  packages/react-components/src/components/Accordion/components/AccordionAnimatedLabel.module.scss
Due: stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
