Repository livechat/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Typography): ui updates + new display variant
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/DisplayExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Typography): changes after review
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Switch): ui updates (#1110)
  packages/react-components/src/components/Switch/Switch.module.scss
  packages/react-components/src/components/Switch/Switch.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Typography): changes after review
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Typography): changes after review
  packages/react-components/src/components/Typography/Display.tsx
Due: eslint --cache --fix, prettier --write

fix(Typography): ui updates + new display variant (#1111)
  packages/react-components/src/components/PromoBannerV2/PromoBannerV2.stories.tsx
  packages/react-components/src/components/Typography/Display.tsx
  packages/react-components/src/components/Typography/Typography.module.scss
  packages/react-components/src/components/Typography/types.ts
  packages/react-components/src/stories/foundations/Typography/components/DisplayExamples.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip: Info): only make space for the X button when it's enabled (#1105)
  packages/react-components/src/components/Tooltip/components/Info.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): change icon size for xcompact button
  packages/react-components/src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix(Button): changes after review
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/icon.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Button): change icon size for xcompact button (#1112)
  packages/react-components/src/components/Button/Button.tsx
  packages/react-components/src/components/Button/styles/icon.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(ActionMenu): ui fix with border radius
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(ModalHeader): Typo in ModalHeader interface (#1091)
  packages/react-components/src/components/Modal/components/ModalHeader.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): ui fixes
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Tooltip): UI fixes (#1114)
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(ActionMenu): ui fix with border radius (#1113)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

v1.22.2
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

fix(Checkbox): ui fix for checkbox shrinking
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): ui fix for border disabled state
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

fix(Picker): ui fix for border disabled state (#1116)
  packages/react-components/src/components/Picker/components/PickerTrigger.module.scss
Due: stylelint --fix, prettier --write

fix(ActionMenu): use opacity for disabled elements
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(RangeDatePicker): correct code snippet in docs
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
Due: none

fix(Tooltip): fix for arrow color
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
Due: eslint --cache --fix, prettier --write

fix(Tooltip): story with kinds
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for item removing in multi picker while filtering
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): select all option fix
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(Picker): fix for item removing in multi picker while filtering (#1121)
  packages/react-components/src/components/Picker/hooks/usePickerItems.ts
Due: eslint --cache --fix, prettier --write

fix(ActionMenu): use opacity for disabled elements (#1118)
  packages/react-components/src/components/ActionMenu/ActionMenu.module.scss
Due: stylelint --fix, prettier --write

fix(Checkbox): ui fix for checkbox shrinking (#1115)
  packages/react-components/src/components/Checkbox/Checkbox.module.scss
Due: stylelint --fix, prettier --write

fix(RangeDatePicker): correct code snippet in docs (#1119)
  packages/react-components/src/components/DatePicker/RangeDatePicker.mdx
Due: none

fix(Tooltip): added new button variants, new icon variant, ui changes
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): button new kinds name changes, new tokens
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Tooltip): changes after review
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): changes after review
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(Tooltip): button sizes story update
  packages/react-components/src/components/Button/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

fix(Typography): fix in docs
  packages/react-components/src/stories/foundations/Typography/components/DisplayExamples.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): changes after review
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
Due: eslint --cache --fix, prettier --write

fix(Tooltip): UI fixes for Interactive kind, arrow color fixes (#1120)
  packages/react-components/.storybook/preview-head.html
  packages/react-components/src/components/Button/Button.module.scss
  packages/react-components/src/components/Button/Button.stories.tsx
  packages/react-components/src/components/Button/styles/kind.scss
  packages/react-components/src/components/Button/types.ts
  packages/react-components/src/components/Icon/Icon.module.scss
  packages/react-components/src/components/Icon/Icon.tsx
  packages/react-components/src/components/Tooltip/Tooltip.module.scss
  packages/react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/react-components/src/components/Tooltip/Tooltip.tsx
  packages/react-components/src/components/Tooltip/components/Interactive.tsx
  packages/react-components/src/components/Tooltip/helpers.ts
  packages/react-components/src/foundations/design-token.ts
  packages/react-components/src/stories/components/StoryDescriptor.tsx
  packages/react-components/src/stories/foundations/Color/Color.stories.mdx
  packages/react-components/src/stories/foundations/Color/data.ts
  packages/react-components/src/stories/foundations/Color/types.ts
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: eslint --cache --fix, stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

fix(Tokens): changes before release
  packages/react-components/src/themes/dark.scss
  packages/react-components/src/themes/legacy.scss
  packages/react-components/src/themes/light.scss
Due: stylelint --fix, prettier --write, cd ./packages/react-components && npm run generate-ds-tokens-enum

v1.22.3
  lerna.json
  package-lock.json
  packages/example-react/package.json
  packages/react-components/package.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md}
  cd ./packages/react-components && npm run generate-ds-tokens-enum: any of: ./packages/react-components/src/themes/**/*.{css,scss}
